
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688;
	}

</style>

<!-- complete modal -->
<div id="complete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Mark Project as Complete</h4>
    <p>Are you sure you want to mark this PROJECT as 'COMPLETE'?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markComplete({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, project complete!</a>
  </div>
</div>

<!-- complete modal -->
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #E57373; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Delete Project</h4>
    <p>Are you sure you want to DELETE this PROJECT and all its associated data?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.deleteProject({{ panel.project }})" class=" modal-action modal-close waves-effect waves-red btn-flat">Yes, delete project!</a>
  </div>
</div>


<!-- active modal -->
<div id="active-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Mark Project as Active</h4>
    <p>Are you sure you want to move this project to 'Active'?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markActive({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, move project to active!</a>
  </div>
</div>

	<!-- panels -->
	<div class="row" ng-if="panel.project.admin0pcode === 'AF'">
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/details/{{ panel.project.id }}">
	   	 <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/details-1.jpg">
	      </div>
	      <div class="card-content white-text">
	      	<p class="card-title">Project Plan</p>
	      </div>
	      <div class="card-action">
	        <a href="#/cluster/projects/details/{{ panel.project.id }}">Go to Project Plan</a>
	      </div>
	    </div>
	    </a>
	  </div>
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/financials/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/reports.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">Financial Reports</p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/financials/{{ panel.project.id }}">Go to Financial Reports</a>
		      </div>
		    </div>
		   </a>
	  </div>
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/report/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/monthly_report.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">Monthly Progress</p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/report/{{ panel.project.id }}">Go to Monthly Progress</a>
		      </div>
		    </div>
		   </a>
		</div>
		<!-- UNDER CONSTRUCTION -->
		<!-- <div class="col s12 m4">
			<a href="#/cluster/projects/upload/{{ panel.project.id }}">
				<div class="card small blue-grey darken-1 hoverable">
					<div class="card-image">
						<img src="images/cluster/monthly_report.jpg">
					</div>
					<div class="card-content white-text">
						<p class="card-title">Documents</p>
					</div>
					<div class="card-action">
						<a href="#/cluster/projects/upload/{{ panel.project.id }}">Go to Documents</a>
					</div>
				</div>
			</a>
		</div> -->
	</div>

	<!-- panels -->
	<div class="row" ng-if="panel.project.admin0pcode !== 'AF'">
	  <div class="col s12 m6">
	  	<a href="#/cluster/projects/details/{{ panel.project.id }}">
	   	 <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/details-1.jpg">
	      </div>
	      <div class="card-content white-text">
	      	<p class="card-title">Project Plan</p>
	      </div>
	      <div class="card-action">
	        <a href="#/cluster/projects/details/{{ panel.project.id }}">Go to Project Plan</a>
	      </div>
	    </div>
	    </a>
	  </div>
	  <div class="col s12 m6">
	  	<a href="#/cluster/projects/report/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/monthly_report.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">Monthly Progress</p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/report/{{ panel.project.id }}">Go to Monthly Progress</a>
		      </div>
		    </div>
		   </a>
	  </div>
	</div>

	<!-- project to complete -->
	<div class="row" ng-if="panel.project.project_status === 'active'">
		<div class="col s12 m12 l12">
			<div class="widget card-panel white grey-text text-darken-2">
				<!-- submission -->
				<div align="center">
					<button data-target="complete-modal" class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
						<i class="material-icons left">assignment_turned_in</i>Mark Project as Complete
					</button>
					<br/>
					<br/>
					<button data-target="delete-modal" class="waves-effect waves-light btn modal-trigger red lighten-2" ng-cloak>
						<i class="material-icons left">delete_forever</i>Delete Project
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- project to active -->
	<div class="row" ng-if="panel.project.project_status === 'complete'">
		<div class="col s12 m12 l12">
			<div class="widget white grey-text text-darken-2">
				<!-- submission -->
				<div align="center">
					<button data-target="active-modal" class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
						<i class="material-icons left">assignment_turned_in</i>Mark Project as Active
					</button>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">

  // modals
  setTimeout(function(){
  	$('.modal-trigger').leanModal();
  }, 200);

</script>
