
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688;
	}

</style>

<!-- complete modal -->
<div id="complete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>{{'mark_project_as_complete' | translate}}</h4>
    <p>{{'are_you_sure_you_want_to_mark_this_project_as_complete' | translate}}?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markComplete({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">{{'yes_project_complete' | translate}}!</a>
  </div>
</div>

<!-- complete modal -->
<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #E57373; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>{{'delete_project' | translate}}</h4>
    <p>{{'are_you_sure_you_want_to_delete_this_project_and_all_its_associated_data' |translate}}?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.deleteProject({{ panel.project }})" class=" modal-action modal-close waves-effect waves-red btn-flat">{{'yes_delete_project' | translate}}!</a>
  </div>
</div>


<!-- active modal -->
<div id="active-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>{{'mark_project_as_active' | translate}}</h4>
    <p>{{'are_you_sure_you_want_to_move_this_project_to_active' | translate}}?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markActive({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">{{'yes_move_project_to_active' | translate}}!</a>
  </div>
</div>

	<!-- panels -->
	<div class="row" ng-if="panel.project.admin0pcode === 'AF' || 
														panel.project.admin0pcode === 'BD' ||
														panel.project.admin0pcode === 'CB' ||
														panel.project.admin0pcode === 'NG' ||
														panel.project.admin0pcode === 'ET' ||
														panel.project.admin0pcode === 'UA' ">
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/details/{{ panel.project.id }}">
	   	 <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/details-1.jpg">
	      </div>
	      <div class="card-content white-text">
	      	<p class="card-title">{{'project_details' | translate}}
	      	</p>
	      </div>
	      <div class="card-action">
	        <a href="#/cluster/projects/details/{{ panel.project.id }}">{{'go_to' | translate}} {{'project_details'|translate}}
	        </a>
	      </div>
	    </div>
	    </a>
	  </div>
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/financials/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/reports.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">{{'financial_reports'|translate}}
		        </p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/financials/{{ panel.project.id }}">{{'go_to' | translate}} {{'financial_reports' | translate}}
		        </a>
		      </div>
		    </div>
		   </a>
	  </div>
	  <div class="col s12 m4">
	  	<a href="#/cluster/projects/report/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/monthly_report.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">{{'monthly_reports' | translate}}
		        </p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/report/{{ panel.project.id }}">{{'go_to' | translate}} {{'monthly_reports' |translate}}
		        </a>
		      </div>
		    </div>
		   </a>
	  </div>
	</div>

	<!-- panels -->
	<div class="row" ng-if="panel.project.admin0pcode !== 'AF' && 
														panel.project.admin0pcode !== 'BD' &&
														panel.project.admin0pcode !== 'CB' &&
														panel.project.admin0pcode !== 'NG' &&
														panel.project.admin0pcode !== 'ET' &&
														panel.project.admin0pcode !== 'UA' ">
	  <div class="col s12 m6">
	  	<a href="#/cluster/projects/details/{{ panel.project.id }}">
	   	 <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/details-1.jpg">
	      </div>
	      <div class="card-content white-text">
	      	<p class="card-title">{{'project_details' | translate}}
	      	</p>
	      </div>
	      <div class="card-action">
	        <a href="#/cluster/projects/details/{{ panel.project.id }}">{{'go_to' | translate}} {{'project_details' | translate}}
	        </a>
	      </div>
	    </div>
	    </a>
	  </div>
	  <div class="col s12 m6">
	  	<a href="#/cluster/projects/report/{{ panel.project.id }}">
		    <div class="card small blue-grey darken-1 hoverable">
		      <div class="card-image">
		        <img src="images/cluster/monthly_report.jpg">
		      </div>
		      <div class="card-content white-text">
		        <p class="card-title">{{'monthly_reports' | translate}}
		        </p>
		      </div>
		      <div class="card-action">
		        <a href="#/cluster/projects/report/{{ panel.project.id }}">{{'go_to' | translate}} {{'monthly_reports' |translate}}
		        </a>
		      </div>
		    </div>
		   </a>
	  </div>
	</div>

	<!-- project to complete -->
	<div class="row" ng-if="panel.project.project_status === 'active'">
		<div class="col s12 m12 l12">
			<div class="widget card-panel white grey-text text-darken-2">
				<!-- submission -->
				<div align="center">
					<button data-target="complete-modal" class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
						<i class="material-icons left">assignment_turned_in</i>{{'mark_project_as_complete' | translate}}
					</button>
					<br/>
					<br/>
					<button data-target="delete-modal" class="waves-effect waves-light btn modal-trigger red lighten-2" ng-cloak>
						<i class="material-icons left">delete_forever</i>{{'delete_project' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- project to active -->
	<div class="row" ng-if="panel.project.project_status === 'complete'">
		<div class="col s12 m12 l12">
			<div class="widget white grey-text text-darken-2">
				<!-- submission -->
				<div align="center">
					<button data-target="active-modal" class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
						<i class="material-icons left">assignment_turned_in</i>{{'mark_project_as_active' | translate}}
					</button>
					<br/>
					<br/>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">

  // modals
  setTimeout(function(){
  	$('.modal-trigger').leanModal();
  }, 200);

</script>
