
<!-- Syria -->
<div class="row" ng-if="panel.organization.admin0pcode === 'SY'">

  <!-- team -->
  <div class="col s12 m3">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.user.organization }} {{'team'|translate}}</p>
        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{'view_team'|translate}}</a>
        </div>
      </div>
     </a>
  </div>

  <div class="col s12 m3">
  	<a href="{{ panel.getProjectsHref() }}">
   	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">{{'projects_mayus1' | translate}}</p>
      </div>
      <div class="card-action">
        <a class="left" href="{{ panel.getProjectsHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} {{'projects_mayus1' | translate}}</a>
      </div>
    </div>
    </a>
  </div>
  <div class="col s12 m3">
  	<a href="{{ panel.getStocksHref() }}">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/stocks.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Stocks</p>
	      </div>
	      <div class="card-action">
	        <a class="left" href="{{ panel.getStocksHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} Stocks nada</a>
	      </div>
	    </div>
	   </a>
  </div>
  <div class="col s12 m3">
  	<a href="#/cluster/syria/fsac">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/snapshots/who-immap/data_viz.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Dashboard</p>
	      </div>
	      <div class="card-action">
	        <a class="left" href="#/cluster/syria/fsac">{{'go_to'|translate}} Syria FSAC Dashboard</a>
	      </div>
	    </div>
	   </a>
  </div>
</div>

<!-- CXB -->
<div class="row" ng-if="panel.organization.admin0pcode === 'CB' && panel.user.email !== 'pfitzgerald@immap.org'">
  
  <!-- projects -->
  <div class="col s12 m6">
    <a href="{{ panel.getProjectsHref() }}">
     <div class="card medium blue-grey darken-1 hoverable">
      <div class="card-image" style="max-height:70%">
        <img src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">{{ 'projects_mayus1'|translate }}</p>
      </div>
      <div class="card-action">
        <a class="left" href="{{ panel.getProjectsHref() }}">{{ 'go_to'|translate }} {{ panel.organization.organization }} {{'projects_mayus1'|translate}}</a>
      </div>
    </div>
    </a>
  </div>

  <!-- team -->
  <div class="col s12 m6">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.teamTitle() }}</p>
        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{ 'view_team'|translate }}</a>
        </div>
      </div>
     </a>
  </div>

</div>

<!-- CXB -->
<div class="row" ng-if="panel.organization.admin0pcode === 'CB' && panel.user.email === 'pfitzgerald@immap.org'">
  
  <!-- projects -->
  <div class="col s12 m4">
    <a href="{{ panel.getProjectsHref() }}">
     <div class="card medium blue-grey darken-1 hoverable">
      <div class="card-image" style="max-height:70%">
        <img src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">{{ 'projects_mayus1'|translate }}</p>
      </div>
      <div class="card-action">
        <a class="left" href="{{ panel.getProjectsHref() }}">{{ 'go_to'|translate }} {{ panel.organization.organization }} {{'projects_mayus1'|translate}}</a>
      </div>
    </div>
    </a>
  </div>

  <!-- team -->
  <div class="col s12 m4">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.teamTitle() }}</p>
        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{ 'view_team'|translate }}</a>
        </div>
      </div>
     </a>
  </div>

  <!-- team -->
  <div class="col s12 m4">
    <a href="#/bgd/cxb/gfa/gfd">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/country/bangladesh/gfd.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">General Food Distribution</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/bgd/cxb/gfa/gfd">GO TO GFD REPORTS</a>
        </div>
      </div>
     </a>
  </div>  

</div>


<!-- Not Syria && CXB -->
<div class="row" ng-if="panel.organization.admin0pcode !== 'SY' && panel.organization.admin0pcode !== 'CB'">
  
  <!-- team -->
  <div class="col s12 m4">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.teamTitle() }}</p>

        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{ 'view_team' | translate }}</a>
        </div>
      </div>
     </a>
  </div>

  <div class="col s12 m4">
  	<a href="{{ panel.getProjectsHref() }}">
   	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img ng-if="panel.organization.admin0pcode === 'AF' || 
        						panel.organization.admin0pcode === 'COL' ||
                    panel.organization.admin0pcode === 'ET' ||
                    panel.organization.admin0pcode === 'CB' ||
                    panel.organization.admin0pcode === 'NG' || 
        						panel.organization.admin0pcode === 'SO' ||
                    panel.organization.admin0pcode === 'SS'" 
        						src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
        <img ng-if="panel.organization.admin0pcode !== 'AF' && 
                    panel.organization.admin0pcode !== 'COL' && 
        						panel.organization.admin0pcode !== 'ET' && 
                    panel.organization.admin0pcode !== 'CB' && 
                    panel.organization.admin0pcode !== 'NG' && 
        						panel.organization.admin0pcode !== 'SO' && 
                    panel.organization.admin0pcode !== 'SS'" 
        						src="images/cluster/projects.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">{{ 'projects_mayus1' | translate }}</p>
      </div>
      <div class="card-action">
        <a href="{{ panel.getProjectsHref() }}">{{ 'go_to' | translate}} {{ panel.organization.organization }} {{'projects_mayus1' | translate}}</a>
      </div>
    </div>
    </a>
  </div>
<!--
  <div class="col s12 m4" ng-if="panel.organization.admin0pcode === 'COL' && panel.organization.organization === 'IOM'">
    <a href="https://dtm-colombia.immap.org" target="_blank">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/cluster/dtm-col.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">DTM</p>
        </div>
        <div class="card-action">
          <a href="https://dtm-colombia.immap.org" target="_blank">{{ 'go_to' | translate}} DTM</a>
        </div>
      </div>
     </a>
  </div>-->

  <div class="col s12 m4" ng-if="panel.organization.admin0pcode !== 'COL'">
  
  	<a href="{{ panel.getStocksHref() }}">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/stocks.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Stocks</p>
	      </div>
	      <div class="card-action">
	        <a href="{{ panel.getStocksHref() }}">{{ 'go_to' | translate}} {{ panel.organization.organization }} Stocks</a>
	      </div>
	    </div>
	   </a>
  </div>

</div>
