
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688; 
	}
	
</style>

<div class="row" ng-if="panel.organization.admin0pcode === 'SY'">
  <div class="col s12 m4">
  	<a href="{{ panel.getProjectsHref() }}">
   	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img ng-if="panel.organization.admin0pcode === 'AF' || 
        						panel.organization.admin0pcode === 'ET' || 
        						panel.organization.admin0pcode === 'NG' ||
                    panel.organization.admin0pcode === 'SO' ||
                    panel.organization.admin0pcode === 'SS' ||
        						panel.organization.admin0pcode === 'SY'" 
        						src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
        <img ng-if="panel.organization.admin0pcode !== 'AF' && 
        						panel.organization.admin0pcode !== 'ET' && 
                    panel.organization.admin0pcode !== 'NG' && 
        						panel.organization.admin0pcode !== 'SO' && 
                    panel.organization.admin0pcode !== 'SS' && 
        						panel.organization.admin0pcode !== 'SY'" 
        						src="images/cluster/projects.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">{{'projects_mayus1' | translate}}</p>
      </div>
      <div class="card-action">
        <a href="{{ panel.getProjectsHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} {{'projects_mayus1' | translate}}</a>
      </div>
    </div>
    </a>
  </div>
  <div class="col s12 m4">
  	<a href="{{ panel.getStocksHref() }}">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/stocks.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Stocks</p>
	      </div>
	      <div class="card-action">
	        <a href="{{ panel.getStocksHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} Stocks</a>
	      </div>
	    </div>
	   </a>
  </div>
  <div class="col s12 m4">
  	<a href="#/cluster/syria/fsac">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/snapshots/who-immap/data_viz.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Dashboard</p>
	      </div>
	      <div class="card-action">
	        <a href="#/cluster/syria/fsac">Go to Syria FSAC Dashboard</a>
	      </div>
	    </div>
	   </a>
  </div>
</div>

<!-- Not Syria -->
<div class="row" ng-if="panel.organization.admin0pcode !== 'SY'">
  
  <!-- team -->
  <div class="col s12 m4">
    <a href="#/team">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/immap/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.user.organization }} {{'team' | translate}}</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/team">{{'view_team' | translate}}</a>
        </div>
      </div>
     </a>
  </div>

  <div class="col s12 m4">
  	<a href="{{ panel.getProjectsHref() }}">
   	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img ng-if="panel.organization.admin0pcode === 'AF' || 
        						panel.organization.admin0pcode === 'ET' ||
                    panel.organization.admin0pcode === 'NG' || 
        						panel.organization.admin0pcode === 'SO' ||
                    panel.organization.admin0pcode === 'SS' ||
        						panel.organization.admin0pcode === 'SY'" 
        						src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
        <img ng-if="panel.organization.admin0pcode !== 'AF' && 
        						panel.organization.admin0pcode !== 'ET' && 
                    panel.organization.admin0pcode !== 'NG' && 
        						panel.organization.admin0pcode !== 'SO' && 
                    panel.organization.admin0pcode !== 'SS' && 
        						panel.organization.admin0pcode !== 'SY'" 
        						src="images/cluster/projects.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">{{'projects_mayus1' | translate}}</p>
      </div>
      <div class="card-action">
        <a href="{{ panel.getProjectsHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} {{'projects_mayus1' | translate}}</a>
      </div>
    </div>
    </a>
  </div>
  <div class="col s12 m4">
  	<a href="{{ panel.getStocksHref() }}">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/stocks.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Stocks</p>
	      </div>
	      <div class="card-action">
	        <a href="{{ panel.getStocksHref() }}">{{'go_to' | translate}} {{ panel.organization.organization }} Stocks</a>
	      </div>
	    </div>
	   </a>
  </div>
<!--   <div class="col s12 m4">
  	<a href="{{ panel.getStocksHref() }}">
	    <div class="card small blue-grey darken-1 hoverable">
	      <div class="card-image">
	        <img src="images/cluster/team.jpg">
	      </div>
	      <div class="card-content white-text">
	        <p class="card-title">Team</p>
	      </div>
	      <div class="card-action">
	        <a href="{{ panel.getStocksHref() }}">Go to {{ panel.organization.organization }} Team</a>
	      </div>
	    </div>
	   </a>
  </div> -->
</div>
