
<style>

	/* overflow for dropdown */
	.collection {
		overflow: visible !important;
	}

	/* input label */
	.input-field label,
	.input-field input:disabled + label {
		color: #26a69a;
	}
	/* valid input */
	.input-field input.valid {
		border-bottom: 1px solid #26a69a;
		box-shadow: 0 1px 0 0 #26a69a;		
	}
	/* valid input on focus */
	.input-field input:focus.valid {
		border-bottom: 1px solid #4dd0e1;
		box-shadow: 0 1px 0 0 #4dd0e1;
	}
	/* invalid input on focus */
	.input-field input:focus.invalid {
		border-bottom: 1px solid #e57373;
		box-shadow: 0 1px 0 0 #e57373;
	}
	/* border for disabled */
	.input-field input:disabled, .select-wrapper input.select-dropdown:disabled {
		color: #616161;
		box-shadow: none !important;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.26) !important;
	}

	/* form validation on submit */
	.ng-submitted .input-field input[type='text'].ng-invalid + label,
		.ng-submitted .input-field input[type='number'].ng-invalid + label,
		.ng-submitted .input-field input[type='email'].ng-invalid + label,
		.ng-submitted .input-field input[type='password'].ng-invalid + label {
		color: #e57373;
		font-weight: 400;
	}

	/* manual class for label error */
	.input-field.error-label label {
		color: #e57373;
		font-weight: 400;		
	}


</style>

<!-- bind html -->
<div id="ngmRegisterPanel" class="row">

	<div class="col l4 m4 s12">
	 
	 <div class="ngm-login-title">
			
			<h3 style="font-weight:100;">Report Hub</h3>

			<div class="card">
		    	
	    	<form name="ngmRegisterForm" class="col s12" style="padding:20px;" novalidate>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">account_circle</i>
		          <input id="ngm-username" type="text" class="validate"
								autofocus=""
								ng-model="panel.user.username"
								required>
		          <label for="ngm-username">Username</label>
		        </div>
		      </div>
		      
		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">lock_outline</i>
		          <input id="ngm-password" type="password" class="validate"
								ng-model="panel.user.password"
								required>
		          <label for="ngm-password">Password</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">supervisor_account</i>
		          <input id="ngm-organization" type="text" class="validate"
								ng-model="panel.user.organization"
								required>
		          <label for="ngm-organization">Organization</label>
		        </div>
		      </div> 

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">accessibility</i>
		          <input id="ngm-fullname" type="text" class="validate"
								ng-model="panel.user.name"
								required>
		          <label for="ngm-fullname">Full Name</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">personal_video</i>
		          <input id="ngm-position" type="text" class="validate"
								ng-model="panel.user.position"
								required>
		          <label for="ngm-position">Position</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">phone</i>
		          <input id="ngm-phone" type="tel" class="validate"
								ng-model="panel.user.phone"
								required>
		          <label for="ngm-phone">Phone</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">email</i>
		          <input id="ngm-email" type="email" class="validate"
								ng-model="panel.user.email"
								required>
		          <label for="ngm-email">Email</label>
		        </div>
		      </div>
						
					<!-- error -->
			   	<p ng-if="panel.error.msg" style="font-weight:300;">
			   		<span style="color: #ef5350;">{{ panel.error.msg }}</span>
			   		Having trouble Registering? Contact <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a>
			   	</p>

			   	<!-- login -->
					<p class="left" style="font-size: 1.3rem;margin-top:0px;padding-bottom:4px;">
						<a style="color: #;" href="#/health/login"><i class="material-icons prefix">arrow_back</i> Back to login</a>
					</p>			   	

					<!-- btn -->
					<button
						style="width: 100%;" 
						class="btn btn-large waves-effect waves-teal" 
						type="submit"
						ng-disabled="ngmRegisterForm.$invalid"
						ng-click="panel.register(ngmRegisterForm)">
								Register
					</button>			      
				    
		  	</form>

			</div>

		</div>

	</div>

	<div class="col l8 m8 hide-on-small-only"> 
		<div class="card center promo blue-grey darken-1" style="height: 800px; padding-top: 20%;">
			<img title="Register to ReportHub" src="images/registration.png"/>
		</div>
	</div>

</div>

<div>
	<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
	<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
		<p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
	</div>
</div>
