
<style>

  .count {
    color: white;
    position:relative;
    font-weight:100;
    font-size:2rem;
    line-height:2rem;
    padding-top:18px;
    padding-right:20px;
  }

</style>

<!-- bind html -->
<div>
  <div class="col s12 m12 l12">
    
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header"><h5 class="report-work-title">{{ panel.title }}</h5></li>
        <li class="collection-item avatar" align="center">
    
          <section class="video" ng-video>

            <video vi-screen class="card" style="width:80%;"></video>

            <div style="width:90%;padding-left:10%;">
              <section vi-controls class="card blue-grey darken-1">
                  <a vi-controls-play><i class="material-icons medium left" style="padding:4px 0px 0px 20px; cursor:pointer; cursor:hand; color:white;" title="Play Video">play_circle_outline</i></a>
                  <a vi-controls-pause><i class="material-icons medium left" style="padding:4px 0px 0px 20px; cursor:pointer; cursor:hand; color:white;" title="Pause Video">pause_circle_outline</i></a>
                  <a vi-full-screen-toggle><i class="material-icons medium" style="padding:4px; cursor:pointer; cursor:hand; color:white;" title="Play Video">fullscreen</i></a>
                <section vi-feedback class="count right">
                    <ul>
                        <li>{{ currentTime | number : 0 }}s / {{ duration | number : 0 }}s</li>
                    </ul>
                </section>
              </section>
            </div>            

          </section>
        </li>
      </ul>
    </div>
  </div>
</div>

