/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

body {
	background-image: url("../images/worldmap.svg");
	background-repeat: no-repeat;
	background-position: center;
}

/* card profile */
.card .card-profile {
	position:relative;
	z-index:1;
	margin-top:-62px;
	border-radius:50%;
	padding:5px;
	background-color:#FFF;
	-webkit-box-shadow:0 -3px 3px rgba(0,0,0,.2);
	box-shadow:0 -3px 3px rgba(0,0,0,.2);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav .brand-logo {
  padding-left:18px;
}

.page-footer .container {
  min-height: 50px;
}

