/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

/* AngularJS cloaking of loading elements */]
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* MAIN */
header, main, footer {
  padding-left: 280px;
	transition: .15s ease-in-out;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    position:relative;
  }
}

.padding-top-35{
	padding-top: 35px;
}

.container {
	width: 90%;
	/*background-image: url("../images/worldmap.svg");*/
	background-repeat: no-repeat;
	background-position: center;	
}
h1, h2, h3, h4, h5, p {
	color: #616161;
	font-weight: 300;
}

/* FORMS DISABLED */
.btn.disabled, 
.disabled.btn-large,
.btn-floating.disabled,
.btn-large.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-large:disabled,
.btn-floating:disabled,
.btn[disabled],
[disabled].btn-large,
.btn-large[disabled],
.btn-floating[disabled] {
	background-color: #b2dfdb !important;
}
[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
  border-color: transparent;
  background-color: #b2dfdb;
}
[type="checkbox"].filled-in:disabled:checked + label:after {
  background-color: #81d4fa;
  border-color: #81d4fa;
}

/* ROW SPACING */
.row {
	margin-bottom: 0px;
}

/* MODAL & BACKGROUND */
.modal {
	background-color: #fff;
}
.backdrop {
	background-color: #fff;
}
.lean-overlay {
	background-color: #fff;
}
.ngm-login-title {
	color:#616161;
	padding: 15px;
	/*text-align: center;*/
}
.ngm-menu-footer {
	width: 280px;
  position: fixed;
  bottom: 0;
  left:0px;
}
.ngm-menu-footer-left {
	width: 280px;
  position: fixed;
  bottom: 0;
	left:0px;
	transition: .30s ease-in-out;
}
.ngm-menu-footer-body {
	color:white;
	font-weight:100;
	float:left;
	padding: 5px 0px 0px 10px;
}

/* TOAST */
#toast-container {
	top: 5%;
}
.toast {
	/*margin-top: 85px;*/
	margin-right: -50px;
	min-width: 300px;
	max-width: 600px;
	color: #fff;
	background-color: #ff8a80;
}
.toast.note {
	/*color: #26a69a;*/
	/*background-color: #e0f2f1; */
	color: #fff;
	background-color: #4db6ac;
}
.toast.success {
	color: #fff;
	background-color: #64b5f6;
}

/* TOOLTIP */
.material-tooltip {
	color: #616161;
	padding: 10px;
	background: #fff;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 9999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);	
}

/* REPORT HEADER CONTAINER */
.report-header {
	height: 160px;
}
.report-title {
	margin-top: 40px;
	font-weight: 100;
}
.report-panel-title {
	font-size: 1.46rem;
	font-weight: 300;
}
.report-work-title {
	margin-top: 20px;
	font-weight: 300;
}
.report-subtitle {
	margin-top: 0px;
	color: #616161;
	font-size: 1.1rem;
}
.report-download {
	margin-top: 41px;
	align: right;
	cursor: pointer;
	display: inline;
}
.ngm-date {
	cursor: pointer; cursor: hand;
	margin-top: -12px;
	width: 90px;
	padding: 0px;
	/*z-index: 999999999;*/
}
.ngm-date input[type=text] {
	cursor: pointer; cursor: hand;
	color: #616161;
	height: 1.1rem;
	border-bottom: 0px;
}
.picker__wrap {
	width: 120%;
}

/* CARD PROFILE */
.card .card-profile {
	position:relative;
	z-index:1;
	margin-top:-62px;
	border-radius:50%;
	padding:5px;
	background-color:#FFF;
	-webkit-box-shadow:0 -3px 3px rgba(0,0,0,.2);
	box-shadow:0 -3px 3px rgba(0,0,0,.2);
}

.card .card-title {
	font-weight: 300;
	color:#fff;
}

.card .card-content .card-title {
	line-height: 24px;
}

.pagination li.active {
  background-color: #009688; 
}

.ngm-project_donor_select md-chip{
	background-color: #26a69a;
}

.ngm-project_donor_select md-chip .md-contact-name{
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ffffff;
}

.ngm-project_donor_select md-chips .md-default-theme md-chip md-icon, md-chips md-chip md-icon{
  min-height: 18px;
  min-width: 18px;
  color: #ffffff;
}

body.md-default-theme, body, html.md-default-theme, html {
	background-color: white;
	-webkit-print-color-adjust: exact;
}
/* FOR SPlASH SCREEN */
#splash-screen {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 99999;
	pointer-events: none;
}
		
#splash-screen .center {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#splash-screen .logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #2196f3;
    
  padding-top: 70px;
  border-radius: 50%;
	box-shadow: 1px 3px 7px 2px rgba(0,0,0,0.32);
 	animation: ripple 2s linear infinite;}
	
		
#splash-screen .logo img {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2))
}
	
		
.progress-bar-wrapper {
	background-color: #2196f3;
	position: fixed;
	top: 0;
}
		
.progress-bar-wrapper,.progress-bar {
	height: 5px;
	width: 100%;
	margin: 0;
}
		
.progress-bar {
	background-color: #ffffff;
	animation: running-progress 2s cubic-bezier(0.3, 0, 0.2, 1) infinite;
}
		
@keyframes running-progress {
	0% {
			margin-left: 0px;
			margin-right: 100%;
			}
	50% {
			margin-left: 50%;
			margin-right: 50%;
			}
		
		
	100% {
				margin-left: 100%;
				margin-right: 0;
			}
}
@keyframes ripple {
  0% {
    box-shadow: 
               
                0 0 0 .7rem rgba(33, 150, 243, 0.2);
  }
  100% {
    box-shadow: 0 0 0 .2rem rgba(33, 150, 243, 0.2),
                
                0 0 0 1rem rgba(33, 150, 243, 0);
  }
}
[ng-cloak]#splash-screen {
	display: block !important;
}
#splash-screen {
	display: none;
}
.pagination.ng-table-pagination{
	padding-top: 10px ;
}
