/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

/* AngularJS cloaking of loading elements */]
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* MAIN */
header, main, footer {
  padding-left: 280px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    position:relative;
  }
}
.container {
	width: 90%;
	/*background-image: url("../images/worldmap.svg");*/
	background-repeat: no-repeat;
	background-position: center;	
}
h1, h2, h3, h4, h5, p {
	color: #616161;
	font-weight: 300;
}

/* ROW SPACING */
.row {
	margin-bottom: 0px;
}

/* MODAL & BACKGROUND */
.modal {
	background-color: #fff;
}
.backdrop {
	background-color: #fff;
}
.lean-overlay {
	background-color: #fff;
}
.ngm-login-title {
	color:#616161;
	padding: 15px;
	/*text-align: center;*/
}
.ngm-menu-footer {
	width: 280px;
  position: fixed;
  bottom: 0;
  left:0px;
}
.ngm-menu-footer-body {
	color:white;
	font-weight:100;
	float:left;
	padding: 5px 0px 0px 10px;
}

/* TOAST */
#toast-container {
	top: 5%;
}
.toast {
	/*margin-top: 85px;*/
	margin-right: -50px;
	min-width: 300px;
	max-width: 600px;
	color: #fff;
	background-color: #ff8a80;
}
.toast.note {
	/*color: #26a69a;*/
	/*background-color: #e0f2f1; */
	color: #fff;
	background-color: #4db6ac;
}
.toast.success {
	color: #fff;
	background-color: #64b5f6;
}

/* TOOLTIP */
.material-tooltip {
	color: #616161;
	padding: 10px;
	background: #fff;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 9999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 1px 2px 2px 2px rgba(0,0,0,0.2);	
}

/* REPORT HEADER CONTAINER */
.report-header {
	height: 160px;
}
.report-title {
	margin-top: 40px;
	font-weight: 100;
}
.report-panel-title {
	font-size: 1.46rem;
	font-weight: 200;
}
.report-work-title {
	margin-top: 20px;
	font-weight: 100;
}
.report-subtitle {
	margin-top: 0px;
	color: #616161;
	font-size: 1.1rem;
}
.report-download {
	margin-top: 41px;
	align: right;
	cursor: pointer;
	display: inline;
}
.ngm-date {
	cursor: pointer; cursor: hand;
	margin-top: -12px;
	width: 90px;
	padding: 0px;
	/*z-index: 999999999;*/
}
.ngm-date input[type=text] {
	cursor: pointer; cursor: hand;
	color: #616161;
	height: 1.1rem;
	border-bottom: 0px;
}
.picker__wrap {
	width: 120%;
}

/* CARD PROFILE */
.card .card-profile {
	position:relative;
	z-index:1;
	margin-top:-62px;
	border-radius:50%;
	padding:5px;
	background-color:#FFF;
	-webkit-box-shadow:0 -3px 3px rgba(0,0,0,.2);
	box-shadow:0 -3px 3px rgba(0,0,0,.2);
}
