/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

/* NGM MENU */
.ngm-menu {
	width: 280px;
	height: 100%;
	position:fixed;
	overflow: auto;
	left: 0px;
}
.ngm-search {
	height: 52px;
	line-height: 52px;
	display:none;
}
.ngm-search .nav-wrapper i {
	height: 52px;
	line-height: 52px;
}
.ngm-search .input-field input[type=search] {
	color: #616161;
	font-weight: 300;
	padding-top: 0px;
}
.ngm-logo {
	margin-top:-10px;
}
.ngm-profile {
	width:100%;
	height:52px;
	padding-top:20px;
	padding-right:90px;
	text-align:right; 
	text-transform:lowercase;
	pointer-events:none;
}
.ngm-profile-btn {
	height: 68px;
	position:absolute; 
	top:95px;
	z-index:9991;
}
.ngm-profile-icon {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;	
}
.ngm-profile-icon.rotate {
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);	
}
#xmenu {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #xmenu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 30%;
  background: #fff;
  left: 33%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#xmenu span:nth-child(1) {
  top: 22px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#xmenu span:nth-child(2) {
  top: 27px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#xmenu span:nth-child(3) {
  top: 32px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#xmenu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 20px;
  left: 22px;
}

#xmenu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#xmenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 33px;
  left: 22px;
}
/* menu icon size */
i.smedium {
  font-size: 3rem;
}
.ngm-profile-menu-content {
	display: none;
  width: 280px;
  position: absolute;
  top: 158.667px;
  left: 0px;
  opacity: 1;
  overflow: hidden;
}
.ngm-profile-menu-content li {
	/*padding-top: 15px;*/
	/*height: 100px;*/
	/*text-align: center;	*/
}
.collection .collection-item {
	font-weight: 300;
	/*border-bottom: none;*/
}
.collection .collection-item.active {
  background-color: #b2dfdb;
}
.collapsible-header {
	font-weight: 300;
	font-size: 1.1rem; 
	margin-top: 5px;
	border-bottom: none;
}
.collapsible-body{
	overflow: auto;
	max-height: 360px !important;
}
