/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

	/* NGM FORM */
	/* solve dropdown bug */
	.dropdown-content {
		max-height: 550px;
	}

	/* list padding right */
	.collection-item.avatar {
		padding-right: 50px;
	}

	/* overflow for dropdown */
	.collection {
		overflow: visible !important;
	}

	/* fieldset for blocking edits */
	fieldset {
    border: 0;
    margin: 0;
    padding: 0;
	}

	input, textarea {
		font-size: 0.9rem !important;
	}

	label {
		font-size: 1rem !important;	
	}

	.btn, .btn-small {
    padding: 0 1rem;
  }

	/* report number of locations */
	.report-selected-locations {
		font-size:1.2rem;
		padding-left:20px;
		margin-top: 20px;
		font-weight: 100;
	}

	/* location title with icon */
	.report-location-title {
		font-size: 1.36rem;
		color: #00796b; 
		font-weight: 300;
		text-align: left;
		padding: 10px 0px 10px 10px;
	}

	/* location title with icon */
	.report-budget-title {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: left;
		padding: 10px 0px 10px 10px;
	}

	/* beneficiary title for monthly report */
	.beneficiary-title {
		font-size: 1.28rem !important;
	}

	/* title for indicator blocks */
	.indicator-title {
		padding-left: 10px;
		font-size: 1.16rem !important;		
	}

	/* for displaying beneficiary numbers */
	.beneficiary-count{
	  position:relative;
	  font-weight:100;
	  font-size:2.4rem;
	  line-height:2.4rem;
	  padding: 10px;
	}

	/* input label */
	.input-field label,
		.input-field input:disabled + label,
		textarea.materialize-textarea label {
		color: #26a69a;
	}
	/* valid input */
	.input-field input.valid,
		textarea.materialize-textarea.valid {
		border-bottom: 1px solid #26a69a;
		box-shadow: 0 1px 0 0 #26a69a;		
	}
	/* valid input on focus */
	.input-field input:focus.valid,
		textarea.materialize-textarea:focus.valid {
		border-bottom: 1px solid #4dd0e1;
		box-shadow: 0 1px 0 0 #4dd0e1;
	}
	/* invalid input on focus */
	.input-field input:focus.invalid,
		textarea.materialize-textarea:focus.invalid {
		border-bottom: 1px solid #e57373;
		box-shadow: 0 1px 0 0 #e57373;
	}
	/* border for disabled */
	.input-field input:disabled, .select-wrapper input.select-dropdown:disabled,
		textarea.materialize-textarea:disabled {
		color: #616161;
		box-shadow: none !important;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.26) !important;
	}

	/* form validation on submit */
	.ng-submitted .input-field input[type='text'].ng-invalid + label,
		.ng-submitted .input-field input[type='number'].ng-invalid + label,
		.ng-submitted .input-field input[type='email'].ng-invalid + label,
		.ng-submitted .input-field input[type='password'].ng-invalid + label {
		color: #e57373;
		font-weight: 400;
	}

	/* manual class for label error */
	.input-field.error-label label {
		color: #e57373;
		font-weight: 400;		
	}