/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

	/* NGM FORM */
	/* solve dropdown bug */
	.dropdown-content {
		max-height: 550px;
	}
	.dropdown-content.long{
		max-height: 750px;
	}

	/* list padding right */
	.collection-item.avatar {
		padding-right: 50px;
	}

	/* overflow for dropdown */
	.collection {
		overflow: visible !important;
	}

	/* fieldset for blocking edits */
	fieldset {
    border: 0;
    margin: 0;
    padding: 0;
	}

	input, textarea {
		font-size: 0.9rem !important;
	}

	label {
		font-size: 1rem !important;	
	}

	.btn, .btn-small {
    padding: 0 1rem;
  }

	/* report number of locations */
	.report-selected-locations {
		font-size:1.6rem;
		padding-left:20px;
		margin-top: 20px;
		font-weight: 100;
	}

	/* location title with icon */
	.report-location-title {
		font-size: 1.6rem;
		font-weight: 300;
		text-align: left;
		padding: 10px 0px 10px 10px;
	}

	/* location title with icon */
	.report-beneficiary-title {
		font-size: 1.36rem;
		color: #00796b;
		font-weight: 300;
		text-align: left;
		padding: 10px 0px 10px 10px;
	}

	/* location title with icon */
	.report-budget-title {
		font-size: 1.2rem;
		font-weight: 300;
		text-align: left;
		padding: 10px 0px 10px 10px;
	}

	/* beneficiary title for monthly report */
	.beneficiary-title {
		font-size: 1.28rem !important;
	}

	/* title for indicator blocks */
	.indicator-title {
		padding-left: 10px;
		font-size: 1.16rem !important;		
	}

	/* for displaying beneficiary numbers */
	.beneficiary-count{
	  position:relative;
	  font-weight:100;
	  font-size:2.4rem;
	  line-height:2.4rem;
	  padding: 10px;
	}


	
	/* darken inputs */
	input, .input-field, .checkbox-label {
		font-weight: 400;
	}

	.label {
	  left: 0.75rem;
	  color: #26a69a;
	  top: 0.8rem;
	  font-weight: 400;
	}	

	.input-field label.active {
	  color: #26a69a;
	  font-weight: 400;
	}

	.input-field label.error {
	  color: #EE6E73;
	  font-weight: 500;
	}

	/* input label */
	.input-field label,
		.input-field input:disabled + label,
		textarea.materialize-textarea label {
		color: #26a69a;
	}
	/* valid input */
	.input-field input.valid,
		textarea.materialize-textarea.valid, md-chips .md-chips.md-focused {
		border-bottom: 1px solid #26a69a;
		box-shadow: 0 1px 0 0 #26a69a;		
	}
	/* valid input on focus */
	.input-field input:focus.valid,
		textarea.materialize-textarea:focus.valid{
		border-bottom: 1px solid #4dd0e1;
		box-shadow: 0 1px 0 0 #4dd0e1;
	}
	/* invalid input on focus */
	.input-field input:focus.invalid,
		textarea.materialize-textarea:focus.invalid {
		border-bottom: 1px solid #e57373;
		box-shadow: 0 1px 0 0 #e57373;
	}
	/* border for disabled */
	.input-field input:disabled, .select-wrapper input.select-dropdown:disabled,
		textarea.materialize-textarea:disabled {
		color: #616161;
		box-shadow: none !important;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.26) !important;
	}

	/* form validation on submit */
	.ng-submitted .input-field input[type='text'].ng-invalid + label,
		.ng-submitted .input-field input[type='number'].ng-invalid + label,
		.ng-submitted .input-field input[type='email'].ng-invalid + label,
		.ng-submitted .input-field input[type='password'].ng-invalid + label {
		color: #e57373;
		font-weight: 400;
	}

	/* manual class for label error */
	.input-field.error-label label {
		color: #e57373;
		font-weight: 400;		
	}
	/* Loading bar vertical */
	@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.loading-bar {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loading-bar > div {
  background-color: #2491eb;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading-bar .bar2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading-bar .bar3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading-bar .bar4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading-bar .bar5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}