
<style>	

	.pagination li.active {
	  background-color: #009688;
	}
	
</style>

<!-- complete modal -->
<div id="complete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Mark Project as Complete</h4>
    <p>Are you sure you want to mark this project as completed?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markComplete({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, project complete!</a>
  </div>
</div>

<!-- bind html -->
<div style="padding-top:20px;">
	<ul class="collection with-header z-depth-1">

		<!-- header -->
		<li class="collection-header blue-grey darken-1">
			<h4 class="report-work-title white-text" style="margin-top:20px; font-size:2.1rem;"><i class="material-icons left">assignment</i>Project</h4>
		</li>

		<!-- project details -->
		<li class="collection-item avatar" class="collection-item avatar">
			
			<div class="row" ng-if="panel.project">
				<div class="col s12 m6">
					<a href="#/health/projects/details/{{ panel.project.id }}" title="GoTo project Details">
						<div class="card hoverable" style="height:200px;">
						</div>
					</a>
				</div>

				<div class="col s12 m6">
					<a href="#/health/projects/summary/{{ panel.project.id }}" title="GoTo project Summary">
						<div class="card hoverable" style="height:200px;">
						</div>
					</a>
				</div>
			</div>

		</li>

	</ul>

	<!-- form submission -->
	<div class="row" ng-if="panel.project.project_status === 'active'">
		<div class="col s12 m12 l12">
			<div class="widget card-panel white grey-text text-darken-2">
				
				<!-- submission -->
				<div align="center">

					<button data-target="complete-modal" class="waves-effect waves-light btn modal-trigger blue"
						ng-cloak><i class="material-icons left">assignment_turned_in</i>Mark Project Complete</button>

				</div>

			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
  // modals
  setTimeout(function(){
  	$('.modal-trigger').leanModal();
  }, 200);
</script>