
<style>

.count, .label {
	z-index: 1 !important;
}

.ng-table th.sortable .sort-indicator {
	color: #2196F3;
	font-weight: 400;
}

.collection .collection-item.avatar .title {
	font-size: 20px;
	color: #616161;
}
.nav-list-search {
	margin-top: 6px;
	background-color: white;
	width:72px;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-o-transition: width 1s ease;
	-ms-transition: width 1s ease;
	transition: width 1s ease;    
}
.nav-list-search.focused {
	margin-top: 6px;
	width: 100%;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-o-transition: width 1s ease;
	-ms-transition: width 1s ease;
	transition: width 1s ease;
}
.input-field input[type=search] {
	font-weight: 300;
	padding-top: 0px;
} 
/* remove border bottom */
input[type=text], input[type=text]:disabled, input[type=text]:focus, input[type=text]:valid {
	border-bottom: none !important;
	box-shadow: none !important;
}

.pagination li.active {
		background-color: #009688;
}

</style>

<!-- ngTable -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				
				<li class="{{ table.headerClass }}">
					<h5 class="report-work-title {{ table.headerText }}">

						<!-- title -->
						<i class="material-icons left">{{ table.headerIcon }}</i>{{ table.headerTitle }} ({{ data.length | number }})
						
						<!-- search -->
						<div ng-if="data.length > table.tableOptions.count" class="col s12 m4 right" style="margin-top:-20px;">
							<nav class="nav-list-search right" ng-class="{'focused':table.search.focused===true || table.search.filter }">
								<div class="nav-wrapper" ng-click="table.toggleSearch()">
									<form>
										<div class="input-field">
											<input id="search_{{ table.id }}" type="search"
												ng-model="table.search.filter"
												ng-focus="table.search.focused=true"  
												ng-blur="table.search.focused=false"
												ng-change="table.searchLoadTable()">
											<label for="search_{{ table.id }}"><i class="material-icons" style="color: teal; padding-left:5px;">search</i></label>
										</div>
									</form>
								</div>
							</nav>
						</div>
						
					</h5>
				</li>

				<li class="collection-item avatar" style="padding:10px;">
					
					<!-- if no data -->
					<div ng-if="data.length === 0">
						<div class="label"
								style="text-align:center; padding-top:20px;">
							<span>No {{ table.headerTitle }}!</span>
						</div>
					</div>

					<!-- if data -->
					<div ng-if="data.length">
						<table class="centered highlight responsive-table" ng-table="table.tableParams">

							<!-- remove location -->
							<div id="gfd-delete-modal" class="modal">
								<div class="modal-content">
							   	<h4 style="color: #E57373; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Remove</h4>
									<p>This will remove the beneficiary GFD {{ table.gfd_id }} FCN {{ table.fcn_id }} form the Absent lust and back into the Plan and Achievement</p>
								</div>
								<div class="modal-footer">
									<a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
							    <a ng-click="table.deleteAbsent( table.gfd_id, table.fcn_id, table.site_id, table.report_round, table.report_distribution, table.distribution_date_actual )"
							    		class="modal-action modal-close waves-effect waves-green btn-flat">Yes, remove beneficiary from Absent List</a>
								</div>
							</div>


							<tr ng-repeat="row in $data" style="cursor: pointer; cursor: hand;">

								<td data-title="'Distribution Date'" sortable="'distribution_date_actual'">
									{{ row.distribution_date_actual | date : 'mediumDate' }}
								</td>

								<td data-title="'organization'|translate" sortable="'organization'">
									{{ row.organization }}
								</td>

								<td data-title="'GFD Point'" sortable="'site_name'">
									{{ row.site_name }}
								</td>

								<td data-title="'Camp'" sortable="'admin3name'">
									{{ row.admin3name }}
								</td>

								<td data-title="'Block'" sortable="'admin4name'">
									<div ng-if="row.admin4name">
										Block {{ row.admin4name | split:'Block ':1 }}
									</div>
								</td>

								<td data-title="'Sub-Block'" sortable="'admin5name'">
									{{ row.admin5name }}
								</td>

								<td data-title="'FCN'" sortable="'fcn_id'">
									{{ row.fcn_id }}
								</td>
								
								<td data-title="'Progres ID'" sortable="'progres_id'">
									{{ row.progres_id }}
								</td>

								<td data-title="'Scope ID'" sortable="'scope_id'">
									{{ row.scope_id }}
								</td>

								<td data-title="'Family Size'" sortable="'gfd_family_size'">
									{{ row.gfd_family_size }}
								</td>

                <td ng-if="table.request.data.indicator === 'beneficiaries_absent_list'" 
                			data-title="'Remove'" sortable="'id'" style="white-space: nowrap;">
                    <div class="buttons">
                        <div id ='gfd-delete-btn-{{ row.fcn_id }}' 
                        			class="btn btn-small red lighten-2 waves-effect"
                        			ng-click="table.modalDelete( 'gfd-delete-modal', row.gfd_id, row.fcn_id, row.site_id, row.report_round, row.report_distribution, row.distribution_date_actual );"
                        			title="Remove"
                        			ng-disabled="">
                          <i class="material-icons">delete</i>
                        </div>
                      </div>
                </td>

							</tr>
						</table>
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>