
<!-- save modal -->
<div id="save-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">done</i>{{'save_monthly_stock_report'|translate}} {{ report.monthlyTitleFormat }}</h4>
    <p>{{ report.monthlyTitleFormat }} {{'has_been_saved'|translate}}!</p>
    <!-- <p>Project has been saved!</p> -->
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="report.save( false, true )" class=" modal-action modal-close waves-effect waves-green btn-flat">{{'yes'|translate}}</a>
  </div>
</div>

<!-- list modal -->
<div id="list-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>{{'cancel_stock_report'|translate}}</h4>
    <p>{{'return_to_stock_reports_list'|translate}}</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="report.cancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">{{'yes'|translate}}</a>
  </div>
</div>

<div id="complete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>{{'submit_stock_report_for'|translate}} {{ report.monthlyTitleFormat }}</h4>
    <p>{{'submit_monthly_stock_report_for'|translate}} {{ report.monthlyTitleFormat }}?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="report.save( true, false )" class=" modal-action modal-close waves-effect waves-green btn-flat">{{'yes_submit_report'|translate}}!</a>
  </div>
</div>

<!--  -->
<div class="row">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">

			<!--  -->
			<button class="btn-flat waves-effect waves-teal" ng-click="report.modalConfirm( 'list-modal' )">
				<i class="material-icons left">keyboard_return</i>{{'back_to_stock_reports'|translate}}
			</button>

			<span class="right" style="padding-top:8px;">{{'last_updated' | translate}}: {{ report.updatedAt }}</span>

		</div>
	</div>
</div>

<!-- report form -->
<div name="clusterStockForm" class="col s12 m12 l12" style="padding:0px;" novalidate>

	<fieldset ng-disabled="
		report.report.organization !== report.user.organization && report.user.roles.indexOf('ADMIN') === -1
	">

		<!-- report beneficiaries details -->
		<div class="slide-animate" ng-include="report.templatesUrl + report.locationsUrl"></div>

		<!-- report beneficiaries details -->
		<div class="slide-animate" ng-include="report.templatesUrl + report.notesUrl"></div>

		<!-- form submission -->
		<div class="row remove" ng-if="report.report.report_status !== 'complete'">
			<div class="col s12 m12 l12">
				<div class="widget card-panel white grey-text text-darken-2">

					<!-- submission -->
					<div align="center" >

						<!-- validation -->
						<!--
						<button data-target="save-modal" class="waves-effect waves-light btn"
							ng-click="report.save( false )"
							ng-disabled="
										( !report.formComplete() ) ||
										( !report.submit )"
							ng-cloak><i class="material-icons right">send</i>Save</button>

						-->

						<!-- validation -->
						<div ng-if="!report.formComplete()" style="padding:20px;"><span style="color:#EE6E73">{{'form_not_completed'|translate}}</span></div>

						<button class="waves-effect waves-light btn modal-trigger" data-target="save-modal" ng-disabled="!report.formComplete()">
							<i class="material-icons right">send</i>{{'save_mayus'|translate}}</button>


						<!-- no validation -->
						<!-- <button class="waves-effect waves-light btn modal-trigger"
							data-target="save-modal">
							<i class="material-icons right">send</i>Save</button> -->

						<!-- cancel new -->
						<button class="waves-effect waves-light btn modal-trigger  grey"
							data-target="list-modal">
							{{'cancel_mayus'|translate}}
						</button>

						<br/>
						<br/>

						<button class="waves-effect waves-light btn modal-trigger blue"
							data-target="complete-modal" ng-disabled="!report.formComplete()">
							<i class="material-icons left">assignment_turned_in</i>{{'submit_monthly_report'|translate}}
						</button>

					</div>

				</div>
			</div>
		</div>

	</fieldset>

</div>

<script type="text/javascript">

  // modals
  setTimeout(function(){
  	$('.modal-trigger').leanModal();
  }, 200);

</script>

