
<style>

	.edit-report-btn {
		position:absolute; right:20px; top:20px;
	}

</style>

<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header light-blue lighten-4">
					<h5 class="report-panel-title">
						<i class="material-icons left">location_on</i>{{'stock_report_for'|translate}} {{ report.titleFormat }}
					</h5>
				</li>
				<li class="collection-item avatar">

					<!-- form -->

					 	<div class="row">

							<h5 class="report-selected-locations">{{ report.report.stocklocations.length }} {{'selected_locations'|translate}}<span style="color:#EE6E73; padding-left: 40px" ng-if="!report.formComplete()">{{'form_not_completed_min'|translate}}</span></h5>

							<div class="btn waves-effect waves-light hide-on-small-only edit-report-btn"
	      					title="Edit {{ report.titleFormat }}"
	      					ng-show="report.report.report_status === 'complete'"
	      					ng-click="report.editReport()">
	      					<i class="material-icons left">add</i>{{'edit_report'|translate}}
	      			</div>

							<div class="btn waves-effect waves-light hide-on-small-only edit-report-btn"
	      					title="Edit {{ report.titleFormat }}"
	      					ng-show="report.report.report_status === 'todo'"
	      					ng-click="report.copyPrevReport()">
	      					<i class="material-icons left">content_copy</i>{{'copy_last_month'|translate}}
							</div>

						</div>

						<div class="row" ng-repeat="location in report.report.stocklocations" ng-init="$locationIndex=$index">

							<div class="row" id="ngm-health-locations-{{ $index }}">
								<div class="col s12 m6 left">
						    	<h5 class="report-location-title">
												<i class="material-icons left" style="color: teal;">location_on</i>
												{{ location.admin1name }}, {{ location.admin2name }}, {{ location.site_name }}
									</h5>
								</div>
								<!-- location totals -->
								<div class="col s12 m6 hide-on-med-and-down">
									<div class="beneficiary-count right">
			      				<span style="font-size:1.4rem;"><i class="material-icons" style="padding-right:20px; padding-top:10px;">group</i>{{'beneficiaries_covered'|translate}}</span>
											<!-- filter in app/services/ngmHelper.js -->
											{{ report.report.stocklocations[$locationIndex].stocks | sumByKey:'beneficiaries_covered' | number }}
									</div>
								</div>
							</div>

							<!-- Project beneficiaries details -->
							<div class="slide-animate" ng-include="report.templatesUrl + report.stocksUrl"></div>

						</div>

				</li>
			</ul>

		</div>
	</div>
</div>
