
<style>

	.edit-report-btn {
		position:absolute; right:20px; top:20px;
	}
	*[dir="rtl"] .edit-report-btn {
		left:20px;
	}
	.file-report-btn{
		position:absolute; right:230px; top:20px;
	}
	.percent-upload {
		display: none;
	}
	.close-uplod-btn {
		background-color: red;
		color: #fff;
		font-size: 30px;
	}
	.dropzone {
		margin: 0 20px 0 20px;
	}
	#close-preview-file.modal,#remove-modal.modal {
		width: auto !important;
		right: auto !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	.remove-upload.btn-floating{
		position: absolute;
		top: -14px;
		right:-12px;
		z-index: 20;
		width: 30px;
	height: 30px;
	line-height: 30px;
		cursor: pointer !important;
	}
	.remove-upload.btn-floating i{
		font-size: 20px;
		line-height: 30px;
	}
	.dropzone .dz-preview .dz-details{
		padding: 3em 1em;
		color:#000000;
		background: rgba(255,255,255, 0.2) !important;
	}
</style>

<div id="upload-monthly-file-stock" class="modal">
	<div class="modal-footer" style=" padding-top: 1px; padding-right: 1px; ">
		<a class=" modal-action waves-effect waves-green right close-button" style="margin-top:0px"
			ng-click="report.uploadFileReport.closeModal('upload-monthly-file-stock')">
			<i class="material-icons modal-action modal-close close-uplod-btn">clear</i></a>
	</div>
	<div class="modal-content">


		<div class="row" ng-if="!inputString">
			<div id="dropzone">
				<form ng-dropzone dropzone="dropzone" dropzone-config="report.uploadFileReport.uploadFileConfig"
					enctype="multipart/form-data" class="dropzone needsclick dz-clickable">
					<div class="fallback">
						<input name="file" type="file" multiple />
					</div>
					<div id="dropzone-message" class="center"></div>
					<div class="percent-upload">
						<div class=" percentage center" style="font-weight: 400;font-size: 48px; margin-top:30px;">
						</div>
						<div class="dz-progress progress">
							<div class="indeterminate dz-upload" data-dz-uploadprogress>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="center" style="margin-top: 10px">
				<button id="upload_file" class="btn">{{'submit'|translate}}</button>
				<div id="delete_file" class="btn red">{{'cancel_mayus'|translate}}</div>
				<button id="switch_btn_file" ng-click="report.switchInputFile()" class="btn blue"> Input data</button>
			</div>
		</div>
		<div class="row" ng-if="inputString">
			<div id='input-string-area' class="input-field col s12 m12 l12">
				<div class="percent-upload">
					<div class=" percentage center" style="font-weight: 400;font-size: 48px; margin-top:30px;">
					</div>
					<div class="dz-progress progress">
						<div class="indeterminate dz-upload" data-dz-uploadprogress>
						</div>
					</div>
				</div>
				<textarea id="ngm-input-string" type="text" class="validate materialize-textarea" name="input-string"
					ng-model="report.text_input" rows="2000"
					style="max-height:20rem !important;overflow-y: auto;">
												</textarea>
				<label for="ngm-input-string" style="margin-top: -15px;">Select table in Excel, copy to clipboard, and
					past it here</label>
			</div>
			<div class="center" style="margin-top: 10px">
				<button id="input_string" class="btn"
					ng-click="report.uploadFileReport.uploadText()">{{'submit'|translate}}</button>
				<div id="close_input_string" class="btn red modal-action modal-close">{{'cancel_mayus'|translate}}</div>
				<button id="switch_btn_text" ng-click="report.switchInputFile()" class="btn blue"> upload file</button>
			</div>
		</div>
	</div>
</div>

<div id="message-monthly-file-stock" class="modal">
	<div class="modal-footer" style=" padding-top: 1px; padding-right: 1px; ">
		<a class=" modal-action waves-effect waves-green right close-button" style="margin-top:0px">
			<i class="material-icons modal-action modal-close close-uplod-btn">clear</i></a>
	</div>
	<div class="modal-content" style="padding-top: 0px;">

		<div class="center">
			<i class="material-icons" style="color:#ff9800">error</i>
		</div>
		<div class="row">

			<textarea id="ngm-missing-value-stock" type="text" class="validate materialize-textarea" name="message-warning"
				ng-model="report.report.messageWarning" readonly
				style="border-bottom-width: 0px; text-align: left;font-size: 1rem !important;min-height: 10rem !important;overflow-y: auto;font-weight: 600;padding-left: 100px;">
			</textarea>
			<div class="center" style="margin-top: 10px">
				<button id="copy_content" class="btn" ng-click="ngmClusterImportFile.copyToClipBoard('ngm-missing-value-stock')"><i
						class="material-icons">content_copy</i></button>
			</div>
		</div>
	</div>
</div>

<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header" style="background-color:#ee6e73">
					<h5 class="report-panel-title white-text">
						<i class="material-icons left">location_on</i>{{ report.monthlyTitleFormat }}
					</h5>
				</li>
				<li class="collection-item avatar">

					<!-- form -->

					 	<div class="row">

							<h5 class="report-selected-locations">{{ report.report.stocklocations.length }} {{'selected_locations'|translate}}<span style="color:#EE6E73; padding-left: 40px" ng-if="!report.formComplete()">{{'form_not_completed_min'|translate}}</span></h5>

							<div class="btn waves-effect waves-light hide-on-small-only edit-report-btn"
	      					title="Edit {{ report.titleFormat }}"
	      					ng-show="report.report.report_status === 'complete'"
	      					ng-click="report.editReport()">
	      					<i class="material-icons left">add</i>{{'edit_report'|translate}}
	      			</div>

							<button class="btn waves-effect waves-light hide-on-small-only edit-report-btn"
	      					title="Edit {{ report.titleFormat }}"
	      					ng-show="report.report.report_status === 'todo'"
	      					ng-click="report.copyPrevReport()">
	      					<i class="material-icons left">content_copy</i>{{'copy_last_month'|translate}}
							</button>

							<button class="btn waves-effect waves-light hide-on-small-only file-report-btn" title="Edit {{ report.titleFormat }}"
								ng-show="report.report.report_status === 'todo' && report.organization.admin0pcode === 'AF'" ng-click="report.uploadFileReport.openModal('upload-monthly-file-stock')">
								<i class="material-icons left">publish</i>Import Form File
							</button>

						</div>

						<div class="row" ng-repeat="location in report.report.stocklocations" ng-init="$locationIndex=$index">

							<div class="row" id="ngm-health-locations-{{ $index }}">
								<div class="col s12 m12 l6 left">
						    	<h5 class="report-location-title">
												<i class="material-icons left" style="color: teal;">location_on</i>
												{{ location.admin1name }}, {{ location.admin2name }}, {{ location.site_name }}
									</h5>
								</div>
								<!-- location totals -->
								<div class="col s12 m12 l6 hide-on-med-and-down">
									<div class="beneficiary-count right">
			      				<span style="font-size:1.4rem;"><i class="material-icons" style="padding-right:20px; padding-top:10px;">group</i>{{(report.organization.admin0pcode === 'ET'?'Households Covered':'beneficiaries_covered')|translate}}</span>
											<!-- filter in app/services/ngmHelper.js -->
											{{ report.report.stocklocations[$locationIndex].stocks | sumByKey:'beneficiaries_covered' | number }}
									</div>
								</div>
							</div>

							<!-- Project beneficiaries details -->
							<div ng-include="report.templatesUrl + report.stocksUrl"></div>

						</div>

				</li>
			</ul>

		</div>
	</div>
</div>
