
<style>

.count, .label {
  z-index: 1 !important;
}

.ng-table th.sortable .sort-indicator {
  color: #2196F3;
  font-weight: 400;
}

.pagination li.active {
    background-color: #009688;
}

</style>


<!-- ngTable -->
<div class="row" ng-if="data.length">
  <div class="col s12 m12 l12">
<!--   <h4 class="report-title"
        style="margin-top: 10px; color: {{ table.style.defaultPrimaryColor }}; border-bottom: 2px {{ table.style.defaultPrimaryColor }} solid;">PRODUCTS LIST</h4> -->
    <div class="card">
      <ul class="collection with-header">
        <li class="{{ table.headerClass }}" style="{{ table.headerStyle }}">
          <h5 class="report-work-title {{ table.headerText }}"><i class="material-icons left">{{ table.headerIcon }}</i>{{ table.headerTitle }}</h5>
        </li>
        <li class="collection-item avatar" style="padding:10px;">

          <!-- if data -->
          <div ng-if="data.length">
            <table class="centered highlight responsive-table" ng-table="table.tableParams">
              <tr ng-repeat="row in $data" style="cursor: pointer; cursor: hand;">
                <!-- columns -->
                <td data-title="'Country'" sortable="'admin0name'">
                    {{ row.admin0name }}
                </td>
                <td data-title="'Project'" sortable="'project'">
                    {{ row.project }}
                </td>
                <td data-title="'Sector'" sortable="'product_sector'">
                    {{ row.product_sector }}
                </td>
                <td data-title="'Product Type'" sortable="'product_type'">
                    {{ row.product_type }}
                </td>
                <td data-title="'Product Month'" sortable="'product_month'">
                    {{ row.product_month + ' ' + row.product_year }}
                </td>
                <td data-title="'View'" sortable="'product_month'">
                  
                  <a target="_blank" 
                      href="{{ row.form_url }}" 
                      title="View Product Form Registration">
                    <i class="material-icons center">edit</i>
                  </a>
                  <a target="_blank" 
                      href="{{ row.product_upload }}" 
                      title="View Product">
                    <i class="material-icons center">open_in_new</i>
                  </a>

                </td>

              </tr>
            </table>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>