
<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-4">
					<h5 class="report-work-title">
						<i class="material-icons left">person_pin</i>
							<span class="beneficiary-count">{{ project.definition.target_locations.length | number }}</span> Project Target Locations
						<!-- <i class="material-icons left">person_pin</i> Project Target Locations -->
					</h5>
				</li>
				<li class="collection-item avatar">

					<p id="ngm-target_locations" style="padding:10px;">
						Enter the TARGET LOCATIONS of your PROJECT in the form below;
					</p>

					<div class="row">
						<div class="col s12 card">
							<div style="padding-top: 10px; padding-left: 40px;">
							  <table class="bordered responsive-table" ng-show="project.definition.target_locations.length">
							    <tr style="font-weight: 400">
							    	<td></td>
							    	<td>Reporter</td>
							    	<td>Implementation</td>
							      <td>{{ project.lists.admin2[0].admin1type_name }}</td>
							      <td>{{ project.lists.admin2[0].admin2type_name }}</td>
							      <td ng-if="project.lists.admin3.length">{{ project.lists.admin3[0].admin3type_name }}</td>
										<td>Location Type</td>
										<td ng-show="project.showExistingLabel()">From Site List?</td>
							      <td>Site Name *</td>
							      <td ng-show="project.definition.project_status !== 'complete'">Edit</td>
							    </tr>
							    <tr ng-repeat="location in project.definition.target_locations track by $index">
							    	<td>
							    		<i class="material-icons" style="color: teal;">person_pin</i>
							    	</td>
							      <td>
							        <!-- editable reporter -->
							        <span e-placeholder="Select..." editable-select="location.username" e-name="username" e-form="locationform" e-ng-options="item.username as item.username for item in project.lists.users" e-required>
							          {{ project.showReporter($data, location) }}
							        </span>
							      </td>
							      <td>
							        <!-- editable site_implementation_id -->
							        <span e-placeholder="Select..." editable-select="location.site_implementation_id" e-name="site_implementation_id" e-form="locationform" e-ng-options="item.site_implementation_id as item.site_implementation_name for item in project.lists.site_implementation" e-required>
							          {{ project.showSiteImplementation($data, location) }}
							        </span>
							      </td>
							      <td>
							        <!-- editable admin1 -->
							        <span e-placeholder="Select..." editable-select="location.admin1pcode" e-name="admin1pcode" e-form="locationform" e-ng-options="item.admin1pcode as item.admin1name for item in project.lists.admin1" e-required>
							          {{ project.showAdmin1($data, location) }}
							        </span>
							      </td>
							      <td>
							        <!-- editable admin2 -->
							        <span e-placeholder="Select..." editable-select="location.admin2name" e-name="admin2name" e-form="locationform" e-ng-options="item.admin2name as item.admin2name for item in project.lists.admin2Select[$index]" e-ng-disabled="!location.admin1pcode" e-required>
							          {{ project.showAdmin2($index, $data, location) }}
							        </span>
							      </td>
							      <td ng-if="project.lists.admin3.length">
							        <!-- editable admin3 -->
							        <span e-placeholder="Select..." editable-select="location.admin3name" e-name="admin3name" e-form="locationform" e-ng-options="item.admin3name as item.admin3name for item in project.lists.admin3Select[$index]" e-ng-change="project.loadAdmin3Sites($index, location)"  e-ng-disabled="!location.admin2pcode" e-required>
							          {{ project.showAdmin3($index, $data, location) }}
							        </span>
							      </td>

							      <!-- SITE TYPE -->
							      <td>
							        <span e-placeholder="Select..." editable-select="location.site_type_id" e-name="site_type_id" e-form="locationform" e-ng-options="item.site_type_id as item.site_type_name for item in project.lists.site_type" e-ng-change="project.changeSiteType($index, location)" e-ng-disabled="project.lists.admin3.length && !location.admin3name" e-required>
							          {{ project.showSiteType($index, $data, location) }}
							        </span>
							      </td>

							      <td ng-show="project.showExistingLabel()">
							        <span e-placeholder="Select..." editable-select="location.site_list_select_id" e-name="site_list_select_id" e-form="locationform" e-ng-options="item.site_list_select_id as item.site_list_select_name for item in project.lists.site_list_select" e-ng-change="project.yesNoChange(location)"  
							        		e-ng-disabled="project.showListYesNoDisabled" e-required>
							          {{ project.showListYesNo($index, $data, location) }}
							        </span>
							      </td>

							      <!-- select existing: drop down -->
							      <td ng-if="location.site_list_select_id === 'yes'">
							        <span e-placeholder="Select..." onshow="project.loadAdmin3Sites( $index, location )" editable-select="location.site_id" e-name="site_id" e-form="locationform" e-ng-options="item.site_id as item.site_name for item in project.lists.sites[$index][location.admin3pcode] | filter:{ site_type_id: location.site_type_id }" e-ng-disabled="!location.site_type_id">
							          {{ project.showAdmin3Sites($index, $data, location) }}
							        </span>
							      </td>
							      <!-- select existing: free text  -->
										 <td ng-if="location.site_list_select_id === 'no'">
							        <span editable-text="location.site_name" e-name="site_name" e-form="locationform" e-required>
							        	{{ project.showSiteName($data, location) }}
							        </span>
							      </td>
							      <!-- select existing: free text  -->
										 <td ng-if="location.site_list_select_id !== 'no' && location.site_list_select_id !== 'yes'">
							        <span editable-text="location.site_name" e-name="site_name" e-form="locationform" e-required>
							        	{{ project.showSiteName($data, location) }}
							        </span>
							      </td>

							      <td style="white-space: nowrap" ng-show="project.definition.project_status !== 'complete'" >
							        <!-- form -->
							        <form editable-form name="locationform" ng-show="locationform.$visible" onbeforesave="project.saveLocation()" class="form-buttons form-inline" shown="inserted === location">
							          <button 
							          		title="Save" type="submit" class="btn waves-effect waves-light save"
							          		ng-if="locationform.$visible && !project.newProject"
							          		ng-disabled="
					                  	( ( !project.project_details_valid() ) ||
					                    ( !project.activity_type_valid() ) ||
					                    ( !project.project_donor_valid() ) ||
					                    ( !project.target_beneficiaries_valid() ) ||
					                    ( !project.target_locations_valid() ) ||
					                    ( !project.submit ) )">
							            <i class="material-icons">save</i>
							          </button>
							          <button type="button" ng-if="locationform.$visible" ng-disabled="locationform.$waiting" ng-click="locationform.$cancel(); project.cancelEdit( 'target_locations', $index )" class="btn blue lighten-1 waves-effect waves-light" title="Cancel Edit">
													<i class="material-icons">clear</i>
							          </button>
							        </form>
							        <div class="buttons" ng-if="!locationform.$visible">
							          <button class="btn waves-effect waves-light" ng-click="locationform.$show(); project.locationEdit( $index )" title="Edit"
							          			ng-disabled="
							                  	( ( !project.project_details_valid() ) ||
							                    ( !project.activity_type_valid() ) ||
							                    ( !project.project_donor_valid() ) ||
							                    ( !project.target_beneficiaries_valid() ) ||
							                    ( !project.target_locations_valid() ) ||
							                    ( !project.submit ) )">
													<i class="material-icons">create</i>
							          </button>
							          <button class="btn red lighten-2 waves-effect waves-light" ng-click="project.removeLocationModal( $index )" title="Remove"
							          			ng-disabled="
							                  	( ( !project.project_details_valid() ) ||
							                    ( !project.activity_type_valid() ) ||
							                    ( !project.project_donor_valid() ) ||
							                    ( !project.target_beneficiaries_valid() ) ||
							                    ( !project.target_locations_valid() ) ||
							                    ( !project.submit ) )">
							          	<i class="material-icons">delete</i>
							          </button>
							        </div>  
							      </td>
							    </tr>
							  </table>							      

							  <button class="btn" ng-show="project.definition.project_status !== 'complete'" ng-click="project.addLocation()" style="margin:20px 0px;">
							  	<i class="material-icons left">add</i>Add Row
							  </button>

							</div>

						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>