<style>
	md-select[disabled] .md-select-value {
		color: #000;
		background-image: none;
	}

	md-select[disabled] .md-select-value .md-select-icon:after {
		display: none;
	}

	md-input-container {
		margin: 0 0
	}

	.md-checkbox-enabled[selected] .md-icon {
		background-color: rgb(38, 166, 154);
	}

	md-select-menu md-content md-option[selected],
	md-select-menu md-content md-option[selected]:focus {
		color: #000;
	}

	.md-text {
		font-size: 13.5px;
	}

	md-select {
		margin: 0px 0 0px 0;
	}

	.md-select-value>span:not(.md-select-icon) {
		padding-bottom: 10px;
		padding-top: 9px;
	}

	md-select.md-default-theme .md-select-value,
	md-select .md-select-value {
		border-bottom-color: rgba(0, 0, 0, 0.40);
	}

	md-select.md-default-theme:not([disabled]):focus .md-select-value,
	md-select:not([disabled]):focus .md-select-value {
		border-bottom-color: #26a69a;
		color: rgba(0, 0, 0, 0.87);
	}
</style>
<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">person_pin</i>
							<span class="beneficiary-count">{{ project.definition.target_locations.length | number }}</span> {{'project_target_locations' | translate}}
					</h5>
				</li>
				<li class="collection-item avatar">

					<p id="ngm-target_locations" style="padding:10px;">
						{{'enter_the_target_locations_of_your_project_in_the_form_below' | translate}};
					</p>

					<p>
						
					</p>

					<div class="row">
						<div class="col s12 card">
							<div style="padding-top: 10px; padding-left: 40px;">
							  <table class="bordered responsive-table" ng-show="project.definition.target_locations.length">
							    <tr style="font-weight: 400">
							    	<td></td>
							    	<td>{{'reporter' | translate}}</td>
							    	<td ng-if="project.definition.admin0pcode !== 'COL'">
							    	{{'implementation' | translate}}</td>
							    	<td ng-if="project.definition.admin0pcode === 'COL'">{{'implementation_level' | translate}}</td>
							      <td>{{ project.lists.admin2[0].admin1type_name }}*</td>
							      <td>{{ project.lists.admin2[0].admin2type_name }}*</td>
							      <td ng-if="project.lists.admin3.length">{{ project.lists.admin3[0].admin3type_name }}</td>
							      <td ng-if="project.lists.admin4.length">{{ project.lists.admin4[0].admin4type_name }}</td>
							      <td ng-if="project.lists.admin5.length">{{ project.lists.admin5[0].admin5type_name }}</td>
										<td ng-if="project.definition.admin0pcode !== 'COL'">{{'type' | translate}}</td>
										<td ng-if="project.definition.admin0pcode === 'COL'">{{'site_type' | translate}}</td>
										<td ng-if="project.definition.admin0pcode !== 'AF' && project.definition.admin0pcode !== 'COL'">{{'from_list'|translate}}?</td>
										<td>{{'site_name'|translate}}* </td>
										<td ng-if="project.definition.implementing_partners_checked">{{'partner'|translate}}</td>
							      <td ng-show="project.definition.project_status !== 'complete'">{{'edit'|translate}}</td>
							    </tr>
							    <tr ng-repeat="location in project.definition.target_locations | orderBy:'createdAt' track by $index" dir="ltr">
							    	<td>
							    		<i class="material-icons" style="color: teal;">person_pin</i>
							    	</td>
							      <td>
							        <!-- editable reporter -->
							        <span e-placeholder="{{'select'|translate}}" 
							        				editable-select="location.username" 
							        				e-name="username" 
							        				e-form="locationform" 
							        				e-ng-options="item.username as item.username for item in project.lists.users" 
							        				e-required>
							          {{ project.showReporter( $data, location ) }}
							        </span>
							      </td>
							      <!--<td ng-if="project.definition.admin0pcode !== 'COL'">-->
							      	<td >
							        <!-- editable site_implementation_id -->
							        <span e-placeholder="{{'select'|translate}}" 
							        				editable-select="location.site_implementation_id" 
							        				e-name="site_implementation_id" 
							        				e-form="locationform" 
							        				e-ng-options="item.site_implementation_id as item.site_implementation_name for item in project.lists.site_implementation"
							        				e-required>
							          {{ project.showSiteImplementation( $data, location ) }}
							        </span>
							      </td>
							      <td>
							      	<!-- admin1 -->
							        <span e-placeholder="{{'select'|translate}}"
							        				editable-select="location.admin1pcode"
							        				e-name="admin1pcode"
							        				e-form="locationform"
							        				e-ng-options="item.admin1pcode as item.admin1name for item in project.lists.admin1 | filter : { inactive: '!true' }" 
							        				e-ng-change="project.getAdminSites( 'admin1pcode', $index, $data, location ); project.adminOnChange( 'admin1pcode', $index, $data, location )"
							        				e-required>
							          {{ project.showAdmin( 'admin0pcode', 'admin1', 'admin1pcode', 'admin1name', $index, $data, location ) }}
							        </span>
							      </td>
							      <td>
							      	<!-- admin2 -->
							        <span e-placeholder="{{'select'|translate}}"
							        				editable-select="location.admin2pcode"
							        				e-name="admin2pcode"
							        				e-form="locationform"
							        				e-ng-options="item.admin2pcode as item.admin2name for item in project.lists.admin2Select[ $index ]"
							        				e-ng-change="project.getAdminSites( 'admin2pcode', $index, $data, location ); project.adminOnChange( 'admin2pcode', $index, $data, location )"
							        				e-ng-disabled="!location.admin1pcode"
							        				e-required>
							          {{ project.showAdmin( 'admin1pcode', 'admin2', 'admin2pcode', 'admin2name', $index, $data, location ) }}
							        </span>
							      </td>
							      <!-- editable admin3 -->
							      <td ng-if="project.lists.admin3.length">
							        <div ng-show="!project.lists.admin3Select[ $index ].length">
								        <span>
								        	-
								        </span>
								      </div>
							        <div ng-show="project.lists.admin3Select[ $index ].length">
								        <span e-placeholder="{{'select'|translate}}"
								        				editable-select="location.admin3pcode"
								        				e-name="admin3pcode"
								        				e-form="locationform"
								        				e-ng-options="item.admin3pcode as item.admin3name for item in project.lists.admin3Select[ $index ]" 
																e-ng-change="project.getAdminSites( 'admin3pcode', $index, $data, location ); project.adminOnChange( 'admin3pcode', $index, $data, location )"
								        				e-ng-disabled="!location.admin2pcode">
							          {{ project.showAdmin( 'admin2pcode', 'admin3', 'admin3pcode', 'admin3name', $index, $data, location ) }}
								        </span>
								       </div>
							      </td>

							      <!-- editable admin4 -->
							      <td ng-if="project.lists.admin4.length">
							        <div ng-show="!project.lists.admin4Select[ $index ].length">
								        <span>
								        	-
								        </span>
								      </div>
							        <div ng-show="project.lists.admin4Select[ $index ].length">
								        <span e-placeholder="{{'select'|translate}}"
								        				editable-select="location.admin4pcode"
								        				e-name="admin4pcode"
								        				e-form="locationform"
								        				e-ng-options="item.admin4pcode as item.admin4name for item in project.lists.admin4Select[ $index ]" 
																e-ng-change="project.getAdminSites( 'admin4pcode', $index, $data, location ); project.adminOnChange( 'admin4pcode', $index, $data, location )"
								        				e-ng-disabled="!location.admin3pcode">
							          {{ project.showAdmin( 'admin3pcode', 'admin4', 'admin4pcode', 'admin4name', $index, $data, location ) }}
								        </span>
								       </div>
							      </td>

							      <!-- editable admin5 -->
							      <td ng-if="project.lists.admin5.length">
							        <div ng-show="!project.lists.admin5Select[ $index ].length">
								        <span>
								        	-
								        </span>
								      </div>
							        <div ng-show="project.lists.admin5Select[ $index ].length">
								        <span e-placeholder="{{'select'|translate}}"
								        				editable-select="location.admin5pcode"
								        				e-name="admin5pcode"
								        				e-form="locationform"
								        				e-ng-options="item.admin5pcode as item.admin5name for item in project.lists.admin5Select[ $index ]" 
																e-ng-change="project.getAdminSites( 'admin5pcode', $index, $data, location ); project.adminOnChange( 'admin5pcode', $index, $data, location )"
								        				e-ng-disabled="!location.admin4pcode">
								          {{ project.showAdmin( 'admin4pcode', 'admin5', 'admin5pcode', 'admin5name', $index, $data, location ) }}
								        </span>
								       </div>
							      </td>

							      <td>
							      	<!-- site type -->
							        <span e-placeholder="{{'select'|translate}}"
							        				editable-select="location.site_type_id"
							        				e-name="site_type_id"
							        				e-form="locationform"
							        				e-ng-options="item.site_type_id as item.site_type_name for item in project.lists.site_type"
							        				e-ng-change="project.getAdminSites( 'site_type_id', $index, $data, location ); project.adminOnChange( 'site_type_id', $index, $data, location )"
							        				e-ng-disabled="!location.admin1pcode"
							        				e-required>
							          {{ project.showSiteType( $index, $data, location ) }}
							        </span>
							      </td>

							      <td ng-if="project.definition.admin0pcode !== 'AF' && project.definition.admin0pcode !== 'COL' ">
							      	<!-- select from list -->	
							        <span e-placeholder="{{'select'|translate}}"
							        				editable-select="location.site_list_select_id"
							        				e-name="site_list_select_id"
							        				e-form="locationform"
							        				e-ng-options="item.site_list_select_id as item.site_list_select_name for item in project.lists.site_list_select"
							        				e-ng-change="project.yesNoOnChange( location )"
							        				e-ng-disabled="location.site_list_select_disabled">
							          {{ project.showListYesNo( $index, $data, location ) }}
							        </span>
							      </td>

							      <!-- select existing: drop down -->
							      <td ng-if="location.site_list_select_id === 'yes'">
							        <span e-placeholder="{{'select'|translate}}"
							        			editable-select="location.site_id"
							        			e-name="site_id"
							        			e-form="locationform"
							        			e-ng-options="item.site_id as item.site_name for item in project.lists.adminSitesSelect[ $index ] | 
							        											filter:{ site_type_id: location.site_type_id }"
							        			e-ng-disabled="!location.site_type_id">
							          {{ project.showAdminSites( $index, $data, location ) }}
							        </span>
							      </td>

							      <!-- select existing: free text  -->
										 <td ng-if="location.site_list_select_id === 'no'">
							        <span editable-text="location.site_name"
							        				e-name="site_name"
							        				e-form="locationform"
							        				e-required>
							        	{{ project.showSiteName( $data, location ) }}
							        </span>
							      </td>
							      <!-- select existing: free text  -->
										 <td ng-if="location.site_list_select_id !== 'no' && location.site_list_select_id !== 'yes'">
							        <span editable-text="location.site_name"
							        				e-name="site_name"
							        				e-form="locationform"
							        				e-required>
							        	{{ project.showSiteName( $data, location ) }}
							        </span>
										</td>
										<td ng-if="project.definition.implementing_partners_checked">											
											<md-select ng-model="location.implementing_partners" multiple ng-model-options="{trackBy: '$value.organization'}" ng-disabled="!locationform.$visible"
											 placeholder="{{'not_set'|translate}}">
												<md-option ng-value="partner" ng-repeat="partner in project.definition.implementing_partners">{{ partner.organization }}</md-option>
											</md-select>
										</td>

							      <td style="white-space: nowrap" ng-show="project.definition.project_status !== 'complete'" >
							        <!-- form -->
							        <form editable-form name="locationform" ng-show="locationform.$visible" onbeforesave="project.saveLocation()" class="form-buttons form-inline" shown="inserted == location">
							          <button 
							          		title="Save" type="submit" class="btn waves-effect waves-light save"
							          		ng-if="locationform.$visible && !project.newProject"
							          		ng-disabled="
					                  	( ( !project.project_details_valid() ) ||
					                    ( !project.activity_type_valid() ) ||
					                    ( !project.project_donor_valid() ) ||
					                    ( !project.target_beneficiaries_valid() ) ||
					                    ( !project.target_locations_valid() ) ||
					                    ( !project.submit ) )">
							            <i class="material-icons">save</i>
							          </button>
							          <button type="button" ng-if="locationform.$visible" ng-click="project.cancelEdit( 'target_locations', $index, locationform )" class="btn blue lighten-1 waves-effect waves-light" title="Cancel Edit">
													<i class="material-icons">clear</i>
							          </button>
							        </form>
							        <div class="buttons" ng-if="!locationform.$visible">
							          <button class="btn waves-effect waves-light" ng-click="locationform.$show(); project.locationEdit( $index )" title="Edit"
							          			ng-disabled="
							                  	( ( !project.project_details_valid() ) ||
							                    ( !project.activity_type_valid() ) ||
							                    ( !project.project_donor_valid() ) ||
							                    ( !project.target_beneficiaries_valid() ) ||
							                    ( !project.target_locations_valid() ) ||
							                    ( !project.submit ) )">
													<i class="material-icons">create</i>
							          </button>
							          <button class="btn red lighten-2 waves-effect waves-light" ng-click="ngmClusterLocations.removeLocationModal( project, location.id )" title="Remove"
							          			ng-disabled="
							                  	( ( !project.project_details_valid() ) ||
							                    ( !project.activity_type_valid() ) ||
							                    ( !project.project_donor_valid() ) ||
							                    ( !project.target_beneficiaries_valid() ) ||
							                    ( !project.target_locations_valid() ) ||
							                    ( !project.submit ) )">
							          	<i class="material-icons">delete</i>
							          </button>
							        </div>  
							      </td>
							    </tr>
							  </table>							      

							  <!-- default -->
							  <button class="btn"
							  					ng-show="project.definition.project_status !== 'complete' && project.canEdit" 
							  					ng-click="project.addLocation()"
							  					style="margin:20px 0px;">
							  	<i class="material-icons left">add</i>{{'add_location'|translate}}

							  </button>

							</div>

						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</div>
</div>