
<style>

	.rotate{
		transform:rotate(180deg);
		box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
		transition: .25s ease-in-out;
	}
	.rotate:hover{
		box-shadow:0 -5px 11px 0 rgba(0, 0, 0, 0.18), 0 -4px 15px 0 rgba(0, 0, 0, 0.15);
	}

</style>

<!-- bind html -->
<ul class="collection with-header">
	<li class="{{ panel.header }}">
		<h5 class="report-work-title white-text">
			<i class="material-icons left">{{ panel.icon }}</i>
				{{ panel.message }}
				<div ng-if="panel.minimize.toggle" class="right">
					<button
						class="btn-floating"
						ng-class="{'rotate': panel.minimize.open }"
						ng-click="panel.minimize.openCloseCard( panel )"
						ng-disabled="panel.minimize.disabled">
						<i class="material-icons">keyboard_arrow_down</i>
						<md-tooltip md-direction="right" ng-if="panel.minimize.open">
							{{ 'Minimize'|translate }}
						</md-tooltip>
						<md-tooltip md-direction="right" ng-if="!panel.minimize.open">
							{{ 'Click to Expand'|translate }}
						</md-tooltip>
					</button>
				</div>
		</h5>
	</li>
	<div align="left" style="padding: 20px;" ng-if="panel.minimize.open">
		<a style="margin:5px;" ng-repeat="form in panel.forms" href="{{ form.url }}" target="_blank" title="Go To {{ form.form_title }}" class="waves-effect waves-light btn"><i class="material-icons left">assignment_ind</i>FORM: {{ form.form_title | slice:18:100 }}</a>
	</div>
</ul>
