	<a class="btn-flat waves-effect waves-teal left hide-on-small-only" href="{{ panel.helper.url }}">
		<i class="material-icons left">keyboard_return</i>{{ panel.helper.title }}
	</a>
		<a class="waves-effect waves-light btn right" href="{{ panel.helper.distribution_period_url }}">
		<i class="material-icons left">cached</i>Set to Distribution Period
	</a>
	<a class="waves-effect waves-light btn blue right" style="margin-right: 20px;" href="{{ panel.helper.today_url }}">
		<i class="material-icons left">cached</i>Set to Today
	</a>
	<span ng-if="panel.data.updatedAt" class="right" style="padding-right: 20px; padding-top:8px;">
		{{ 'last_updated' | translate }}: {{ panel.data.updatedAt }} by {{ panel.data.organization }}
	</span>