
<style>

</style>

<!-- bind html -->
<ul class="collection with-header">
	<li class="{{ panel.header }}">
		<h5 class="report-work-title white-text">
			<i class="material-icons left">{{ panel.icon }}</i>
				{{ panel.message }}
		</h5>
	</li>
	<div align="center" style="padding-top: 30px;">
		<img src="images/find-account.png" width="20%" title="{{ panel.message }}"/>
		<p style="font-weight:400;font-size:1.1rem">Partners Still Working on Planned Beneficiaries for Distribution Round {{ panel.report_distribution  }}!</p><br/>
	</div>
</ul>
