
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688;
	}
	
</style>

  <!-- default -->
  <div class="row">
    
    <!-- team -->
    <div class="col s12 m6">
      <a href="#/immap/team">
        <div class="card small blue-grey darken-1 hoverable">
          <div class="card-image">
            <img src="images/immap/team.jpg">
          </div>
          <div class="card-content white-text">
            <p class="card-title">{{ panel.user.organization }} Team</p>
          </div>
          <div class="card-action">
            <a class="left" href="#/immap/team">View Team</a>
          </div>
        </div>
       </a>
    </div>

    <!-- breifing package -->
    <div class="col s12 m6">
      <a href="https://drive.google.com/drive/folders/14NeVUFudt6yGxtRNjNUvQC6MAGhhfEMh?usp=sharing"
          target="_blank">
        <div class="card small blue-grey darken-1 hoverable">
          <div class="card-image">
            <img src="images/immap/briefing.jpg">
          </div>
          <div class="card-content white-text">
            <p class="card-title">{{ panel.user.organization }} Briefing</p>
          </div>
          <div class="card-action">
            <a class="left" 
                href="https://drive.google.com/drive/folders/14NeVUFudt6yGxtRNjNUvQC6MAGhhfEMh?usp=sharing" 
                target="_blank">View Briefing Package</a>
          </div>
        </div>
       </a>
    </div>

  </div>

  <!-- tools -->
  <div class="row">

    <!-- monthly report -->
    <div class="col s12 m4">
     <!-- <a href="#/immap/products"> -->
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/immap/monthly_report.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Monthly Report</p>
        </div>
        <div class="card-action">
<!--           <a class="left" 
              href="#/immap/products">Add Monthly Report</a> -->
        </div>
      </div>
      <!-- </a> -->
    </div>

    <!-- training -->
    <div class="col s12 m4">
     <!-- <a href="#/immap/products"> -->
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/immap/trainings.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Trainings</p>
        </div>
        <div class="card-action">
<!--           <a class="left" 
              href="#/immap/products">Add Training</a> -->
        </div>
      </div>
      <!-- </a> -->
    </div>

    <!-- products -->
    <div class="col s12 m4">
     <a href="#/immap/products">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/immap/products.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Products</p>
        </div>
        <div class="card-action">
          <a class="left" 
              href="#/immap/products">Add Products</a>
        </div>
      </div>
      </a>
    </div>

  </div>
