<style>

	.nav-list-search {
		margin-right: 10px;
		margin-top: -53px;
		background-color: white;
		width:72px;
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		-ms-transition: width 1s ease;
		transition: width 1s ease;		
	}
	.nav-list-search.focused {
		margin-right: 10px;
		margin-top: -53px;
		width: 100%;
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		-ms-transition: width 1s ease;
		transition: width 1s ease;
	}

	.input-field input[type=search] {
		font-weight:300;
	}	

  /* remove border bottom */
	input[type=text], input[type=text]:disabled, input[type=text]:focus, input[type=text]:valid {
		border-bottom: none !important;
		box-shadow: none !important;
	}

	.pagination li.active {
	  background-color: #009688;
	}

</style>

<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header light-blue lighten-4">
					<h5 class="report-work-title">Project Financial Tracking</h5>
					<div ng-if="project.definition.financials.length > 3" class="col s12 m4 right">
					  <nav class="nav-list-search right" ng-class="{'focused':project.search.focused===true || project.search.filter }">
					    <div class="nav-wrapper" ng-click="project.toggleSearch()">
					      <form>
					        <div class="input-field">
					          <input id="search_ngm-financial-list" type="search"
					          	ng-model="project.search.filter"
					          	ng-focus="project.search.focused=true"  
				            	ng-blur="project.search.focused=false">
					          <label for="search_ngm-financial-list"><i class="material-icons" style="color: teal; padding-left:5px;">search</i></label>
					        </div>
					      </form>
					    </div>
					  </nav>
			    </div>					
				</li>			
				<li class="collection-item avatar" >
					
					<!-- form -->
	      	<div class="row" ng-if="project.definition.details.project_status !== 'complete'">

		        <div class="input-field col s12 m3"
							ng-class="{ 'error-label': healthProjectFinancialsForm.$submitted 
					  								&& project.definition.financials.length === 0 }">
					    <select id="ngm-beneficiary-category" class="validate"
					    	ng-model="project.options.selection.expenditure"
					    	ng-change="project.addFinancialItem()"
					    	ng-disabled="project.definition.details.project_status === 'complete'"
					    	ng-options="item as item.expenditure_name for item in project.options.list track by item.expenditure_item">
					      <option value="" disabled selected>Select Category to Add Item</option>
					    </select>
					    <label>Expenditure Item</label>
		        </div>

	      	</div>

	      	<div class="row" 
	      			dir-paginate="item in project.definition.financials | filter: project.search.filter | itemsPerPage: 5" 
	      			pagination-id="ngm-financial-list">

	      		<div class="card" style="padding: 20px;">

			      	<div class="row">

			      		<div class="input-field col s12">
				          <input id="ngm-expenditure-item-{{$index}}" type="text" class="validate"
				          	ng-model="item.expenditure_name"
				          	disabled>
				          <label for="ngm-expenditure-item-{{$index}}">Expenditure Item no. {{ $index+1 }}</label>
			      		</div>

			      		<a class="waves-effect waves-light btn red lighten-2" style="position:absolute; margin-left:-06rem;"
		            	ng-if="item.status === 'new'"
		            	ng-click="project.removeFinancialItem($index)"><i class="material-icons">cancel</i></a>			      		

			      	</div>

		      		<div class="row">

			      		<div class="input-field col s12 m4"
			      			ng-class="{ 'error-label': healthProjectFinancialsForm.$submitted && !item.expenditure_status }">
							    <select id="ngm-expenditure-status-{{$index}}" class="validate"
							    	ng-model="item.expenditure_status" 
							    	ng-disabled="project.definition.details.project_status === 'complete'" 
							    	required>
							      <option value="" disabled selected>Select Expenditure Status</option>
							      <option value="encumbered">Encumbered</option>
							      <option value="expenditure">Expenditure</option>
							    </select>
						    	<label for="ngm-expenditure-status-{{$index}}">Expenditure Status</label>
		      			</div>

			      		<div class="input-field col s12 m2">
				          <input id="ngm-expenditure-budget-{{$index}}" type="number" class="validate" min="0"
				          	ng-model="item.expenditure_budget_afn"
				          	ng-disabled="project.definition.details.project_status === 'complete'"
										required>
				          <label for="ngm-expenditure-budget-{{$index}}">Value (AFN)</label>
			      		</div>

			      		<div class="input-field col s12 m2">
				          <input id="ngm-expenditure-budget-{{$index}}" type="number" class="validate" min="0"
				          	ng-model="item.expenditure_budget_usd"
				          	ng-disabled="project.definition.details.project_status === 'complete'"
										required>
				          <label for="ngm-expenditure-budget-{{$index}}">Value (USD)</label>
			      		</div>

			      		<div class="input-field col s12 m2">
				          <input id="ngm-expenditure-start-date-{{ item.timestamp }}" type="text" class="datepicker"
				          	ng-disabled="project.definition.details.project_status === 'complete'"
										required>
				          <label for="ngm-expenditure-start-date-{{ item.timestamp }}">Start Date</label>      		
			      		</div>

			      		<div class="input-field col s12 m2">
				          <input id="ngm-expenditure-end-date-{{ item.timestamp }}" type="text" class="datepicker"
				          	ng-disabled="project.definition.details.project_status === 'complete'"
										required>
				          <label for="ngm-expenditure-end-date-{{ item.timestamp }}">End Date</label>	      		
			      		</div>

		      		</div>

		      	</div>

		      </div>

		      <dir-pagination-controls pagination-id="ngm-financial-list"></dir-pagination-controls>

				</li>
			</ul>

		</div>
	</div>
</div>
