
<style>

	.count{
	  position:relative;
	  font-weight:100;
	  font-size:3rem;
	  line-height:3rem;
	}


</style>
		      		
		      		<!-- education -->
		      		<div class="row">

		      			<h5 class="indicator-title">AWARENESS & EDUCATION</h5>
		      		
			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-education_topic-{{ $index }}" type="text" class="validate"
				          	ng-model="target_beneficiary.education_topic"
				          	ng-disabled="project.definition.project_status === 'complete'">
				          <label for="ngm-target_beneficiary-education_topic-{{ $index }}" class="active">Topic</label>
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-education_sessions-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.education_sessions"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-education_sessions-{{ $index }}" class="active">Sessions</label>
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-education_male-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.education_male"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-education_male-{{ $index }}" class="active">Male</label>    		
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-education_female-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.education_female"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-education_female-{{ $index }}" class="active">Female</label>    		
			      		</div>

			      	</div>

							<!-- add nice space -->
							<br/>

							<!-- training -->
		      		<div class="row">

		      			<h5 class="indicator-title">TRAINING & CAPACITY BUILDING</h5>
		      			
			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-training_topic-{{ $index }}" type="text" class="validate"
				          	ng-model="target_beneficiary.training_topic"
				          	ng-disabled="project.definition.project_status === 'complete'">
				          <label for="ngm-target_beneficiary-training_topic-{{ $index }}" class="active">Topic</label>
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-training_sessions-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.training_sessions"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-training_sessions-{{ $index }}" class="active">Sessions</label>    		
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-training_male-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.training_male"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-training_male-{{ $index }}" class="active">Male</label>
			      		</div>

			      		<div class="input-field col s12 m6">
				          <input id="ngm-target_beneficiary-training_female-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.training_female"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-training_female-{{ $index }}" class="active">Female</label>
			      		</div>

							</div>
