
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">group</i>{{'target_population' | translate}}
					</h5>
				</li>

				<li class="collection-item avatar">
					
					<!-- header -->
					<div class="row">
						<div class="col s12 left">
							<p id="ngm-target_beneficiaries" style="padding:10px;">
								{{'enter_the_target_beneficiaries_of_your_project_in_the_form_below' | translate}};
							</p>

							<div ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_delivery_type_id' ] &&
														!ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'package_type_id' ]" style="padding-left: 40px;">
								<p>
									<i class="material-icons left" style="color: #e57373">info</i>
								</p>
								<p style="color: #e57373">
									<span style="font-weight:400">{{'amount'|translate}}:</span> {{'please_enter_the_amount_per' | translate}} <span style="font-weight:400">{{'household_hh' | translate}}</span> per <span style="font-weight:400">{{'transfer' | translate}}</span>
								</p>
								<p style="color: #e57373">
									<span style="font-weight:400">{{'transfers'|translate}}:</span> {{'please_enter_the' |translate}} <span style="font-weight:400">TOTAL</span> {{'number_of_planned_transfer_for_the'|translate}} <span style="font-weight:400">{{'entire' | translate}}</span> {{'project' | translate}}
								</p>
							</div>
						</div>
					</div>

					<div ng-repeat="beneficiary in project.definition.target_beneficiaries">

						<!-- title -->
						<div style="position: absolute;">
							<h5 class="report-beneficiary-title" ng-if="!beneficiary.activity_type_id">
								<i class="material-icons left">group</i>Target {{ $index+1 }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="beneficiary.activity_type_id && !beneficiary.activity_description_id">
								<i class="material-icons left">group</i>{{ beneficiary.activity_type_name }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="beneficiary.activity_type_id && beneficiary.activity_description_id">
								<i class="material-icons left">group</i>{{ beneficiary.activity_type_name }}, {{ beneficiary.activity_description_name }}
							</h5>
						</div>
						<!-- btns -->
						<div align="right" style="padding: 16px 10px 5px;">
							<button class="btn-floating red lighten-2 waves-effect waves-light"
												title="Remove"
												ng-if="project.definition.project_status === 'active'"
												ng-click="project.removeTargetBeneficiaryModal( $index )" 
												ng-disabled="
													( ( !project.project_details_valid() ) ||
													( !project.activity_type_valid() ) ||
													( !project.project_donor_valid() ) ||
													( !project.target_beneficiaries_valid() ) ||
													( !project.target_locations_valid() ) ||
													( !project.submit ) )">
								<i class="material-icons">delete</i>
							</button>
<!-- 							<button class="btn-floating red lighten-2 waves-effect waves-light"
												ng-click="project.removeTargetBeneficiaryModal( $index )" 
												title="Remove"
												ng-disabled="
													( ( !project.project_details_valid() ) ||
													( !project.activity_type_valid() ) ||
													( !project.project_donor_valid() ) ||
													( !project.target_beneficiaries_valid() ) ||
													( !project.target_locations_valid() ) ||
													( !project.submit ) )">
								<i class="material-icons">delete</i>
							</button> -->
						</div>



						
						<!-- CARD PANEL -->
						<div class="card-panel">
							
							

							<!-- DEFAULT -->
							<div class="row">
								
								<!-- activity_type_id -->
								<div class="input-field col s12 m6">
									<select id="ngm-activity_type_id-{{ $index }}" 
														name="activity_type_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.activity_type_id"
														ng-options="a_t.activity_type_id as a_t.activity_type_name for a_t in project.definition.activity_type"
														ng-change="ngmClusterBeneficiaries.setActivity( project.definition, beneficiary );
																				ngmClusterBeneficiaries.updateSelect();"
														ng-disabled="project.report.report_status === 'complete' || !project.definition.activity_type"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-activity_type_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'activity' | translate }}</label>
								</div>

								<!-- activity_description_id -->
								<div class="input-field col s12 m6">
									<select id="ngm-activity_description_id-{{ $index }}" 
														name="activity_description_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.activity_description_id"
														ng-options="a_d.activity_description_id as a_d.activity_description_name for 
																					a_d in project.lists.activity_descriptions | filter: { 
																						cluster_id: beneficiary.cluster_id,
																						activity_type_id: beneficiary.activity_type_id
																					} : true"
														ng-change="ngmClusterBeneficiaries.setBeneficiariesDescription( project.lists, 0, $index, beneficiary );
																				ngmClusterBeneficiaries.updateSelect();"
														ng-disabled="project.report.report_status === 'complete' || !beneficiary.activity_type_id"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label ng-if="project.definition.admin0pcode !== 'SO'" 
													for="ngm-activity_description_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'description' | translate }}</label>
									<label ng-if="project.definition.admin0pcode === 'SO'" 
													for="ngm-activity_description_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'specific_indicator' | translate }}</label>		
								</div>
							</div>




							<!-- DETAILS, INDICATORS -->

							<!-- DETAILS -->

							<!-- detail -->
							<div class="row" ng-if="beneficiary.activity_description_id && 
																ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'detail' ]">

								<!-- activity_detail_id -->
								<div class="input-field col s12">
									<select id="ngm-activity_detail_id-{{ $index }}" 
														name="activity_detail_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.activity_detail_id"
														ng-options="a_d.activity_detail_id as a_d.activity_detail_name for 
																					a_d in project.lists.activity_details | filter: { 
																							cluster_id: beneficiary.cluster_id, 
																							activity_type_id: beneficiary.activity_type_id, 
																							activity_description_id: beneficiary.activity_description_id 
																					} : true"
														ng-change="ngmClusterBeneficiaries.setBeneficiariesDetail( project.lists, 0, $index, beneficiary );
																				ngmClusterBeneficiaries.updateSelect();"
														ng-disabled="project.report.report_status === 'complete' || !beneficiary.activity_type_id"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-activity_detail_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'details' | translate }}</label>
								</div>
							</div>

							<!-- indicator -->
							<div class="row" ng-if="beneficiary.activity_description_id &&
																ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'indicator' ]">

								<!-- indicator_id -->
								<div class="input-field col s12">
									<select id="ngm-indicator_id-{{ $index }}" 
														name="indicator_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.indicator_id"
														ng-options="a_d.indicator_id as a_d.indicator_name for 
																					a_d in project.lists.activity_indicators | filter: { 
																							cluster_id: beneficiary.cluster_id, 
																							activity_type_id: beneficiary.activity_type_id, 
																							activity_description_id: beneficiary.activity_description_id,
																							activity_detail_id: beneficiary.activity_detail_id 
																					} : true"
														ng-change="ngmClusterBeneficiaries.setBeneficiariesIndicator( project.lists, 0, $index, beneficiary );
																				ngmClusterBeneficiaries.updateSelect();"
														ng-disabled="project.report.report_status === 'complete' || !beneficiary.activity_type_id"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-indicator_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'indicator' | translate }}</label>
								</div>
							</div>




							<!-- BENEFICIARIES -->
							
							<!-- !COL -->
							<div class="row" ng-if="project.definition.admin0pcode !== 'COL' && 
																				beneficiary.activity_description_id">
								<!-- beneficiary_type -->
								<div class="input-field col s12">
									<select id="ngm-beneficiary_type_id-{{ $index }}" 
														name="beneficiary_type_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.beneficiary_type_id"
														ng-change="ngmClusterBeneficiaries.updateName( project.lists.beneficiary_types, 'beneficiary_type_id', 'beneficiary_type_name', beneficiary )"
														ng-options="b.beneficiary_type_id as b.beneficiary_type_name for b in project.lists.beneficiary_types |
																				filter: { 
																					cluster_id: beneficiary.cluster_id
																				} : true"
														ng-disabled="!beneficiary.activity_description_id">
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-beneficiary_type_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'beneficiary' | translate }}</label>
								</div>
							</div>

							<!-- COL -->
							<div class="row" ng-if="project.definition.admin0pcode === 'COL' && 
																				beneficiary.activity_description_id">
								<!-- beneficiary_type -->
								<div class="input-field col s6">
									<select id="ngm-beneficiary_type_id-{{ $index }}" 
														name="beneficiary_type_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.beneficiary_type_id"
														ng-change="ngmClusterBeneficiaries.updateName( project.lists.beneficiary_types, 'beneficiary_type_id', 'beneficiary_type_name', beneficiary );
																				ngmClusterHelperCol.updateIndicatorObjective( project.definition.admin0pcode, beneficiary )"
														ng-options="b.beneficiary_type_id as b.beneficiary_type_name for b in project.lists.beneficiary_types |
																				filter: { 
																					cluster_id: beneficiary.cluster_id
																				} : true"
														ng-disabled="!beneficiary.activity_description_id">
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-beneficiary_type_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'beneficiary' | translate }}</label>
								</div>
								
								<!-- beneficiary_type -->
								<div class="input-field col s6">
									<select id="ngm-beneficiary_category_id-{{ $index }}" 
														name="beneficiary_category_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.beneficiary_category_id"
														ng-change="ngmClusterBeneficiaries.updateName( project.lists.beneficiary_categories, 'beneficiary_category_id', 'beneficiary_category_name', beneficiary );"
														ng-options="b.beneficiary_category_id as b.beneficiary_category_name for b in project.lists.beneficiary_categories"
														ng-disabled="!beneficiary.beneficiary_type_id">
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-beneficiary_category_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'beneficiary_category' | translate }}</label>
								</div>								

							</div>




							<!-- UNITS -->
							<div class="row"
										ng-if="( ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'unit_type_id' ] &&
															ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'units' ] ) &&
														( !ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'mpc_delivery_type_id' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'mpc_mechanism_type_id' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'package_type_id' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'transfer_type_id' ] )">
								<!-- unit_type_id -->
								<div class="input-field col s6">
									<select id="ngm-unit_type_id-{{ $index }}" 
														name="unit_type_id-{{ $index }}"
														class="validate"
														ng-model="beneficiary.unit_type_id"
														ng-change="ngmClusterBeneficiaries.updateName( ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'unit_type_id' ], 'unit_type_id', 'unit_type_name', beneficiary );"
														ng-options="a.unit_type_id as a.unit_type_name for a in 
																						ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'unit_type_id' ]"
														ng-disabled="!beneficiary.beneficiary_type_id">
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-unit_type_id-{{ $index }}" 
													class="active" style="transform:translateY(-10%)">{{ 'units' | translate }}</label>
								</div>
								<!-- amount -->
								<div class="input-field col s6">
									<input id="ngm-units-{{ $index }}"
													name="ngm-units-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.units"
													ng-disabled="project.report.report_status === 'complete' || !ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'units' ]"
													required />
									<label for="ngm-households-{{ $index }}" class="active">{{ 'amount' | translate }}</label>
								</div>
							</div>


							
							
							<!-- SADD-->
						
							<!-- HHs -->
							<div class="row" ng-if="ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'households' ]">

								<!-- households -->
								<div class="input-field col s12">
									<input id="ngm-households-{{ $index }}"
													name="ngm-households-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.households"
													ng-change="ngmCbBeneficiaries.setSadd( beneficiary );"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'households' ]"
													required />
									<label for="ngm-households-{{ $index }}" class="active">{{ 'households' | translate }}</label>
								</div>

							</div>

							<!-- families -->
							<div class="row" ng-if="ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'families' ]">

								<!-- families -->
								<div class="input-field col s12">
									<input id="ngm-families-{{ $index }}" 
													name="ngm-families-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.families"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'families' ]"
													required />
									<label for="ngm-families-{{ $index }}" class="active">{{ 'families' | translate }}</label>
								</div>

							</div>

							
							<!-- SADD (boys, girls) -->
							<div class="row"
										ng-if="( ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ]  ||
															ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ] ) &&
														( !ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_men' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_women' ] )">

								<!-- boys -->
								<div class="input-field col s12 m6">
									<input id="ngm-boys-{{ $index }}" 
													name="ngm-boys-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.boys"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ]"
													required />
									<label for="ngm-boys-{{ $index }}" class="active">{{ 'boys' | translate }}</label>
								</div>
								<!-- girls -->
								<div class="input-field col s12 m6">
									<input id="ngm-girls-{{ $index }}" 
													name="ngm-girls-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.girls"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ]"
													required />
									<label for="ngm-girls-{{ $index }}" class="active">{{ 'girls' | translate }}</label>
								</div>

							</div>

							<!-- SADD (men, women) -->
							<div class="row"
										ng-if="( ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ]  ||
															ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ] ) &&
														( !ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_men' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_women' ] )">
								<!-- men -->
								<div class="input-field col s12 m6">
									<input id="ngm-men-{{ $index }}" 
													name="ngm-men-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.men"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ]"
													required />
									<label for="ngm-men-{{ $index }}" class="active">{{ 'men' | translate }}</label>
								</div>
								<!-- women -->
								<div class="input-field col s12 m6">
									<input id="ngm-women-{{ $index }}" 
													name="ngm-women-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.women"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ]"
													required />
									<label for="ngm-women-{{ $index }}" class="active">{{ 'women' | translate }}</label>
								</div>
							</div>

							
							<!-- SADD (boys, girls, men, women) -->
							<div class="row"
										ng-if="( ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ] ) &&
														( !ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_men' ] &&
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_women' ] )">

								<!-- boys -->
								<div class="input-field col s12 m3">
									<input id="ngm-boys-{{ $index }}" 
													name="ngm-boys-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.boys"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ]"
													required />
									<label for="ngm-boys-{{ $index }}" class="active">{{ 'boys' | translate }}</label>
								</div>
								<!-- girls -->
								<div class="input-field col s12 m3">
									<input id="ngm-girls-{{ $index }}" 
													name="ngm-girls-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.girls"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ]"
													required />
									<label for="ngm-girls-{{ $index }}" class="active">{{ 'girls' | translate }}</label>
								</div>
								<!-- men -->
								<div class="input-field col s12 m3">
									<input id="ngm-men-{{ $index }}" 
													name="ngm-men-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.men"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ]"
													required />
									<label for="ngm-men-{{ $index }}" class="active">{{ 'men' | translate }}</label>
								</div>
								<!-- women -->
								<div class="input-field col s12 m3">
									<input id="ngm-women-{{ $index }}" 
													name="ngm-women-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.women"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ]"
													required />
									<label for="ngm-women-{{ $index }}" class="active">{{ 'women' | translate }}</label>
								</div>
							</div>

							
							<!-- SADD (boys, girls, men, women, elderly) -->
							<div class="row"
										ng-if="ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_men' ] &&
														ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_women' ]">

								<!-- boys -->
								<div class="input-field col s12 m2">
									<input id="ngm-boys-{{ $index }}" 
													name="ngm-boys-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.boys"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'boys' ]"
													required />
									<label for="ngm-boys-{{ $index }}" class="active">{{ 'boys' | translate }}</label>
								</div>
								<!-- girls -->
								<div class="input-field col s12 m2">
									<input id="ngm-girls-{{ $index }}" 
													name="ngm-girls-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.girls"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'girls' ]"
													required />
									<label for="ngm-girls-{{ $index }}" class="active">{{ 'girls' | translate }}</label>
								</div>
								<!-- men -->
								<div class="input-field col s12 m2">
									<input id="ngm-men-{{ $index }}" 
													name="ngm-men-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.men"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'men' ]"
													required />
									<label for="ngm-men-{{ $index }}" class="active">{{ 'men' | translate }}</label>
								</div>
								<!-- women -->
								<div class="input-field col s12 m2">
									<input id="ngm-women-{{ $index }}" 
													name="ngm-women-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.women"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'women' ]"
													required />
									<label for="ngm-women-{{ $index }}" class="active">{{ 'women' | translate }}</label>
								</div>
								<!-- elderly_men -->
								<div class="input-field col s12 m2">
									<input id="ngm-elderly_men-{{ $index }}" 
													name="ngm-elderly_men-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.elderly_men"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_men' ]"
													required />
									<label for="ngm-elderly_men-{{ $index }}" class="active">{{ 'eld_men' | translate }}</label>
								</div>
								<!-- elderly_women -->
								<div class="input-field col s12 m2">
									<input id="ngm-elderly_women-{{ $index }}" 
													name="ngm-elderly_women-{{ $index }}"
													type="number"
													class="validate" 
													min="0"
													ng-model="beneficiary.elderly_women"
													ng-disabled="project.report.report_status === 'complete' || 
															!ngmClusterBeneficiaries.form[ 0 ][ $index ][ 'elderly_women' ]"
													required />
									<label for="ngm-elderly_women-{{ $index }}" class="active">{{ 'eld_women' | translate }}</label>
								</div>
							</div>
	

						</div>
					</div>

					<!-- buttons -->
					<div class="row">
						<!-- Shelter ET -->
						<button class="btn" 
											ng-if="project.definition.admin0pcode === 'ET' && project.definition.cluster_id === 'esnfi'"
											ng-show="project.report.report_status !== 'complete'" 
											ng-click="project.addBeneficiary({ households: 1 }); ngmClusterBeneficiaries.updateSelect();"
											style="margin:20px 10px;">
							<i class="material-icons left">add</i>{{ 'add_beneficiaries' | translate }}
						</button>

						<!-- default -->
						<button class="btn"
											ng-if="project.definition.admin0pcode !== 'ET' || project.definition.cluster_id !== 'esnfi'" 
											ng-show="project.report.report_status !== 'complete'" 
											ng-click="project.addBeneficiary({}); ngmClusterBeneficiaries.updateSelect();"
											style="margin:20px 10px;">
							<i class="material-icons left">add</i>{{'add_beneficiaries'|translate}}
						</button>
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>

<!-- material select -->
<script type="text/javascript">
	// init
	setTimeout( function(){ $( 'select' ).material_select(); }, 600 );
</script>
