
<style>

	.count{
	  position:relative;
	  font-weight:100;
	  font-size:3rem;
	  line-height:3rem;
	}


</style>


		      		<div ng-if="project.definition.cluster_id === 'esnfi'" class="row">

								<!-- <h5 class="indicator-title">FAMILIES</h5> -->
				      		<div class="input-field col s12 m6">
					          <input id="ngm-target_beneficiary-families-{{ $index }}" type="number" class="validate" min="0"
					          	ng-model="target_beneficiary.families"
					          	ng-disabled="project.report.report_status === 'complete'"
											required>
					          <label for="ngm-target_beneficiary-families-{{ $index }}" class="active">Families</label>
				      		</div>

							</div>


		      		<div class="row">
		      		
			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-boys-{{ $index }}" type="number" class="validate" min="0"
				          	type="number" 
				          	class="validate"
				          	min="0"
				          	ng-model="target_beneficiary.boys"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-boys-{{ $index }}" class="active">Boys</label>
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-girls-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.girls"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-girls-{{ $index }}" class="active">Girls</label>    		
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-men-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.men"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-men-{{ $index }}" class="active">Men</label>
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-women-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.women"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-women-{{ $index }}" class="active">Women</label>
			      		</div>

							</div>

<!-- 							
							<br/>

							<div class="row" ng-if="false">

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-penta3_vacc_male_under1-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.penta3_vacc_male_under1"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-penta3_vacc_male_under1-{{ $index }}" class="active">PENTA3 VACC Male (Under 1yrs)</label>
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-penta3_vacc_female_under1-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.penta3_vacc_female_under1"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-penta3_vacc_female_under1-{{ $index }}" class="active">PENTA3 VACC Female (Under 1yrs)</label>
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-skilled_birth_attendant-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.skilled_birth_attendant"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-skilled_birth_attendant-{{ $index }}" class="active">Skilled Birth Attendants</label>
			      		</div>

			      		<div class="input-field col s12 m3">
				          <input id="ngm-target_beneficiary-conflict_trauma_treated-{{ $index }}" type="number" class="validate" min="0"
				          	ng-model="target_beneficiary.conflict_trauma_treated"
				          	ng-disabled="project.definition.project_status === 'complete'"
										required>
				          <label for="ngm-target_beneficiary-conflict_trauma_treated-{{ $index }}" class="active">Conflict Trauma Treated</label>
			      		</div>

		      		</div>
 -->
 
							<br/>
							<br/>
