

<div class="row" ng-if="project.definition.admin0pcode === 'COL'">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">list</i> {{'project_classifications'|translate}}

					</h5>
				</li>

				<li class="collection-item avatar">

					<div class="row">

						<!--<div  class="col s12 m6 l6" ng-repeat="projclasification in project.lists.projectsclasifications">
						<div class="card">
							<ul class="collection with-header">
								<li class="collection-header blue lighten-1">
									<h5 class="report-work-title white-text">
										<i class="material-icons left">add_box</i> {{projclasification.project_clasification_name}}

									</h5>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition[projclasification.project_clasification_id]" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="Undaf Desarrollo y Paz" 
											md-on-add="project[projclasification.functionadd]($chip)"   
											md-on-remove="project[projclasification.functionremove]($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project[projclasification.search-text]" 	
												md-items="item in project[projclasification.functionsearch](project[projclasification.search-text])"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_clasification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span md-highlight-text="searchText">{{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span>
													<strong>{{$chip.name_tag}}</strong>
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>-->

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">
								<!--<li class="collection-header blue lighten-1">
									<h5 class="report-work-title white-text">
										<i class="material-icons left">add_box</i> UNDAF - Desarrollo y Paz

									</h5>
								</li>-->
								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 UNDAF - Desarrollo y Paz

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.undaf_desarrollo_paz" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="Undaf Desarrollo y Paz" 
											md-on-add="project.addUndafDesarrolloPaz($chip)"   
											md-on-remove="project.removeUndafDesarrolloPaz($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchundaf_desarrollo_paz" 
												md-min-length="3"	
												md-items="item in project.searchUndafDesarrolloYPaz(project.searchundaf_desarrollo_paz)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span md-highlight-text="searchText">{{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span title="{{$chip.name_tag}}">
													{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">
								<!--<li class="collection-header blue lighten-1">
									<h5 class="report-work-title white-text">
										<i class="material-icons left">add_box</i> Acuerdos de Paz

									</h5>
								</li>-->
								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 Acuerdos de Paz

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.acuerdos_de_paz" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="Acuerdos de Paz" 
											md-on-add="project.addAcuerdosDePaz($chip)"   
											md-on-remove="project.removeAcuerdosDePaz($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchacuerdos_de_paz" 
												md-min-length="3"	
												md-items="item in project.searchAcuerdosDePaz(project.searchacuerdos_de_paz)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span md-highlight-text="searchText">{{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span title="{{$chip.name_tag}}">
													{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>


				</div>

				<div class="row">


					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">
								<!--<li class="collection-header blue lighten-1">
									<h5 class="report-work-title white-text">
										<i class="material-icons left">add_box</i> DAC - OECD Development Assistance Committee

									</h5>
								</li>-->

								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 DAC - OECD Development Assistance Committee

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.dac_oecd_development_assistance_committee" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="DAC - OECD Development Assistance Committee" 
											md-on-add="project.addDACOECDDevelopmentAssistanceCommittee($chip)"   
											md-on-remove="project.removeDACOECDDevelopmentAssistanceCommittee($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchdac_oecd_development_assistance_committee"
												md-min-length="3"
												md-items="item in project.searchDACOECDDevelopmentAssistanceCommittee(project.searchdac_oecd_development_assistance_committee)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span md-highlight-text="searchText">{{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span title="{{$chip.name_tag}}">
													{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">
								<!--<li class="collection-header blue lighten-1">
									<h5 class="report-work-title white-text">
										<i class="material-icons left">add_box</i> ODS - Objetivos de Desarrollo Sostenible

									</h5>
								</li>-->

								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 ODS - Objetivos de Desarrollo Sostenible

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.ods_objetivos_de_desarrollo_sostenible" 
											md-autocomplete-snap="width"											
											md-require-match="true" 

											input-aria-label="ODS - Objetivos de Desarrollo Sostenible" 
											md-on-add="project.addODSObjetivosDeDesarrolloSostenible($chip)"   
											md-on-remove="project.removeODSObjetivosDeDesarrolloSostenible($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="
												project.searchods_objetivos_de_desarrollo_sostenible" 	md-min-length="3"
												md-items="item in project.searchODSObjetivosDeDesarrolloSostenible(project.searchods_objetivos_de_desarrollo_sostenible)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span md-highlight-text="searchText">{{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span title="{{$chip.name_tag}}">
													{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>
				</div>
				

				</li>

	


			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">group</i> {{'target_population' | translate}}

					</h5>
				</li>

				<li class="collection-item avatar">
					<div class="row">
						<div class="col s12 left">
							<p id="ngm-target_beneficiaries" style="padding:10px;">
								{{'enter_the_target_beneficiaries_of_your_project_in_the_form_below' | translate}};
							</p>

							<div ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_delivery_type_id' ] &&
														!ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'package_type_id' ]" style="padding-left: 40px;">
								<p>
									<i class="material-icons left" style="color: #e57373">info</i>
								</p>
								<p style="color: #e57373">
									<span style="font-weight:400">{{'amount'|translate}}:</span> {{'please_enter_the_amount_per' | translate}} <span style="font-weight:400">{{'household_hh' | translate}}</span> per <span style="font-weight:400">{{'transfer' | translate}}</span>
								</p>
								<p style="color: #e57373">
									<span style="font-weight:400">{{'transfers'|translate}}:</span> {{'please_enter_the' |translate}} <span style="font-weight:400">TOTAL</span> {{'number_of_planned_transfer_for_the'|translate}} <span style="font-weight:400">{{'entire' | translate}}</span> {{'project' | translate}}
								</p>
							</div>
						</div>
						<!-- <div class="col s12 m3 l3 beneficiary-count"> -->
							<!-- <div class="right"> -->
								<!-- <span style="font-size:1.2rem;"><i class="material-icons" style="padding-right:10px;">group</i></span> -->
								<!-- filter in app/services/ngmHelper.js -->
								<!-- {{ project.definition | sumArrayByKeys:'target_beneficiaries':project.lists.indicators:project.lists.skip | number }} -->
							<!-- </div> -->
						<!-- </div> -->
						<div class="col s12 card">
							<div style="padding-top: 10px; padding-left: 40px;">
							  <table class="bordered responsive-table" ng-show="project.definition.target_beneficiaries.length">
							    <tr style="font-weight: 400">
							    	<td></td>
							      <td>{{'activity' | translate}}</td>

							      <!-- somalia hack -->
							      <td ng-if="project.definition.admin0pcode !== 'SO'">{{'description' | translate}}</td>
							      <td ng-if="project.definition.admin0pcode === 'SO'">{{'specific_indicator'|translate}}</td>

							      <!-- details? indicators? -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'detail' ]">{{'details' | translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'indicator' ]">{{'indicator'|translate}}</td>

							      <!-- cash -->
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_delivery_type_id' ]">{{'delivery' | translate}}</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_mechanism_type_id' ]">{{'mechanism' | translate }}</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'package_type_id' ]">{{'package' | translate }}</td>

							      <!-- inputs -->
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'unit_type_id' ]">{{'units' | translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'units' ]">{{'quantity'|translate}}</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'transfer_type_id' ]">{{'transfers' | translate}}</td>

										<!-- beneficiary -->
							      <td>{{'beneficiary' | translate}}</td>

							      <td ng-if="project.definition.admin0pcode === 'COL'">{{'beneficiary_category' | translate}}</td>


							      <!-- <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'delivery_type_id' ]">Type</td> -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'households' ]">{{'households'|translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'families' ]">{{'families' | translate}}</td>
							      
							      <!-- default -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'boys' ]
							      						&& !ngmClusterBeneficiaries.cxbHealth( project )">{{'boys' | translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'girls' ]
							      						&& !ngmClusterBeneficiaries.cxbHealth( project )">{{'girls' | translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'men' ]
							      						&& !ngmClusterBeneficiaries.cxbHealth( project )">{{'men' | translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'women' ]
							      						&& !ngmClusterBeneficiaries.cxbHealth( project )">{{'women' | translate}}</td>
							      
							      <!-- CXB health -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'boys' ] 
							      						&& ngmClusterBeneficiaries.cxbHealth( project )">Under 5 Male</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'girls' ]
							      						&& ngmClusterBeneficiaries.cxbHealth( project )">Under 5 Female</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'men' ]
							      						&& ngmClusterBeneficiaries.cxbHealth( project )">Over 5 Male</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'women' ]
							      						&& ngmClusterBeneficiaries.cxbHealth( project )">Over 5 Female</td>

							      <!-- continue -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'elderly_men' ]">{{'eld_men'|translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'elderly_women' ]">{{'eld_women'|translate}}</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'total_beneficiaries' ]">Total</td>
										<td ng-if="project.showFatpTreatmentSameProvince()">{{'treatment_same_province'| translate}}</td>
							      <td ng-if="project.definition.project_status !== 'complete'">{{'edit' | translate}}</td>

							    </tr>
							    <tr ng-repeat-start="beneficiary in project.definition.target_beneficiaries">
							    	
							    	<!-- icon -->
							    	<td>
							    		<i class="material-icons" style="color: teal;">group</i>
							    	</td>

							    	<!-- activity -->
							      <td>
							        <span e-form="rowform"
							        			e-name="activity_type_id"
							        			editable-select="beneficiary.activity_type_id"
														e-placeholder="{{'select'|translate}}"
							        			e-ng-options="a_t.activity_type_id as a_t.activity_type_name for a_t in project.definition.activity_type"
							        			e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, 0, beneficiary, $index )"
							        			e-ng-disabled="!project.definition.activity_type.length">
							          {{ ngmClusterBeneficiaries.displayActivity( project.definition, $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- description -->
							      <td>
							        <span e-form="rowform"
							        			e-name="activity_description_id"
							        			editable-select="beneficiary.activity_description_id"
							        			e-placeholder="{{'select'|translate}}"
							        			e-ng-options="a_d.activity_description_id as a_d.activity_description_name for a_d in project.lists.activity_descriptions | 														filter: { 
							        										cluster_id: beneficiary.cluster_id,
							        										activity_type_id: beneficiary.activity_type_id
							        									} : true"
							        			e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, 0, beneficiary, $index )"

							        			e-ng-disabled="!beneficiary.activity_type_id">
							          {{ ngmClusterBeneficiaries.displayDescription( project.lists, $data, beneficiary, ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ] ) }}
							        </span>
							      </td>

							      <!-- details ( hidden ) -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'detail' ] && 
							      						!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ]">
							      	-
							      </td>
							      <!-- details -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'detail' ] && 
							      						ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ]">
							        <span e-form="rowform"
							        			e-name="activity_detail_id"
							        			editable-select="beneficiary.activity_detail_id"
							        			e-placeholder="{{'select'|translate}}"
							        			e-ng-options="a_d.activity_detail_id as a_d.activity_detail_name for a_d in project.lists.activity_details | filter: { cluster_id: beneficiary.cluster_id, 
				 						activity_type_id: beneficiary.activity_type_id, 
										activity_description_id: beneficiary.activity_description_id } : true"
												e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, 0, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ]">
							          {{ ngmClusterBeneficiaries.displayDetails( project.lists, $data, beneficiary, ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ] ) }}
							        </span>
							      </td>
							      
							      <!-- indicator ( hidden ) -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'indicator' ] &&
							      						!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ] &&
							      						!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							      	-

							      </td>
							      <!-- 2nd tier activities -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'indicator' ] &&
							      						!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ] &&
							      						ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							        <span e-form="rowform"
							          e-name="indicator_id"
							          editable-select="beneficiary.indicator_id"
							          e-placeholder="{{'select'|translate}}"
							          e-ng-options="a_d.indicator_id as a_d.indicator_name 
							          for a_d in project.lists.activity_indicators | filter: { 
											cluster_id: beneficiary.cluster_id, 
											activity_type_id: beneficiary.activity_type_id, 
											activity_description_id: beneficiary.activity_description_id 
											} : true"
														e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, 0, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							          {{ ngmClusterBeneficiaries.displayIndicator( project.lists, $data, beneficiary ) }}

							        </span>
							      </td>
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'indicator' ] && 
							      						ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ] && 
							      						!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							      	-
							      </td>
							      <!-- 3rd tier activities -->
							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'indicator' ] && 
							      						ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'detail' ] && 
							      						ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							        <span e-form="rowform"
							        			e-name="indicator_id"
							        			editable-select="beneficiary.indicator_id"
							        			e-placeholder="{{'select'|translate}}"
							        			e-ng-options="a_d.indicator_id as a_d.indicator_name for a_d in project.lists.activity_indicators | 
							        			filter: { 
												cluster_id: beneficiary.cluster_id, 
		    									activity_type_id: beneficiary.activity_type_id, 
												activity_description_id: beneficiary.activity_description_id,
				     							activity_detail_id: beneficiary.activity_detail_id 
																        							}"
												e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, 0, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !beneficiary.activity_detail_id || !ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'indicator' ]">
							          {{ ngmClusterBeneficiaries.displayIndicator( project.lists, $data, beneficiary ) }}

							        </span>
							      </td>

							      
							      <!-- CASH -->
										<!-- mpc_delivery_type_id  -->
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_delivery_type_id' ] &&
																!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_delivery_type_id' ]">
											-
										</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_delivery_type_id' ] &&
																ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_delivery_type_id' ]">
											<span e-form="rowform"
														e-name="mpc_delivery_type_id"
														editable-select="beneficiary.mpc_delivery_type_id"
														e-placeholder="Select..."
														e-ng-options="b.mpc_delivery_type_id as b.mpc_delivery_type_name for b in 
														ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_delivery_type_id' ]"
														e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_delivery_type_id' ]">
												{{ ngmClusterBeneficiaries.displayCashDelivery( 
																{ mpc_delivery_types: ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_delivery_type_id' ] }, $data, beneficiary ) }}
											</span>											
										</td>
											
										<!-- mpc_mechanism_type_id  -->
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_mechanism_type_id' ] &&
																!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_mechanism_type_id' ]">
											-
										</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'mpc_mechanism_type_id' ] &&
																ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_mechanism_type_id' ]">
											<span e-form="rowform"
														e-name="mpc_mechanism_type_id"
														editable-select="beneficiary.mpc_mechanism_type_id"
														e-placeholder="Select..."
														e-ng-options="b.mpc_mechanism_type_id as b.mpc_mechanism_type_name for b in project.lists.mpc_mechanism_type | 
														filter: { mpc_delivery_type_id: beneficiary.mpc_delivery_type_id }"
														e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'mpc_mechanism_type_id' ]">
												{{ ngmClusterBeneficiaries.displayCashMechanism( project.lists, $data, beneficiary ) }}
											</span>											
										</td>

										<!-- package  -->
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'package_type_id' ] &&
																!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'package_type_id' ]">
											- THIS
										</td>
										<td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'package_type_id' ] &&
																ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'package_type_id' ]">
											<span e-form="rowform"
														e-name="package_type_id"
														editable-select="beneficiary.package_type_id"
														e-placeholder="Select..."
														e-ng-options="s.package_type_id as s.package_type_name for s in [{
														'package_type_id':'standard',
														'package_type_name':'Standard'
														},{
													'package_type_id':'non-standard',
									  				'package_type_name':'Non-standard'
																						}]"
														e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'package_type_id' ]">
												{{ ngmClusterBeneficiaries.displayPackageTypes( $data, beneficiary ) }}
											</span>
										</td>



							      <!-- UNITS -->

								    <!-- unit type -->
										<td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'unit_type_id' ]">
							        <span e-form="rowform"
							        			e-name="unit_type_id"
							        			editable-select="beneficiary.unit_type_id"
														e-placeholder="{{'select'|translate}}"
							        			e-ng-options="a.unit_type_id as a.unit_type_name for a in 
							        											ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'unit_type_id' ]"
														e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'unit_type_id' ]">
							          {{ ngmClusterBeneficiaries.displayUnitTypes( 
							          					{ units: ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'unit_type_id' ] }, $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- units -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'units' ]">
							        <span e-form="rowform"
							        			e-name="units"
							        			editable-number="beneficiary.units"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'units', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'units' ]">
							          {{ beneficiary.units }}
							        </span>

							      </td>

							      <!-- transfer_type_id -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'transfer_type_id' ] &&
							      							!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'transfer_type_id' ]">
							      	-
							      </td>
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'transfer_type_id' ] &&
							      							ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'transfer_type_id' ]">
							        <span e-form="rowform"
							        			e-name="transfer_type_id"
							        			editable-select="beneficiary.transfer_type_id"
														e-placeholder="{{'select'|translate}}"
														e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'transfer_type_id' ]"
							        			e-ng-options="a.transfer_type_id as a.transfer_type_value for a in project.lists.transfers">
							          {{ ngmClusterBeneficiaries.displayTransferTypes( project.lists, $data, beneficiary ) }}
							        </span>
							      </td>



										<!-- BENEFICIARIES -->

							      <!-- beneficiaries -->
							      <td>
							        <span e-form="rowform"
							              e-name="beneficiary_type_id"
							              editable-select="beneficiary.beneficiary_type_id"
							              e-placeholder="Select..."
							              e-ng-change="ngmClusterHelperCol.updateIndicatorObjective( project.definition.admin0pcode, beneficiary )"
							              e-ng-options="b.beneficiary_type_id as b.beneficiary_type_name for b in project.lists.beneficiary_types |
							              								filter: { 
							              									cluster_id: beneficiary.cluster_id
							              								} : true"
							              e-ng-disabled="!beneficiary.activity_description_id">
							          {{ ngmClusterBeneficiaries.displayBeneficiary( project.lists, $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- beneficiaries categories-->
							      <td ng-if="project.definition.admin0pcode === 'COL'">
							        <span e-form="rowform"
							              e-name="beneficiary_category_id"
							              editable-select="beneficiary.beneficiary_category_id"
							              e-placeholder="Select..."
							              e-ng-options="b.beneficiary_category_id as b.beneficiary_category_name for b in project.lists.beneficiary_categories"
							              e-ng-disabled="!beneficiary.activity_description_id">
							          {{ ngmClusterBeneficiaries.displayBeneficiaryCategories( project.lists, $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- delivery_type_id -->
<!-- 							      <td ng-if="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'delivery_type_id' ]">
							        <span e-form="rowform"
							              e-name="delivery_type_id"
							              editable-select="beneficiary.delivery_type_id"
							              e-placeholder="Select..."
							              e-ng-options="b.delivery_type_id as b.delivery_type_name for b in project.lists.delivery_types"
							              e-ng-disabled="!beneficiary.beneficiary_type_id || !ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'delivery_type_id' ]">
							          {{ ngmClusterBeneficiaries.displayDelivery( project.lists, $data, beneficiary ) }}
							        </span>
							      </td> -->



							      <!-- SADD -->

							      <!-- households -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'households' ]">
							        <span e-form="rowform"
							        			e-name="households"
							        			editable-number="beneficiary.households"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'households', $data ); ngmCbBeneficiaries.setSadd( beneficiary );"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'households' ]"
							        			e-required>
							          {{ beneficiary.households }}
							        </span>
							      </td>

							      <!-- families -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'families' ]">
							        <span e-form="rowform"
							        			e-name="families"
							        			editable-number="beneficiary.families"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'families', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'families' ]"
							        			e-required>
							          {{ beneficiary.families }}
							        </span>
							      </td>
							      
							      <!-- boys -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'boys' ]">
							        <span e-form="rowform"
							        			e-name="boys"
							        			editable-number="beneficiary.boys"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'boys', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'boys' ]"
							        			e-required>
							          {{ beneficiary.boys }}
							        </span>
							      </td>
							      
							      <!-- girls -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'girls' ]">
							        <span e-form="rowform"
							        			e-name="girls"
							        			editable-number="beneficiary.girls"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'girls', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'girls' ]"
							        			e-required>
							          {{ beneficiary.girls }}
							        </span>
							      </td>
							      
							      <!-- men -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'men' ]">
							        <span e-form="rowform"
							        			e-name="men"
							        			editable-number="beneficiary.men"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'men', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'men' ]"
							        			e-required>
							          {{ beneficiary.men }}
							        </span>
							      </td>
							      
							      <!-- women -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'women' ]">
							        <span e-form="rowform"
							        			e-name="women"
							        			editable-number="beneficiary.women"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'women', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'women' ]"
							        			e-required>
							          {{ beneficiary.women }}
							        </span>
							      </td>
							      
							      <!-- elderly_men -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'elderly_men' ]">
							        <span e-form="rowform"
							        			e-name="elderly_men"
							        			editable-number="beneficiary.elderly_men"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'elderly_men', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'elderly_men' ]"
							        			e-required>
							          {{ beneficiary.elderly_men }}
							        </span>
							      </td>
							      
							      <!-- elderly_women -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'elderly_women' ]">
							        <span e-form="rowform"
							        			e-name="elderly_women"
							        			editable-number="beneficiary.elderly_women"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'elderly_women', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'elderly_women' ]"
							        			e-required>
							          {{ beneficiary.elderly_women }}
							        </span>
							      </td>

							      <!-- total_beneficiaries -->
							      <td ng-show="ngmClusterBeneficiaries.form.active[ 0 ].columns[ 'total_beneficiaries' ]">
							        <span e-form="rowform"
							        			e-name="total_beneficiaries"
							        			editable-number="beneficiary.total_beneficiaries"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'total_beneficiaries', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'total_beneficiaries' ]"
							        			e-required>
							          {{ beneficiary.total_beneficiaries }}
							        </span>
							      </td>

							      <!-- afghanistan fatp same province -->
										<td ng-show="project.showFatpTreatmentSameProvince()">
												<!-- editable select true/false -->
												<span e-form="rowform"
														e-name="injury_treatment_same_province"
														editable-select="beneficiary.injury_treatment_same_province"
														e-placeholder="{{'select'|translate}}"
														e-ng-options="s.choise as s.text for s in [{'choise':true, 'text':'Yes'},{'choise':false, 'text':'No'}]"
														e-ng-disabled="beneficiary.activity_description_id !== 'fatp_stabilization_referrals_conflict' &&
													beneficiary.activity_description_id !== 'fatp_stabilization_referrals_civilian'">
												{{ project.showTreatmentSameProvince( $data, beneficiary ) }}
										</td>

										<!-- controls -->
							      <td style="white-space: nowrap"
							      			ng-show="project.definition.project_status !== 'complete'" >
							        <!-- form -->
							        <form editable-form
							        				name="rowform"
							        				ng-show="rowform.$visible"
							        				onbeforesave="project.saveBeneficiary()"
							        				class="form-buttons form-inline"
							        				shown="inserted == beneficiary">
							          <button title="Save"
									          			type="submit"
									          			class="btn waves-effect waves-light save"
									          			ng-if="rowform.$visible && !project.newProject"
									          			ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_beneficiaries_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
									            <i class="material-icons">save</i>
							          </button>
							          <button type="button"
							          					ng-if="rowform.$visible"
							          					ng-disabled="rowform.$waiting"
							          					ng-click="rowform.$cancel(); project.cancelEdit( 'target_beneficiaries', $index )"
							          					class="btn blue lighten-1 waves-effect waves-light"
							          					title="Cancel Edit">
													<i class="material-icons">clear</i>
							          </button>
							        </form>
							        <div class="buttons" ng-if="!rowform.$visible">
							          <button class="btn waves-effect waves-light"
							          					ng-click="rowform.$show()" title="Edit"
																	ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
													<i class="material-icons">create</i>
							          </button>
							          <button class="btn red lighten-2 waves-effect waves-light"
							          					ng-click="project.removeTargetBeneficiaryModal( $index )" 
							          					title="Remove"
							          					ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_beneficiaries_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
							          	<i class="material-icons">delete</i>
							          </button>
							        </div>
							      </td>

							    </tr>

							    <!-- remarks -->
							    <!-- <tr ng-repeat-end ng-if="ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'remarks' ]"> -->
							    <tr ng-repeat-end ng-if="false">

							      <!-- column -->
							      <td colspan="100" style="padding-left:20px">

							      <!-- remarks -->
							        <div class="col s12 m2" style="text-align:right;">
							          <p style="font-size:16px; padding-top:30px;">Remarks</p>
							        </div>
							        <div style="margin-top:20px;" class="input-field col s12 m10">
							          <input id="ngm-beneficiary-remarks"
							          				type="text"
							          				class="validate"
							                	ng-model="beneficiary.remarks"
							                	ng-disabled="!ngmClusterBeneficiaries.form.active[ 0 ].rows[ $index ][ 'remarks' ] || !rowform.$visible">
							          <label for="ngm-beneficiary-remarks" class="error">Remarks</label>
							        </div> 

							      </td>

							    </tr>

							  </table>

							  <button class="btn" 
							            ng-if="project.definition.admin0pcode === 'ET' && project.definition.cluster_id === 'esnfi'"
							            ng-show="project.report.report_status !== 'complete'" 
													ng-click="project.addBeneficiary({ households: 1 })"
													ng-disabled="addBeneficiaryDisable"
													style="margin:20px 0px;">
							    <i class="material-icons left">add</i>{{'add_beneficiaries'|translate}}

							  </button>

							  <!-- default -->
							  <button class="btn"
							            ng-if="project.definition.admin0pcode !== 'ET' || project.definition.cluster_id !== 'esnfi'" 
							            ng-show="project.report.report_status !== 'complete'" 
													ng-click="project.addBeneficiary()"
													ng-disabled="addBeneficiaryDisable"
													style="margin:20px 0px;">
							    <i class="material-icons left">add</i>{{'add_beneficiaries'|translate}}
							  </button>  
							</div>

						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
