
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">

				<li class="collection-header blue lighten-4">
					<h5 class="report-work-title">
						<i class="material-icons left">group</i> Target Population
					</h5>
				</li>

				<li class="collection-item avatar">

					<p id="ngm-target_beneficiaries" style="padding:10px;">
						Enter the TARGET BENEFICIARIES of your PROJECT in the form below;
					</p>

					<div ng-if="project.showCash() && !project.showPackage()" style="padding-left: 40px;">
						<p style="color: #e57373">
							<span style="font-weight:400">Amount:</span> Please enter the amount per <span style="font-weight:400">HOUSEHOLD ( HH )</span> per <span style="font-weight:400">TRANSFER</span>
						</p>
						<p style="color: #e57373">
							<span style="font-weight:400">Transfers:</span> Please enter the <span style="font-weight:400">TOTAL</span> number of planned transfers for the <span style="font-weight:400">ENTIRE</span> project
						</p>
					</div>

					<div class="row">
						<div class="col s12 card">
							<div style="padding-top: 10px; padding-left: 40px;">
							  <table class="bordered responsive-table" ng-show="project.definition.target_beneficiaries.length">
							    <tr style="font-weight: 400">
							    	<td></td>
							      <td>Activity</td>

							      <!-- somalia hack -->
							      <td ng-if="project.definition.admin0pcode !== 'SO'">Description</td>
							      <td ng-if="project.definition.admin0pcode === 'SO'">Specific Indicator</td>

							      <!-- details? indicators? -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'detail' ]">Details</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'indicator' ]">Indicator</td>

							      <!-- inputs -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'households' ]">Households</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'boys' ]">Boys</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'girls' ]">Girls</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'men' ]">Men</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'women' ]">Women</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'elderly_men' ]">Eld. Men</td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'elderly_women' ]">Eld. Women</td>


										<td ng-if="project.showFatpTreatmentSameProvince()">Treatment Same Province</td>
							      <td ng-if="project.definition.project_status !== 'complete'">Edit</td>

							    </tr>
							    <tr ng-repeat="beneficiary in project.definition.target_beneficiaries">
							    	<td>
							    		<i class="material-icons" style="color: teal;">group</i>
							    	</td>

							    	<!-- activity -->
							      <td>
							        <span e-form="rowform"
							        			e-name="activity_type_id"
							        			editable-select="beneficiary.activity_type_id"
														e-placeholder="Select..."
							        			e-ng-options="a_t.activity_type_id as a_t.activity_type_name for a_t in project.definition.activity_type"
							        			e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, beneficiary, $index )"
							        			e-ng-disabled="!project.definition.activity_type.length">
							          {{ project.displayActivity( $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- description -->
							      <td>
							        <span e-form="rowform"
							        			e-name="activity_description_id"
							        			editable-select="beneficiary.activity_description_id"
							        			e-placeholder="Select..."
							        			e-ng-options="a_d.activity_description_id as a_d.activity_description_name for a_d in project.lists.activity_descriptions | 								filter: { cluster_id: beneficiary.cluster_id,
							        																	activity_type_id: beneficiary.activity_type_id } : true"
							        			e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_type_id">
							          {{ project.displayDescription( $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- details ( hidden ) -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'detail' ] && 
							      						!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ]">
							      	-
							      </td>
							      <!-- details -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'detail' ] && 
							      						ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ]">
							        <span e-form="rowform"
							        			e-name="activity_detail_id"
							        			editable-select="beneficiary.activity_detail_id"
							        			e-placeholder="Select..."
							        			e-ng-options="a_d.activity_detail_id as a_d.activity_detail_name 
							        											for a_d in project.lists.activity_details | 
							        												filter: { cluster_id: beneficiary.cluster_id, 
																        									activity_type_id: beneficiary.activity_type_id, 
																        									activity_description_id: beneficiary.activity_description_id } : true"
														e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ]">
							          {{ project.displayDetails( $data, beneficiary ) }}
							        </span>
							      </td>
							      
							      <!-- indicator ( hidden ) -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'indicator' ] &&
							      						!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ] &&
							      						!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							      	-
							      </td>
							      <!-- 2nd tier activities -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'indicator' ] &&
							      						!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ] &&
							      						ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							        <span e-form="rowform"
							        			e-name="indicator_id"
							        			editable-select="beneficiary.indicator_id"
							        			e-placeholder="Select..."
							        			e-ng-options="a_d.indicator_id as a_d.indicator_name 
							        											for a_d in project.lists.indicators | 
							        												filter: { cluster_id: beneficiary.cluster_id, 
																        									activity_type_id: beneficiary.activity_type_id, 
																        									activity_description_id: beneficiary.activity_description_id } : true"
														e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							          {{ project.displayIndicator( $data, beneficiary ) }}
							        </span>
							      </td>
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'indicator' ] && 
							      						ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ] && 
							      						!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							      	-
							      </td>
							      <!-- 3rd tier activities -->
							      <td ng-if="ngmClusterBeneficiaries.form.active.columns[ 'indicator' ] && 
							      						ngmClusterBeneficiaries.form.active.rows[ $index ][ 'detail' ] && 
							      						ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							        <span e-form="rowform"
							        			e-name="indicator_id"
							        			editable-select="beneficiary.indicator_id"
							        			e-placeholder="Select..."
							        			e-ng-options="a_d.indicator_id as a_d.indicator_name 
							        											for a_d in project.lists.indicators | 
							        												filter: { cluster_id: beneficiary.cluster_id, 
																        									activity_type_id: beneficiary.activity_type_id, 
																        									activity_description_id: beneficiary.activity_description_id,
																        									activity_detail_id: beneficiary.activity_detail_id }"
														e-ng-change="ngmClusterBeneficiaries.setBeneficiariesFormTargets( project.lists, beneficiary, $index )"
							        			e-ng-disabled="!beneficiary.activity_description_id || !beneficiary.activity_detail_id || !ngmClusterBeneficiaries.form.active.rows[ $index ][ 'indicator' ]">
							          {{ project.displayIndicator( $data, beneficiary ) }}
							        </span>
							      </td>

							      <!-- hhs -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'households' ]">
							        <span e-form="rowform"
							        			e-name="households"
							        			editable-number="beneficiary.households"
							        			e-min="0"
							        			e-ng-change="project.updateInput( $index, 'households', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'households' ]"
							        			e-required>
							          {{ beneficiary.households }}
							        </span>
							      </td>
							      <!-- boys -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'boys' ]">
							        <span e-form="rowform"
							        			e-name="boys"
							        			editable-number="beneficiary.boys"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'boys', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'boys' ]"
							        			e-required>
							          {{ beneficiary.boys }}
							        </span>
							      </td>
							      <!-- girls -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'girls' ]">
							        <span e-form="rowform"
							        			e-name="girls"
							        			editable-number="beneficiary.girls"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'girls', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'girls' ]"
							        			e-required>
							          {{ beneficiary.girls }}
							        </span>
							      </td>
							      <!-- men -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'men' ]">
							        <span e-form="rowform"
							        			e-name="men"
							        			editable-number="beneficiary.men"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'men', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'men' ]"
							        			e-required>
							          {{ beneficiary.men }}
							        </span>
							      </td>
							      <!-- women -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'women' ]">
							        <span e-form="rowform"
							        			e-name="women"
							        			editable-number="beneficiary.women"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'women', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'women' ]"
							        			e-required>
							          {{ beneficiary.women }}
							        </span>
							      </td>
							      <!-- elderly_men -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'elderly_men' ]">
							        <span e-form="rowform"
							        			e-name="elderly_men"
							        			editable-number="beneficiary.elderly_men"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'elderly_men', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'elderly_men' ]"
							        			e-required>
							          {{ beneficiary.elderly_men }}
							        </span>
							      </td>
							      <!-- elderly_women -->
							      <td ng-show="ngmClusterBeneficiaries.form.active.columns[ 'elderly_women' ]">
							        <span e-form="rowform"
							        			e-name="elderly_women"
							        			editable-number="beneficiary.elderly_women"
							        			e-min="0"
							        			e-ng-change="project.updateInput($index, 'elderly_women', $data )"
							        			e-ng-disabled="!ngmClusterBeneficiaries.form.active.rows[ $index ][ 'elderly_women' ]"
							        			e-required>
							          {{ beneficiary.elderly_women }}
							        </span>
							      </td>



















										<td ng-show="project.showFatpTreatmentSameProvince()">
												<!-- editable select true/false -->
												<span e-form="rowform"
														e-name="injury_treatment_same_province"
														editable-select="beneficiary.injury_treatment_same_province"
														e-placeholder="Select..."
														e-ng-options="s.choise as s.text for s in [{'choise':true, 'text':'Yes'},{'choise':false, 'text':'No'}]"
														e-ng-disabled="beneficiary.activity_description_id !== 'fatp_stabilization_referrals_conflict' &&
																						beneficiary.activity_description_id !== 'fatp_stabilization_referrals_civilian'">
												{{ project.showTreatmentSameProvince( $data, beneficiary ) }}
										</td>


							      <td style="white-space: nowrap"
							      			ng-show="project.definition.project_status !== 'complete'" >
							        <!-- form -->
							        <form editable-form
							        				name="rowform"
							        				ng-show="rowform.$visible"
							        				onbeforesave="project.saveBeneficiary()"
							        				class="form-buttons form-inline"
							        				shown="inserted == beneficiary">
							          <button title="Save"
									          			type="submit"
									          			class="btn waves-effect waves-light save"
									          			ng-if="rowform.$visible && !project.newProject"
									          			ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_beneficiaries_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
									            <i class="material-icons">save</i>
							          </button>
							          <button type="button"
							          					ng-if="rowform.$visible"
							          					ng-disabled="rowform.$waiting"
							          					ng-click="rowform.$cancel(); project.cancelEdit( 'target_beneficiaries', $index )"
							          					class="btn blue lighten-1 waves-effect waves-light"
							          					title="Cancel Edit">
													<i class="material-icons">clear</i>
							          </button>
							        </form>
							        <div class="buttons" ng-if="!rowform.$visible">
							          <button class="btn waves-effect waves-light"
							          					ng-click="rowform.$show()" title="Edit"
																	ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
													<i class="material-icons">create</i>
							          </button>
							          <button class="btn red lighten-2 waves-effect waves-light"
							          					ng-click="project.removeTargetBeneficiaryModal( $index )" 
							          					title="Remove"
							          					ng-disabled="
								                  	( ( !project.project_details_valid() ) ||
								                    ( !project.activity_type_valid() ) ||
								                    ( !project.project_donor_valid() ) ||
								                    ( !project.target_beneficiaries_valid() ) ||
								                    ( !project.target_locations_valid() ) ||
								                    ( !project.submit ) )">
							          	<i class="material-icons">delete</i>
							          </button>
							        </div>
							      </td>

							    </tr>
							  </table>

							  <button class="btn"
							  					ng-show="project.definition.project_status !== 'complete'"
							  					ng-click="project.addBeneficiary()"
							  					style="margin:20px 0px;">
							  	<i class="material-icons left">add</i>Add Row
							  </button>

							</div>

						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
