
<style>

.count, .label {
  z-index: 1 !important;
}

.ng-table th.sortable .sort-indicator {
  color: #2196F3;
  font-weight: 400;
}

.pagination li.active {
    background-color: #009688;
}

</style>

<!-- ngTable -->
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <ul class="collection with-header">
        <li class="{{ table.headerClass }}"><h5 class="report-work-title {{ table.headerText }}"><i class="material-icons left">{{ table.headerIcon }}</i>{{ table.headerTitle }}</h5></li>
        <li class="collection-item avatar" style="padding:10px;">
          
          <!-- if no data -->
          <div ng-if="data.length === 0">
            <div class="label"
                style="text-align:center; padding-top:20px;">
              <span>No {{ table.headerTitle }}!</span>
            </div>
          </div>

          <!-- if data -->
          <div ng-if="data.length">
            <table class="centered highlight responsive-table" ng-table="table.tableParams">
              <tr ng-repeat="row in $data" style="cursor: pointer; cursor: hand;">
                <td data-title="'Organization'" sortable="'organization'"
                  ng-click="table.rowClick( true, '/#/health/projects/report/{{ row.project_id }}/{{ row.id }}' )">
                  {{ row.organization }}
                </td>
                <td data-title="'User'" sortable="'username'"
                  ng-click="table.rowClick( true, '/#/health/projects/report/{{ row.project_id }}/{{ row.id }}' )">
                  {{ row.username }}
                </td>
                <td data-title="'Email'" sortable="'email'"
                  ng-click="table.rowClick( true, '/#/health/projects/report/{{ row.project_id }}/{{ row.id }}' )">
                  {{ row.email }}
                </td>
                <td data-title="'Title'" sortable="'project_title'">
                  <a target="_blank" href="#/health/projects/summary/{{ row.project_id }}" title="GoTo Project Summary">{{ row.project_title }}</a>
                </td>
                <td data-title="'Month'" sortable="'reporting_period'"
                  ng-click="table.rowClick( true, '/#/health/projects/report/{{ row.project_id }}/{{ row.id }}' )">
                    {{ row.reporting_period | date: 'MMMM' }}
                </td>
                <td data-title="'Status'" sortable="'status'"
                  ng-click="table.rowClick( true, '/#/health/projects/report/{{ row.project_id }}/{{ row.id }}' )">
                  <i class="material-icons" style="color: {{ row.status }}">fiber_manual_record</i></td>
              </tr>
            </table>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>