
<style>

.ng-table th.sortable .sort-indicator {
  color: #2196F3;
  font-weight: 400;
}

.pagination li.active {
    background-color: #009688;
}

table.flood-forecast-chart-legend thead {
  border-bottom: none;
}

table.flood-forecast-chart-legend td {
  padding: 5px;
}

</style>

<!-- ngTable -->

    <div ng-if="table.title" class="grey-text text-darken-2">FLASH FLOOD BY RISK</div>

    <div class="col s12">
      <table class="highlight flood-forecast-chart-legend" ng-table="table.tableParams" 
          style="margin-top: -20px; margin-left: -10px;" height="120px;">
        <tr ng-repeat="row in table.flash" style="cursor: pointer; cursor: hand;">
          <td style="background-color:{{ row.color }};" width="10%"> </td>
          <td style="padding-left: 20px;">{{ row.name }}</td>
          <td ng-if="row.value">{{ row.value | number }}</td>
        </tr>
      </table>
    </div>

    <div ng-if="table.title" class="grey-text text-darken-2">RIVER FLOOD BY RISK</div>

    <div class="col s12">
      <table class="highlight flood-forecast-chart-legend" ng-table="table.tableParams" 
          style="margin-top: -20px; margin-left: -10px;" height="120px;">
        <tr ng-repeat="row in table.river" style="cursor: pointer; cursor: hand;">
          <td style="background-color:{{ row.color }};" width="10%"> </td>
          <td style="padding-left: 20px;">{{ row.name }}</td>
          <td ng-if="row.value">{{ row.value | number }}</td>
        </tr>
      </table>
    </div>    