
<style>

#po_number {
  width: 10%;
}
#project_title {
  width: 30%;
}
#hfs {
  width: 5%;
}

.ng-table th.sortable .sort-indicator {
  color: #2196F3;
  font-weight: 400;
}

.pagination li.active {
    background-color: #009688;
}

thead {
  border-bottom: none;
}
td {
  padding: 3px;
}

</style>

<!-- ngTable -->

    <div ng-if="table.title" class="grey-text text-darken-2" style="{{ table.title.style }}">{{ table.title.name }}</div>

    <div class="col s12">
      <table class="highlight responsive-table" ng-table="table.tableParams" 
          style="margin-top: -20px; margin-left: -10px;" height="120px;">
        <tr ng-repeat="row in $data" style="cursor: pointer; cursor: hand;">
          <td style="background-color:{{ row.color }};" width="10%"> </td>
          <td style="padding-left: 20px;">{{ row.name }}</td>
          <td>{{ row.value | number }}</td>
        </tr>
      </table>
    </div>