
  <!-- display flood risk stats -->
  <i class="{{ stats.display.iconClass }}" style="{{ stats.display.iconStyle }}">{{ stats.display.icon }}</i>
	<span class="count">
		<span
			value="0" 
			ng-count-to="{{ stats.data.value }}" 
			duration="{{ stats.display.duration }}"
			filter="{{ stats.display.filter }}"
			params="{{ stats.display.params }}"
			fraction-size="{{ stats.display.fractionSize }}">
		</span>{{ stats.display.postfix }}</span>

	<div ng-if="stats.display.simpleTitle" class="{{ stats.display.subTitleClass }}">{{ stats.title }}</div>

	<div ng-if="!stats.display.simpleTitle" class="{{ stats.display.subTitleClass }}">{{ stats.title }} 
		( <span>{{ stats.display.subTitlePrefix }}</span>
	  	<span class="name"
		      value="0" 
		      ng-count-to="{{ stats.data.value_total }}" 
		      duration="{{ stats.display.duration }}"
		      filter="{{ stats.display.filter }}"
		      params="{{ stats.display.params }}">
	   </span> <span>{{ stats.display.subTitlePostfix }}</span> )
	</div>