
<!-- CXB -->
<!-- <div class="row" ng-if="panel.organization.organization_tag !== 'wfp' &&
                          panel.organization.organization_tag !== 'aah' &&
                          panel.organization.organization_tag !== 'brac' &&
                          panel.organization.organization_tag !== 'ric' &&
                          panel.organization.organization_tag !== 'sci' &&
                          panel.organization.organization_tag !== 'wvi'"> -->
<div class="row" ng-if="panel.organization.organization_tag !== 'wfp' && panel.organization.organization_tag !== 'ric'">
  
  <!-- projects -->
  <div class="col s12 m6">
    <a href="{{ panel.getProjectsHref() }}">
     <div class="card medium blue-grey darken-1 hoverable">
      <div class="card-image" style="max-height:70%">
        <img src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">{{ 'projects_mayus1'|translate }}</p>
      </div>
      <div class="card-action">
        <a class="left" href="{{ panel.getProjectsHref() }}">{{ 'go_to'|translate }} {{ panel.organization.organization }} {{'projects_mayus1'|translate}}</a>
      </div>
    </div>
    </a>
  </div>

  <!-- team -->
  <div class="col s12 m6">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.teamTitle() }}</p>
        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{ 'view_team'|translate }}</a>
        </div>
      </div>
     </a>
  </div>

</div>

<!-- CXB -->
<!-- <div class="row" ng-if="panel.organization.organization_tag === 'wfp' ||
                          panel.organization.organization_tag === 'aah' ||
                          panel.organization.organization_tag === 'brac' ||
                          panel.organization.organization_tag === 'ric' ||
                          panel.organization.organization_tag === 'sci' ||
                          panel.organization.organization_tag === 'wvi'"> -->
<div class="row" ng-if="panel.organization.organization_tag === 'wfp' || panel.organization.organization_tag === 'ric'">
  
  <!-- projects -->
  <div class="col s12 m4">
    <a href="{{ panel.getProjectsHref() }}">
     <div class="card medium blue-grey darken-1 hoverable">
      <div class="card-image" style="max-height:70%">
        <img src="images/cluster/projects-{{ panel.organization.admin0pcode }}.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">{{ 'projects_mayus1'|translate }}</p>
      </div>
      <div class="card-action">
        <a class="left" href="{{ panel.getProjectsHref() }}">{{ 'go_to'|translate }} {{ panel.organization.organization }} {{'projects_mayus1'|translate}}</a>
      </div>
    </div>
    </a>
  </div>

  <!-- team -->
  <div class="col s12 m4">
    <a href="{{ panel.getTeamUrl() }}">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/cluster/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.teamTitle() }}</p>
        </div>
        <div class="card-action">
          <a class="left" href="{{ panel.getTeamUrl() }}">{{ 'view_team'|translate }}</a>
        </div>
      </div>
     </a>
  </div>

  <!-- team -->
  <div class="col s12 m4">
    <a href="#/bgd/cxb/gfa/gfd">
      <div class="card medium blue-grey darken-1 hoverable">
        <div class="card-image" style="max-height:70%">
          <img src="images/country/bangladesh/gfd.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">General Food Distribution</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/bgd/cxb/gfa/gfd">GO TO GFD REPORTS</a>
        </div>
      </div>
     </a>
  </div>  

</div>