<style>

	.card-panel-expand {
		/* margin-top: 1.9rem; */
		margin-top: 0.2rem;
	}

	.add-padding {
		padding-bottom: 30px;
	}
	.add-margin-bottom{
		margin-bottom: 20px;
	}
</style>
<div class="row" window-size>
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">

				<li class="collection-header teal lighten-4">
					<h5 class="report-work-title">
						<i class="material-icons left">attach_money</i>{{'project_budget_progress' | translate}}
					</h5>
				</li>

				<li class="collection-item avatar">

					<p style="padding:10px;">
						{{'add_new_row_of_financial_details_to_your_project_for_each_payment_recieved' | translate}};
					</p>

					<button
						class="btn waves-effect waves-light hide-on-small-only file-report-btn" title=" Import From File"
						ng-click="project.uploadFileReport.openModal('upload-monthly-file-financial')" ng-disabled="">
						<i class="material-icons left">publish</i>Import Form File
					</button>

					<div id="financial-id-{{$index}}" ng-repeat="budget in project.definition.project_budget_progress track by $index">
						<!-- new button and title -->
						<div class="row" style="margin-bottom: 15px;">
							<div class="col s12 m12 left-align" dir="ltr">
								<h5 class="report-beneficiary-title" ng-if="!budget.project_donor_id">
									<i class="material-icons left">group</i>Financial 1
								</h5>
								<h5 class="report-beneficiary-title" ng-if="budget.project_donor_id && !budget.activity_type_id">
									<i class="material-icons left">group</i>{{budget.project_donor_name}}
								</h5>
								<h5 class="report-beneficiary-title" ng-if="budget.project_donor_id && budget.activity_type_id">
									<i class="material-icons left">group</i>{{budget.project_donor_name}}, {{budget.activity_type_name}}
								</h5>
							</div>
						
							<!-- btns -->
							<div class="col s12 m12" ng-style="(windowWidth > 600) && { 'margin-top': '-40px' }" ng-class="{'right-align':windowWidth > 600 }">
								<div style=" display: inline-block; font-size: 20px;font-weight: 300; color: #656565; margin-right:2%"
									class="hide-on-med-and-down">
									<i
										class="material-icons left">attach_money</i>{{ budget.project_budget_amount_recieved > 0 ? budget.project_budget_amount_recieved : 0 | number }}
								</div>
								<button class="btn-floating waves-effect waves-light" title="Save"
									ng-if="detailFinancial[$index] && project.canEdit && project.definition.project_status !== 'complete'"
									ng-click="project.validateFinancialDetailsForm()" ng-disabled="!project.canEdit || project.isSaving">
									<i class="material-icons">save</i>
								</button>
								<button class="btn-floating red lighten-2 waves-effect waves-light" title="Remove"
									ng-if="budget.id && detailFinancial[$index] && project.canEdit && project.definition.project_status !== 'complete'"
									ng-click="project.removeBudgetModal( $index )" ng-disabled="!project.canEdit || project.isSaving">
									<i class="material-icons">delete</i>
								</button>
								<button class="btn-floating blue lighten-1 waves-effect waves-light"
									ng-if="!budget.id && detailFinancial[$index] && project.canEdit" ng-click="project.cancelEdit($index)"
									ng-disabled="!project.canEdit || project.isSaving">
									<i class="material-icons">clear</i>
								</button>
								<button id="toggle" class="btn-floating" ng-class="{'rotate': detailFinancial[$index]}"
									ng-click="project.openCloseDetailFinancial($index)" ng-disabled="false">
									<i class="material-icons">keyboard_arrow_down</i>
									<md-tooltip md-direction="right">
										{{ 'Minimize'|translate }}
									</md-tooltip>
									<md-tooltip md-direction="right">
										{{ 'Click to Expand'|translate }}
									</md-tooltip>
								</button>
							</div>
						</div>
						<!-- detail form-->
						<div class="card-panel" ng-if="detailFinancial[$index]"
							ng-class="{'card-panel-expand':detailFinancial[$index]}">

							<div class="row">
								<!-- DONOR -->
								<div class="input-field col s12 m6 l4">
										<select materialize-select id="ngm-project_donor_id-{{$index}}"
											name="ngm-project_donor_id-{{$index}}" class="validate"
											ng-options="d.project_donor_id as d.project_donor_name for d in project.definition.project_donor"								
											ng-model="budget.project_donor_id"
											ng-change="ngmClusterFinancial.updateName( project.definition.project_donor, 'project_donor_id', 'project_donor_name', budget,project );
																 ngmClusterFinancial.inputChange( 'ngm-project_donor_id-{{$index}}' );"
											ng-disabled="project.definition.project_status === 'complete'"
											required>
											<option value="">{{ 'select' | translate }}</option>
										</select>
									<label for="ngm-project_donor_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'donor'|translate}}*</label>
								</div>

								<!-- Activity -->
								<div class="input-field col s12 m6 l4">
									<select materialize-select watch id="ngm-activity_type_id-{{$index}}" name="ngm-activity_type_id-{{$index}}"
										class="validate" 
										ng-options="d.activity_type_id as d.activity_type_name for d in project.lists.activity_type"
										ng-model="budget.activity_type_id"
										ng-change="ngmClusterFinancial.updateName( project.lists.activity_type, 'activity_type_id', 'activity_type_name', budget,project );
																 ngmClusterFinancial.inputChange( 'ngm-activity_type_id-{{$index}}' );" 
										ng-disabled="project.definition.project_status === 'complete'"
										required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-activity_type_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'activity' | translate}}*</label>
								</div>

								<!-- Grant Id -->
								<div class="input-field col s12 m6 l4">
									<input id="ngm-grant_id-{{ $ndex }}" 
										type="text" 
										placeholder="Put your {{'grant' | translate}} ID" 
										ng-model="budget.grant_id"
										class="validate"
										ng-disabled="project.definition.project_status === 'complete'"
										required>
									<label for="ngm-grant_id-{{ $index }}" class="active"
										>{{'grant' | translate}} ID</label>
								</div>

								<!-- Amount -->
								<div class="input-field col s12 m6 l4">
									<input id="ngm-project_budget_amount_recieved-{{$index }}"
											name="ngm-project_budget_amount_recieved-{{$index }}"
											type="number"
											class="validate"
											min="0"
											ng-model="budget.project_budget_amount_recieved"
											ng-change="ngmClusterFinancial.updateNumber('project_budget_amount_recieved', budget );
																 ngmClusterFinancial.inputChange( 'ngm-project_budget_amount_recieved-{{$index }}' );"
											ng-disabled="project.definition.project_status === 'complete'"											
											required />
									<label for="ngm-project_budget_amount_recieved-{{$index }}" class="active">{{'amount' | translate}}*</label>
								</div>

								<!-- Currency -->
								<div class="input-field col s12 m6 l4">
									<select materialize-select id="ngm-currency_id-{{$index}}" 
										name="ngm-currency_id-{{$index}}"
										class="validate" 
										ng-options="d.currency_id as d.currency_name for d in project.lists.currencies"
										ng-model="budget.currency_id"
										ng-change="ngmClusterFinancial.updateName( project.lists.currencies, 'currency_id', 'currency_name', budget,project );
																 ngmClusterFinancial.inputChange( 'ngm-currency_id-{{$index}}' );" 
										ng-disabled="project.definition.project_status === 'complete'"
										required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-currency_id-{{$index}}" class="active" style="transform:translateY(-10%)">{{'currency' | translate}}*</label>
								</div>

								<!-- Received -->
								<div class="input-field col s12 m6 l4">
									<label id="ngm-project_budget_date_recieved-{{$index}}" for="ngm-project_budget_date_recieved-{{$index}}"
										class="active">{{'recieved' | translate}}*</label>
									<input ngm-date type="text" style="color:rgba(0, 0, 0, 0.87);margin-bottom:0px;"
										ng-model="budget.project_budget_date_recieved" format="dd mmm, yyyy" select-years="15"
										ng-disabled="project.definition.project_status === 'complete'"
										max="{{ project.datepicker.maxDate }}" on-close="project.datepicker.onClose( budget )" />
								
								</div>
							</div>
							
							<div class="row" ng-if="project.showProgrammingField(budget)">
								<!-- Fund -->
								<div class="input-field col s12 m6 l4">
									<select materialize-select id="ngm-budget_funds_id-{{$index}}" name="ngm-budget_funds_id-{{$index}}" class="validate"
										ng-options="d.budget_funds_id as d.budget_funds_name for d in project.lists.budget_funds"
										ng-model="budget.budget_funds_id" ng-change="ngmClusterFinancial.updateName( project.lists.budget_funds, 'budget_funds_id', 'budget_funds_name', budget,project );
																								 ngmClusterFinancial.inputChange( 'ngm-budget_funds_id-{{$index}}' );" ng-disabled="project.definition.project_status === 'complete'" required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-budget_funds_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'funds' | translate}}*</label>
								</div>

								<!-- Programing -->
								<div ng-show="project.showProgrammingField(budget)" class="input-field col s12 m6 l4">
									<select materialize-select id="ngm-financial_programming_id-{{$index}}" name="ngm-financial_programming_id-{{$index}}"
										class="validate" ng-options="d.financial_programming_id as d.financial_programming_name for d in project.lists.financial_programming"
										ng-model="budget.financial_programming_id" ng-change="ngmClusterFinancial.updateName( project.lists.financial_programming, 'financial_programming_id', 'financial_programming_name', budget,project );
																							 ngmClusterFinancial.inputChange( 'ngm-project_donor_id-{{$index}}' );" ng-disabled="project.definition.project_status === 'complete'" >
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-financial_programming_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'programming' | translate}}</label>
								</div>
							
								
							
								<!-- Multi year -->
								<div class="input-field col s12 m6 l4">
									<select materialize-select id="ngm-multi_year_funding_id-{{$index}}" name="ngm-multi_year_funding_id-{{$index}}" class="validate"
										ng-options="d.multi_year_funding_id as d.multi_year_funding_name for d in project.lists.multi_year_funding" ng-model="budget.multi_year_funding_id"
										ng-change="ngmClusterFinancial.updateName( project.lists.multi_year_funding, 'multi_year_funding_id', 'multi_year_funding_name', budget,project );
																																 ngmClusterFinancial.inputChange( 'ngm-multi_year_funding_id-{{$index}}' )" ng-disabled="project.definition.project_status === 'complete'" >
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-multi_year_funding_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'multi_year_funding' | translate}}</label>
								</div>							
								
							</div>
							<div class="row" ng-if="!project.showProgrammingField(budget)">
								<!-- Fund -->
								<div class="input-field col s12 m6 l6">
									<select materialize-select id="ngm-budget_funds_id-{{$index}}" name="ngm-budget_funds_id-{{$index}}"
										class="validate" ng-options="d.budget_funds_id as d.budget_funds_name for d in project.lists.budget_funds"
										ng-model="budget.budget_funds_id" ng-change="ngmClusterFinancial.updateName( project.lists.budget_funds, 'budget_funds_id', 'budget_funds_name', budget,project );
																															 ngmClusterFinancial.inputChange( 'ngm-budget_funds_id-{{$index}}' );"
										ng-disabled="project.definition.project_status === 'complete'" required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-budget_funds_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'funds' | translate}}*</label>
								</div>					
														
								<!-- Multi year -->
								<div class="input-field col s12 m6 l6">
									<select materialize-select id="ngm-multi_year_funding_id-{{$index}}" name="ngm-multi_year_funding_id-{{$index}}"
										class="validate"
										ng-options="d.multi_year_funding_id as d.multi_year_funding_name for d in project.lists.multi_year_funding"
										ng-model="budget.multi_year_funding_id" ng-change="ngmClusterFinancial.updateName( project.lists.multi_year_funding, 'multi_year_funding_id', 'multi_year_funding_name', budget,project );
																																							 ngmClusterFinancial.inputChange( 'ngm-multi_year_funding_id-{{$index}}' )"
										ng-disabled="project.definition.project_status === 'complete'">
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-multi_year_funding_id-{{$index}}" class="active"
										style="transform:translateY(-10%)">{{'multi_year_funding' | translate}}</label>
								</div>
							
							</div>
							<div class="row" ng-if="project.showMultiYearFundingField(budget)">
								<div class="col s12 m6 l6">
									<h5 class="report-beneficiary-title-details">Funding Per Year</h5>
								</div>
							</div>
							<div class="row add-margin-bottom" ng-if="project.showMultiYearFundingField(budget)">
								<div class="input-field col s12 " ng-class="{'m6':budget.multi_year_array.length === 2, 'm4': budget.multi_year_array.length === 3, 'm3': budget.multi_year_array.length >= 4 }" ng-repeat="item in budget.multi_year_array track by item.year">
									<input id="year-index-{{item.year}}-{{$index}}"
											name="year-index-{{item.year}}-{{$index}}"
											type="number"
											class="validate"
											min="0"
											ng-model="item.budget"
											ng-change="ngmClusterFinancial.inputChange( 'year-index-{{item.year}}-{{$index}}' );"
											ng-disabled="project.definition.project_status === 'complete'"											
											required />
									<label for="year-index-{{item.year}}-{{$index}}" class="active">{{item.year}}</label>
								</div>
							</div>

							<div class="row" ng-if="project.showFtsIdLabelField(budget)">
								<!-- Fts -->
								<div class="input-field col s12 m6 l6">
									<select materialize-select id="ngm-reported_on_fts_id-{{$index}}" name="ngm-reported_on_fts_id-{{$index}}"
										class="validate" ng-options="d.reported_on_fts_id as d.reported_on_fts_name for d in project.lists.reported_on_fts"
										ng-model="budget.reported_on_fts_id" ng-change="ngmClusterFinancial.updateName( project.lists.reported_on_fts, 'reported_on_fts_id', 'reported_on_fts_name', budget,project );
																																																		 ngmClusterFinancial.inputChange( 'ngm-reported_on_fts_id-{{$index}}' );"
										ng-disabled="project.definition.project_status === 'complete'"
										>
										<option value="">{{ 'select' | translate }}</option>
									</select>
								
									<label style="transform:translateY(-10%)" for="ngm-reported_on_fts_id-{{$index }}" class="active">{{'on' |translate}}
										FTS?</label>
								</div>
								
								<!-- Fts ID -->
								<div ng-show="project.showFtsIdLabelField(budget)" class="input-field col s12 m6 l6">
									<input id="ngm-fts_record_id-{{ $ndex }}" type="text" placeholder="put fts ID" ng-model="budget.fts_record_id"
									ng-disabled="project.definition.project_status === 'complete'"
										class="validate" required>
									<label for="ngm-fts_record_id-{{ $ndex }}" class="active">FTS ID</label>
								
								</div>
								
								<!-- Note -->
								<!-- <div class="input-field col s12 m12">
									<input id="ngm-comments-{{ $ndex }}" type="text" placeholder="Put your notes" ng-model="budget.comments"
										class="validate" 
										ng-disabled="project.definition.project_status === 'complete'"
										required>
									<label for="ngm-comments-{{ $ndex }}" class="active">{{'notes' | translate}} </label>
								</div> -->
							</div>

							<div class="row" ng-if="!project.showFtsIdLabelField(budget)">
								<!-- Fts -->
								<div class="input-field col s12 m12">
									<select materialize-select id="ngm-reported_on_fts_id-{{$index}}" name="ngm-reported_on_fts_id-{{$index}}"
										class="validate"
										ng-options="d.reported_on_fts_id as d.reported_on_fts_name for d in project.lists.reported_on_fts"
										ng-model="budget.reported_on_fts_id"
										ng-change="ngmClusterFinancial.updateName( project.lists.reported_on_fts, 'reported_on_fts_id', 'reported_on_fts_name', budget,project );
																																																									 ngmClusterFinancial.inputChange( 'ngm-reported_on_fts_id-{{$index}}' );"
										ng-disabled="project.definition.project_status === 'complete'">
										<option value="">{{ 'select' | translate }}</option>
									</select>
							
									<label style="transform:translateY(-10%)" for="ngm-reported_on_fts_id-{{$index }}"
										class="active">{{'on' |translate}}
										FTS?</label>
								</div>
							
							</div>

							<div class="row">
								<!-- Note -->
								<div class="input-field col s12 m12">
									<input id="ngm-comments-{{ $ndex }}" type="text" placeholder="Put your notes" ng-model="budget.comments"
										class="validate" ng-disabled="project.definition.project_status === 'complete'" required>
									<label for="ngm-comments-{{ $ndex }}" class="active">{{'notes' | translate}} </label>
								</div>
							</div>
						</div>						
					</div>
					<button class="btn" ng-show="project.definition.project_status !== 'complete'" ng-click="project.addBudgetItem()"
						style="margin:20px 0px;">
						<i class="material-icons left">add</i>{{'add_row' | translate}}
					</button>

				</li>

			</ul>
		</div>
	</div>
</div>
<script>
	setTimeout(function () {
		M.updateTextFields();
	}, 100)
</script>