<div class="row">
  <div class="col s12 m12 l12">
    <div class="card">
      <ul class="collection with-header">
        
        <li class="collection-header teal lighten-4">
          <h5 class="report-work-title">
            <i class="material-icons left">attach_money</i>{{'project_budget_progress' | translate}}
          </h5>
        </li>

        <li class="collection-item avatar">

          <p style="padding:10px;">
            {{'add_new_row_of_financial_details_to_your_project_for_each_payment_recieved' | translate}};
          </p>

          <div class="row">
            <div class="col s12 card">
              <div style="padding-top: 10px; padding-left: 40px;">

                <table class="bordered responsive-table" ng-show="project.definition.project_budget_progress.length">
                  <tr style="font-weight: 400">
                    <td>{{'donor'|translate}}*</td>
                    <td>{{'activity' | translate}}*</td>
                    <td>{{'grant' | translate}} ID</td>
                    <td>{{'amount' | translate}}*</td>
                    <td>{{'currency' | translate}}*</td>
                    <td>{{'funds' | translate}}*</td>
                    <td ng-show="project.showProgrammingLabel()">{{'programming' | translate}}</td>
                    <td>{{'recieved' | translate}}*</td>
                    <td>{{'multi_year_funding' | translate}}</td>
                    <td ng-show="project.showFunding2017()">2017 {{'funding' | translate}}</td>
                    <td>{{'on' |translate}} FTS?</td>
                    <td ng-show="project.showFtsIdLabel()">FTS ID</td>
                    <td>{{'notes' | translate}}</td>
                    <td ng-if="project.definition.project_status !== 'complete'">{{'edit' | translate}}</td>
                  </tr>
                  <tr ng-repeat="budget in project.definition.project_budget_progress track by $index">

                    <td>
                      <!-- project_donor_id -->
                      <span e-form="rowform"
                            e-name="project_donor_id"
                            editable-select="budget.project_donor_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.project_donor_id as d.project_donor_name for d in project.definition.project_donor">
                        {{ project.showDonor( $data, budget ) }}
                      </span>
                    </td>

                    <td>
                      <!-- activity_type_id -->
                      <span e-form="rowform"
                            e-name="activity_type_id"
                            editable-select="budget.activity_type_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.activity_type_id as d.activity_type_name for d in project.lists.activity_type">
                        {{ project.showActivity( $data, budget ) }}
                      </span>
                    </td>

                    <td>
                      <!-- number -->
                      <span e-form="rowform" 
                            e-name="grant_id"
                            editable-text="budget.grant_id"
                            e-min="0">
                        {{ budget.grant_id }}
                      </span>
                    </td>

                    <td>
                      <!-- number -->
                      <span e-form="rowform" 
                            e-name="project_budget_amount_recieved"
                            editable-number="budget.project_budget_amount_recieved"
                            e-min="0">
                        {{ budget.project_budget_amount_recieved }}
                      </span>
                    </td> 

                    <td>
                      <!-- currency_id -->
                      <span e-form="rowform"
                            e-name="currency_id"
                            editable-select="budget.currency_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.currency_id as d.currency_name for d in project.lists.currencies">
                        {{ project.showCurrency( $data, budget ) }}
                      </span>
                    </td>

                    <td>
                      <!-- budget_funds_id -->
                      <span e-form="rowform"
                            e-name="budget_funds_id"
                            editable-select="budget.budget_funds_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.budget_funds_id as d.budget_funds_name for d in project.lists.budget_funds">
                        {{ project.showFunds( $data, budget ) }}
                      </span>
                    </td>

                    <td ng-show="project.showProgrammingLabel()">
                      <!-- financial_programming_id -->
                      <span e-form="rowform"
                            e-name="financial_programming_id"
                            editable-select="budget.financial_programming_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-disabled="budget.budget_funds_id === 'inkind'"
                            e-ng-options="d.financial_programming_id as d.financial_programming_name for d in project.lists.financial_programming">
                        {{ project.showProgramming( $data, budget ) }}
                      </span>
                    </td>

                    <!-- input-date directive -->
                    <td>
                      <input ngm-date
                          type="text"
                          style="color:rgba(0, 0, 0, 0.87);margin-bottom:0px;border-bottom:0px;"
                          ng-model="budget.project_budget_date_recieved"
                          format="dd mmm, yyyy"
                          select-years="15"
                          max="{{ project.datepicker.maxDate }}"
                          ng-disabled="!rowform.$visible"
                          on-close="project.datepicker.onClose( budget )"/>
                    </td>

                    <td>
                      <!-- currency_id -->
                      <span e-form="rowform"
                            e-name="multi_year_funding_id"
                            editable-select="budget.multi_year_funding_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.multi_year_funding_id as d.multi_year_funding_name for d in project.lists.multi_year_funding">
                        {{ project.showMultiYear( $data, budget ) }}
                      </span>
                    </td>

                    <td ng-show="project.showFunding2017()">
                      <!-- number -->
                      <span e-form="rowform" 
                            e-name="funding_2017"
                            editable-number="budget.funding_2017"
                            e-min="0"
                            ng-disabled="budget.multi_year_funding_id === 'no'">
                        {{ budget.funding_2017 }}
                      </span>
                    </td>

                    <td>
                      <!-- currency_id -->
                      <span e-form="rowform"
                            e-name="reported_on_fts_id"
                            editable-select="budget.reported_on_fts_id"
                            e-placeholder="{{'select'|translate}}"
                            e-ng-options="d.reported_on_fts_id as d.reported_on_fts_name for d in project.lists.reported_on_fts">
                        {{ project.showOnFts( $data, budget ) }}
                      </span>
                    </td>

                    <td ng-show="project.showFtsIdLabel()">
                      <!-- fts -->
                      <span e-form="rowform" 
                            e-name="fts_record_id"
                            editable-text="budget.fts_record_id"
                            e-min="0"
                            e-ng-disabled="budget.reported_on_fts_id === 'no'">
                        {{ budget.fts_record_id }}
                      </span>
                    </td>

                    <td>
                      <!-- text -->
                      <span e-form="rowform" 
                            e-name="comments"
                            editable-text="budget.comments">
                        {{ budget.comments }}
                      </span>
                    </td>
                    <td style="white-space: nowrap" ng-show="project.definition.project_status !== 'complete'">
                      <!-- form -->
                      <form editable-form name="rowform" onshow="project.keydownSaveForm()" ng-show="rowform.$visible" onbeforesave="project.save()" class="form-buttons form-inline" shown="inserted === budget">
                        <button type="submit" ng-if="rowform.$visible" class="btn btn-small waves-effect waves-light save" title="Save"
                                ng-disabled="( !budget.project_donor_id ) ||
                                             ( !budget.activity_type_id ) ||
                                             ( !budget.currency_id ) ||
                                             ( !budget.budget_funds_id ) ||
                                             ( !budget.project_budget_date_recieved )">
                          <i class="material-icons">save</i>
                        </button>
                        <div type="button" ng-if="rowform.$visible" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); project.cancelEdit( $index )" " class="btn btn-small blue lighten-1 waves-effect waves-light" title="Cancel Edit">
                          <i class="material-icons">clear</i>
                        </div>
                      </form>
                      <div class="buttons" ng-if="!rowform.$visible">
                        <div class="btn btn-small waves-effect waves-light" ng-click="rowform.$show()" title="Edit">
                          <i class="material-icons">create</i>
                        </div>
                        <div class="btn btn-small red lighten-2 waves-effect waves-light" ng-click="project.removeBudgetModal( $index )" title="Remove"
                            ng-disabled="( !budget.project_donor_id ) || 
                                         ( !budget.activity_type_id ) ||
                                         ( !budget.currency_id ) ||
                                         ( !budget.budget_funds_id ) ||
                                         ( !budget.project_budget_date_recieved )">
                          <i class="material-icons">delete</i>
                        </div>
                      </div>  
                    </td>

                  </tr>
                </table>

                <button class="btn" ng-show="project.definition.project_status !== 'complete'" ng-click="project.addBudgetItem()" style="margin:20px 0px;">
                  <i class="material-icons left">add</i>{{'add_row' | translate}}
                </button>

              </div>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </div>
</div>
