
<div id="budget-modal" class="modal">
  <div class="modal-content dialog">
    <h4 class="header-modal red lighten-2"><i class="material-icons left small">attach_money</i>{{'remove_budget' | translate}}</h4>
    <p>{{'are_you_sure_you_want_remove_this_budget_item_from_your_project' | translate}}?</p>
  </div>
  <div class="modal-footer">
	  <a ng-click="project.removeBudgetItem()" class="modal-action modal-close waves-effect waves-green btn">{{'yes_remove' | translate}}!</a>
  	<a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>

<div class="row">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">
			
			<!--  -->
			<span class="left show-on-small hide-on-med-and-up"
				style="padding-top:8px;padding-left: 17px;padding-bottom: 15px;">{{'last_updated' | translate}}: {{ project.updatedAt }}</span>
			<button class="btn-flat waves-effect waves-teal" ng-click="project.cancel()">
				<i class="material-icons mirror left">keyboard_return</i>{{'back_to_project_summary' | translate}}
			</button>

			<span class="right hide-on-small-only" style="padding-top:8px;">{{'last_updated' | translate}}: {{ project.updatedAt }}</span>

		</div>
	</div>
</div>

<!-- Project form -->
<div name="clusterReportsForm" class="col s12 m12 l12" style="padding:0px;" novalidate>
		
	<!-- disabled -->
	<fieldset ng-disabled="!project.canEdit">
					
		<!-- budget details -->
		<div ng-include="project.templatesUrl + project.financialsUrl"></div>

		<!-- Project beneficiaries details -->
		<!-- <div class="slide-animate" ng-include="project.templatesUrl + project.notesUrl"></div> -->
		
	</fieldset>

</div>


<script>

  // init modals
//   $( '.modal-trigger' ).leanModal();
  $('.modal-trigger').modal();

</script>



