
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">list</i> {{'project_classifications'|translate}} ( {{'mandatory_for_united_nations_system_agencies'|translate}})

					</h5>
				</li>

				<li class="collection-item avatar">

					<div class="row">

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">

								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 UNDAF - Desarrollo y Paz

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.undaf_desarrollo_paz" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="Undaf Desarrollo y Paz" 
											md-on-add="project.addUndafDesarrolloPaz($chip)"   
											md-on-remove="project.removeUndafDesarrolloPaz($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchundaf_desarrollo_paz" 
												md-min-length="3"	
												md-items="item in ngmClusterHelperCol('searchUndafDesarrolloYPaz',project.searchundaf_desarrollo_paz)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span ng-if="!item.code" md-highlight-text="searchText">{{item.name_tag}} </span>
												<span ng-if="item.code" md-highlight-text="searchText"> {{item.code}} {{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span ng-if="$chip.code" title="{{$chip.code}} {{$chip.name_tag}}">
												{{$chip.code}}	{{$chip.name_tag}}
												</span>

												<span ng-if="!$chip.code" title="{{$chip.name_tag}}">
												{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">
								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 Acuerdos de Paz

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.acuerdos_de_paz" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="Acuerdos de Paz" 
											md-on-add="project.addAcuerdosDePaz($chip)"   
											md-on-remove="project.removeAcuerdosDePaz($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchacuerdos_de_paz" 
												md-min-length="3"	
												md-items="item in ngmClusterHelperCol('searchAcuerdosDePaz',project.searchacuerdos_de_paz)"

												

												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span ng-if="!item.code" md-highlight-text="searchText">{{item.name_tag}} </span>
												<span ng-if="item.code" md-highlight-text="searchText"> {{item.code}} {{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span ng-if="$chip.code" title="{{$chip.code}} {{$chip.name_tag}}">
												{{$chip.code}}	{{$chip.name_tag}}
												</span>

												<span ng-if="!$chip.code" title="{{$chip.name_tag}}">
												{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<div class="row">

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">

								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									CAD - Comité de Ayuda al Desarrollo

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.dac_oecd_development_assistance_committee" 
											md-autocomplete-snap="width"											
											md-require-match="true" 
											input-aria-label="DAC - OECD Development Assistance Committee" 
											md-on-add="project.addDACOECDDevelopmentAssistanceCommittee($chip)"   
											md-on-remove="project.removeDACOECDDevelopmentAssistanceCommittee($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="project.searchdac_oecd_development_assistance_committee"
												md-min-length="3"
												md-items="item in ngmClusterHelperCol('searchDACOECDDevelopmentAssistanceCommittee',project.searchdac_oecd_development_assistance_committee)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span ng-if="!item.code" md-highlight-text="searchText">{{item.name_tag}} </span>
												<span ng-if="item.code" md-highlight-text="searchText"> {{item.code}} {{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span ng-if="$chip.code" title="{{$chip.code}} {{$chip.name_tag}}">
												{{$chip.code}}	{{$chip.name_tag}}
												</span>

												<span ng-if="!$chip.code" title="{{$chip.name_tag}}">
												{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>

					<div  class="col s12 m6 l6" >
						<div class="card">
							<ul class="collection with-header">

								<li class="collection-header blue lighten-1">
									<h6 class=" white-text">
									 ODS - Objetivos de Desarrollo Sostenible

									</h6>
								</li>

								<li class="collection-item avatar">
									<md-chips ng-model="project.definition.ods_objetivos_de_desarrollo_sostenible" 
											md-autocomplete-snap="width"											
											md-require-match="true" 

											input-aria-label="ODS - Objetivos de Desarrollo Sostenible" 
											md-on-add="project.addODSObjetivosDeDesarrolloSostenible($chip)"   
											md-on-remove="project.removeODSObjetivosDeDesarrolloSostenible($chip)">
											<md-autocomplete 
												md-selected-item="null" 	
												md-search-text="
												project.searchods_objetivos_de_desarrollo_sostenible" 	md-min-length="3"
												md-items="item in ngmClusterHelperCol('searchODSObjetivosDeDesarrolloSostenible',project.searchods_objetivos_de_desarrollo_sostenible)"
												md-item-text="item.name_tag" 
												input-aria-describedby="autocompleteTitle" 
												placeholder="{{'add_new_project_classification'|translate}}" 
												ng-disabled="project.definition.project_status === 'complete'">
												<span ng-if="!item.code" md-highlight-text="searchText">{{item.name_tag}} </span>
												<span ng-if="item.code" md-highlight-text="searchText"> {{item.code}} {{item.name_tag}} </span>
												<md-not-found>
													{{'cannot_add_not_ont_the_list'|translate}}
												</md-not-found>
											</md-autocomplete>
											<md-chip-template>
												<span ng-if="$chip.code" title="{{$chip.code}} {{$chip.name_tag}}">
												{{$chip.code}}	{{$chip.name_tag}}
												</span>

												<span ng-if="!$chip.code" title="{{$chip.name_tag}}">
												{{$chip.name_tag}}
												</span>
											</md-chip-template>
										</md-chips>
								
									
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				</li>

			</ul>
		</div>
	</div>
</div>
