<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		
		<!-- title -->
		<title id="title"></title>
		
		<!-- configured in webserver -->
		<base href="/desk/">
		<meta name="description" content="ReportHub, Dashboard, Reporting, Key Business Indicators">
		<meta name="viewport" content="width=device-width">

		<!-- favicon -->
		<link rel="icon" href="images/favicon.ico" sizes="32x32">
		<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

		<!-- vendor css -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel='stylesheet' href='bower_components/leaflet/dist/leaflet.css'>
		<link rel='stylesheet' href='bower_components/cal-heatmap/cal-heatmap.css'>
		<link rel='stylesheet' href='bower_components/leaflet.markercluster/dist/MarkerCluster.css'>
		<link rel='stylesheet' href='bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css'>
		<link rel='stylesheet' href='bower_components/materialize/bin/materialize.css'>
		<link rel='stylesheet' href='bower_components/ngm-leaflet-control-geocoder/Control.Geocoder.css'>
		<link rel='stylesheet' href='bower_components/ngm-leaflet-fullscreen/dist/leaflet.fullscreen.css'>
		<link rel='stylesheet' href='bower_components/dropzone/dist/min/dropzone.min.css'>
		<link rel='stylesheet' href='bower_components/ng-table/dist/ng-table.min.css'>
		<link rel='stylesheet' href='bower_components/angular-xeditable/dist/css/xeditable.min.css'>
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<!-- endbower -->
		<!-- endbuild -->


		<!-- ngm css -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/iconfont.css">
		<link rel="stylesheet" href="styles/main.css">	
		<link rel="stylesheet" href="styles/ngm-menu.css">
		<link rel="stylesheet" href="styles/ngm-form.css">
		<link rel="stylesheet" href="styles/ngm-dropzone.css">
		<!-- endbuild -->

	</head>
	<body ng-app="ngmReportHub" ng-controller="ngmReportHubCrtl" style="height:100%;">

		<!-- ie modal -->
		<div id="ngm-ie-modal" class="modal">
			<div class="modal-content">
	      <h4>{{'download_google_chrome' | translate}}</h4>
	      <p><img align="center" src="images/chrome.png" width="10%">{{'google_chrome_is_the_required_browser_for' | translate}} {{ngm.var4wplusrh}}!</p>
			</div>
	    <div class="modal-footer">
	      <a class="waves-effect waves-teal btn-flat" href="https://www.google.com/chrome">{{'download' | translate}}</a>
	    </div>
		</div>

		<!-- export loading modal -->
		<div id="ngm-loading-modal" class="modal">
			<div class="modal-content">
				<div align="center" ng-include src="'views/modals/loading.html'"></div>
			</div>
		</div>	

		<!-- contact modal -->
		<div id="ngm-contact-modal" class="modal" style="width: 900px;">
			<div align="center" ng-include src="'views/modals/contact.html'"></div>
		</div>

		<!-- session expire modal -->
		<div id="ngm-session-modal" class="modal">
			<div align="center" ng-include src="'views/modals/session.html'"></div>
		</div>	
		
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div id="splash-screen" ng-cloak>
			<div class="progress-bar-wrapper">
				<div class="progress-bar"></div>
			</div>
			<div class="center">
				<div class="logo">
					<img width="128" src="images/log-in.png">
				</div>
				<br/>
				<h4 style="font-weight: 300;color:#000">ReportHub</h4>
				<p style="font-weight: 500;color:#616161; font-size:1.2rem;">Decision Support in Real-Time</p>
			</div>
		</div>
		<header>

			<!-- side navigation -->
			<div class="ngm-menu z-depth-1 hide-on-med-and-down" ng-cloak>
				
				<!-- profile menu -->
				<!-- <div class="ngm-brand z-depth-1"> -->
				<div class="ngm-brand">
					<!-- <div style="background: {{ ngm.style.darkPrimaryColor }}; height:20px;"></div>
					<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:140px;"> -->
					
					<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:20px;"></div>
					<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:140px;">
		
						<!-- logo -->
						<!-- add logic here for homepage -->
						<!-- <div class="right">
							<a href="{{ ngm.style.home }}" title="HOME">
								<img class="ngm-logo" ng-src="images/{{ ngm.style.logo }}" height="97" align="right"></img>
							</a>
						</div> -->
						<div ng-class="{'right':ngm.openMinimize,'left':!ngm.openMinimize}">
							<a href="{{ ngm.style.home }}" title="HOME">
								<img class="ngm-logo" ng-src="images/{{ ngm.style.logo }}" height="97" align="right"></img>
							</a>
						</div>

						<!-- profile menu -->
						<!-- profile menu btn (implementing jQuery slideToggle() )-->
						<div class="ngm-profile-menu">
							<div class="ngm-profile-btn-rightoff fixed-action-btn" align="left" ng-class="{ 'hide-position': !ngm.openMinimize }">
							<!-- <div class="ngm-profile-btn fixed-action-btn" align="right"> -->
								<!-- <a class="btn-floating btn-large"
										ng-class="{ 'waves-effect waves-teal waves-teal-lighten-4' : ngm.getUserName() !== 'welcome' }"
										style="background: {{ ngm.style.defaultPrimaryColor }};">
									<i class="ngm-profile-icon material-icons right">menu</i>
								</a> -->
								<a class="btn-floating btn-large" ng-class="{ 'waves-effect waves-teal waves-teal-lighten-4' : ngm.getUserName() !== 'welcome' }"
								 style="background: {{ ngm.style.defaultPrimaryColor }};">
									<!-- <div id="xmenu" class="ngm-profile-icon">
										<span></span>
										<span></span>
										<span></span>
									</div> -->
									<i class="ngm-profile-icon material-icons smedium right" style="line-height: 56px">keyboard_arrow_down</i>
								</a>
							</div>
							<!-- FOR minimize -->
							<div class="ngm-minimize-flat fixed-action-btn " align="right" ng-class="{ 'change-position':ngm.openMinimize }">
								<a class="btn-floating btn-flat"
											style="background-color: {{ ngm.style.defaultPrimaryColor }}; line-height:56px;margin:10px;"
											ng-click="ngm.minimizeToggle()">
									<!-- <div id="xmenu" class="minimize-menu">
										<span></span>
										<span></span>
										<span></span>
									</div> -->
									<i class="minimize-menu material-icons right">menu</i>
								</a>
								<!-- <div class="textMenu"style="color: #fff !important;font-size: 12px;padding-right: 10px"> 
									{{ngm.openMinimize ? 'CLOSE':'MENU'}} 
								</div> -->
							</div>
							<!-- profile menu dropdown -->
							<!-- <a class="ngm-profile white-text right" -->
							<a class="ngm-profile white-text right"
								ng-onclick="ngm.setNavMenu()">
								{{ ngm.getUserName() }}
							</a>
							<!-- profile menu dropdown list -->
							<!-- <ul class="ngm-profile-menu-content dropdown-content z-depth-2">

									<li align="center" class="teal z-depth-2" 
											ng-init="open = false;ngm.setLanguage('col')"

											ng-show="ngm.getUsername() === 'welcome' || (ngm.translate_version )">
										<a class="white-text right" ng-click="open= !open;"> 
											<i class="material-icons smedium right">translate</i>{{'language'|translate}}</a>
										</a>										
									</li>
									<div ng-if="open" style="margin-bottom: 5px; background-color: #fff">
										<ul>
											<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-repeat="lang in ngm.getLanguage">
												<a class="" ng-click="ngm.changeFunction( lang.language_id );">{{ lang.language_name }}</a>
											
												<div style="position:absolute;top:9px;right: 20px" ng-click="ngm.changeFunction( lang.language_id );">
													<img style="width: 32px;height: 32px;" ng-src="images/{{lang.flag}}">
												</div>
											
											</li>
										</ul>
									</div> -->
									<!-- user login -->
									<!-- <li align="right" class="teal z-depth-2"
											ng-show="ngm.getUserName() === 'welcome' && ngm.style.home === '#/immap'">
										<a class="white-text right" href="#/immap/login" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">lock_outline</i>{{'login_mayus' | translate}}</a>
									</li> -->

									<!-- user login -->
									<!-- <li align="right" class="teal z-depth-2"
											ng-show="ngm.getUserName() === 'welcome' && ngm.style.home !== '#/immap'">
										<a class="white-text right" href="#/cluster/login" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">lock_outline</i>{{'login_mayus' | translate}}</a>
									</li> -->

									<!-- user logout -->
									<!-- <li class="teal z-depth-2"
											ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" ng-click="ngm.logout();">
										<i class="material-icons smedium right">lock_open</i>{{'logout_mayus' | translate}}</a>
									</li> -->

									<!-- home page -->
									<!-- <li align="center" class="teal z-depth-2" 
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/cluster/organization" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">home</i>{{'my_home' | translate}}</a>
									</li> -->

									<!-- iMMAP HOME -->
									<!-- <li align="center" class="teal z-depth-2"
										ng-show="ngm.getUserName() !== 'welcome' && ngm.getUser().organization === 'iMMAP'">
										<a class="white-text right" href="#/immap" 
												ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">important_devices</i>{{'immap_home' | translate}}</a>
									</li> -->

									<!-- ADMIN -->
									<!-- <li align="center" class="teal z-depth-2"
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/cluster/admin/{{ ngm.getUser().adminRpcode | lowercase }}/{{ ngm.getUser().admin0pcode | lowercase }}" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">move_to_inbox</i>{{'my_admin' | translate}}</a>
									</li> -->

									<!-- Dashboard -->
									<!-- <li align="center" class="teal z-depth-2">
										<a class="white-text right" href="#/cluster/5w" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>{{'5WDASHBOARD_mayus' |translate}}</a>
									</li> -->

									<!-- 4w Dashboard -->
									<!-- <li align="center" class="teal z-depth-2">
										<a class="white-text right" href="#/cluster/4wprojectplan" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>{{'4WDASHBOARD' | translate}}</a> 
									</li> -->

									<!-- TEAM -->
									<!-- <li align="center" class="teal z-depth-2"
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/team" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">group</i>{{'my_team' | translate}}</a>
									</li> -->

									<!-- PROFILE -->
									<!-- <li align="center" class="teal z-depth-2"
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/profile/{{ ngm.getUserName() }}" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">person_pin</i>{{'my_profile' | translate}}</a>
									</li> -->

									<!-- my projects -->
									<!-- <li  align="center" class="teal z-depth-2" 
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/cluster/projects/list" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">zoom_in</i>{{'my_projects' | translate}}</a>
									</li> -->

									<!-- my STOCKS -->
									

									<!-- PRODUCTS -->
									<!-- <li align="center" class="teal z-depth-2"
										ng-show="ngm.getUserName() !== 'welcome' && ngm.getUser().organization === 'iMMAP'">
										<a class="white-text right" href="#/immap/products" 
												ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">crop_original</i>{{'my_products' | translate}}</a>
									</li> -->

									<!-- assessments -->
									<!-- <li align="center" class="teal z-depth-2" 
										ng-show="ngm.getUserName() !== 'welcome' && 
															ngm.getUser().admin0pcode.toLowerCase() === 'et' &&
															ngm.getUser().organization.toLowerCase() === 'who'">
										<a class="white-text right" href="#/who/ethiopia" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">assignment_late</i>{{'assessments_mayus' | translate}}</a>
									</li>
									<li  align="center" class="teal z-depth-2" 
										ng-if="ngm.getUser().admin0pcode.toLowerCase() === 'af'"
										ng-show="ngm.getUser().cluster_id.toLowerCase() === 'nutrition'||
														 ngm.getUser().organization.toLowerCase() === 'usaid'">
										<a class="white-text right" href="#/nutrition/afghanistan/" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>{{'nutrition_weekly' | translate}}</a>
									</li> -->

									<!-- EPR -->
									<!-- <li  align="center" class="teal z-depth-2"
										ng-if="ngm.getUser().admin0pcode === 'AF'"
										ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
															ngm.getUser().organization.toLowerCase() === 'moph' ||
															ngm.getUser().organization.toLowerCase() === 'who' || 
															ngm.getUser().organization.toLowerCase() === 'dews'">
										<a class="white-text right" href="#/epr/admin" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">assignment_turned_in</i>EPR ADMIN</a>
									</li>
									<li  align="center" class="teal z-depth-2"
										ng-if="ngm.getUser().admin0pcode === 'AF'"
										ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
															ngm.getUser().organization.toLowerCase() === 'moph' || 
															ngm.getUser().organization.toLowerCase() === 'who' || 
															ngm.getUser().organization.toLowerCase() === 'dews'||
															ngm.getUser().organization.toLowerCase() === 'usaid'">
										<a class="white-text right" href="#/epr" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>EPR DASHBOARD</a>
									</li>
									<li  align="center" class="teal z-depth-2" 
										ng-if="ngm.getUser().admin0pcode === 'AF'"
										ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
															ngm.getUser().organization.toLowerCase() === 'who' || 
															ngm.getUser().organization.toLowerCase() === 'dews'">
										<a class="white-text right" href="#/who/" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>DEWS DASHBOARD</a>
									</li> -->
									<!-- DROUGHT -->
									<!-- <li align="center" class="teal z-depth-2"
									 			ng-if="ngm.getUser().admin0pcode.toLowerCase() === 'af'">
										<a class="white-text right" href="#/response/afghanistan/drought" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>{{'drought' | translate}} DASHBOARD</a>
									</li> -->


									<!-- contact modal -->
<!-- 									<li  align="center" class="teal z-depth-2">
										<a class="white-text right" href="#/cluster/guides" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">help_outline</i>USER GUIDES</a>
									</li> -->

									<!-- <li  align="center" class="teal z-depth-2" 
										ng-show="ngm.getUserName() !== 'welcome'">
										<a class="white-text right" href="#/cluster/stocks" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">assignment_turned_in</i>{{'my_stocks' | translate}}</a>
									</li>

									<li  align="center" class="teal z-depth-2" 
										ng-if="ngm.getUser().admin0pcode === 'AF'"
										ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || ngm.getUser().organization.toLowerCase() === 'who' || ngm.getUser().organization.toLowerCase() === 'dews'">
										<a class="white-text right" href="#/who/" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">bubble_chart</i>DEWS DASHBOARD</a>
									</li> -->

									<!-- contact modal -->
									<!-- <li align="center" class="teal z-depth-2">
										<a class="white-text right" ng-click="ngm.contact(); ngm.toggleNavigationMenu()">
										<i class="material-icons smedium right">perm_phone_msg</i>{{'contact_mayus' | translate}} {{ngm.var4wplusrh}}</span></a>
									</li>

									

									

									

							</ul> -->

							<ul class="ngm-profile-menu-content dropdown-content long z-depth-2">
								<!-- user login -->
								<li align="right" class="teal z-depth-2" ng-show="ngm.getUserName() === 'welcome' && ngm.style.home === '#/immap'">
									<a class="white-text right" href="#/immap/login" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">lock_outline</i>{{'login_mayus' | translate}}</a>
								</li>
								
								<!-- user login -->
								<li align="right" class="teal z-depth-2" ng-show="ngm.getUserName() === 'welcome' && ngm.style.home !== '#/immap'">
									<a class="white-text right" href="#/cluster/login" ng-click="ngm.toggleNavigationMenu();">
										<i class="material-icons smedium right">lock_outline</i>{{'login_mayus' | translate}}</a>
								</li>
								
								<!-- user logout -->
								<li class="teal z-depth-2" ng-show="ngm.getUserName() !== 'welcome'">
									<a class="white-text right" ng-click="ngm.logout();">
										<i class="material-icons smedium right">lock_open</i>{{'logout_mayus' | translate}}</a>
								</li>
								<!-- language -->
								<li align="center" class="teal z-depth-2" ng-init="open = false;ngm.setLanguage('col')" ng-show="ngm.getUsername() === 'welcome' || (ngm.translate_version )">
									<a class="white-text right" ng-click="open= !open;">
										<i class="material-icons smedium right">translate</i>
										<i class="material-icons small right icon-arrow" ng-class="{'rotate-icon':open === true}">keyboard_arrow_down</i>{{'language'|translate}}</a>
									</a>
								</li>
								<div ng-if="open" style="margin-bottom: 5px; background-color: #fff">
									<ul>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-repeat="lang in ngm.getLanguage">
											<a class="" ng-click="ngm.changeFunction( lang.language_id );">{{ lang.language_name }}</a>
							
											<div style="position:absolute;top:9px;right: 20px" ng-click="ngm.changeFunction( lang.language_id );">
												<img style="width: 32px;height: 32px;" ng-src="images/{{lang.flag}}">
											</div>
							
										</li>
									</ul>
								</div>								

								<!-- home page -->
								<li align="center" class="teal z-depth-2" ng-show="ngm.getUserName() !== 'welcome'" >
									<a class="white-text right" ng-click="ngm.openHome= !ngm.openHome;">
										<i class="material-icons smedium right">home</i>
										<i class="material-icons small right icon-arrow" ng-class="{'rotate-icon':ngm.openHome === true}">keyboard_arrow_down</i>{{'my_home' | translate}}</a>
									</a>
								</li>
								<div ng-if="ngm.openHome" style="margin-bottom: 5px; background-color: #fff">
									<ul>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/organization" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">home</i>{{'my_home' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/team" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">group</i>{{'my_team' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/profile/{{ ngm.getUserName() }}" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">person_pin</i>{{'my_profile' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/admin/{{ ngm.getUser().adminRpcode | lowercase }}/{{ ngm.getUser().admin0pcode | lowercase }}" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">move_to_inbox</i>{{'my_admin' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/projects/list" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">zoom_in</i>{{'my_projects' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/stocks" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">assignment_turned_in</i>{{'my_stocks' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-show="ngm.getUser().organization === 'iMMAP'">
											<a href="#/immap/products" ng-click="ngm.toggleNavigationMenu();ngm.openHome= !ngm.openHome;">
												<i class="material-icons small right">crop_original</i>{{'my_products' | translate}}</a>
										</li>
									</ul>
								</div>
														
								<!-- Dashboard -->
								<li align="center" class="teal z-depth-2">
									<a class="white-text right" ng-click="ngm.openDashboard= !ngm.openDashboard;">
										<i class="material-icons smedium right">bubble_chart</i>
										<i class="material-icons small right icon-arrow" ng-class="{'rotate-icon':ngm.openDashboard === true}">keyboard_arrow_down</i>DASHBOARD</a>
									</a>
								</li>
								<div ng-if="ngm.openDashboard" style="margin-bottom: 5px; background-color: #fff">
									<ul>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1"
											 ng-show="ngm.getUserName() !== 'welcome'">
											<a href="#/cluster/admin/{{ ngm.getUser().adminRpcode | lowercase }}/{{ ngm.getUser().admin0pcode | lowercase }}" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">move_to_inbox</i>PROJECTS ADMIN</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode === 'AF'" ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
																																			ngm.getUser().organization.toLowerCase() === 'moph' ||
																																			ngm.getUser().organization.toLowerCase() === 'who' || 
																																			ngm.getUser().organization.toLowerCase() === 'dews'">
											<a href="#/epr/admin" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">assignment_turned_in</i>EPR ADMIN</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode.toLowerCase() === 'af'"
										 ng-show="ngm.getUser().cluster_id.toLowerCase() === 'nutrition'|| ngm.getUser().organization.toLowerCase() === 'usaid'">
											<a href="#/nutrition/afghanistan/" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>{{'nutrition_weekly' | translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/4wprojectplan" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>{{'4WDASHBOARD' | translate}}</a>
										</li>

										<li style="position: relative;border-bottom: 1px solid #f1f1f1">
											<a href="#/cluster/dashboard4wplus" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>{{'activities_dashboard' | translate}}</a>
										</li>

										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode !== 'COL'">
											<a href="#/cluster/5w" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>{{'5WDASHBOARD_mayus' |translate}}</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode === 'AF'" ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
																																												ngm.getUser().organization.toLowerCase() === 'moph' || 
																																												ngm.getUser().organization.toLowerCase() === 'who' || 
																																												ngm.getUser().organization.toLowerCase() === 'dews'||
																																												ngm.getUser().organization.toLowerCase() === 'usaid'">
											<a href="#/epr" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>EPR DASHBOARD</a>
										</li>
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode === 'AF'" ng-show="ngm.getUser().organization.toLowerCase() === 'immap' || 
																																												ngm.getUser().organization.toLowerCase() === 'who' || 
																																												ngm.getUser().organization.toLowerCase() === 'dews'">
											<a href="#/who/" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>DEWS DASHBOARD</a>
										</li>
										<!-- DROUGHT -->
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-if="ngm.getUser().admin0pcode.toLowerCase() === 'af'">
											<a href="#/response/afghanistan/drought" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">bubble_chart</i>{{'drought' | translate}} DASHBOARD</a>
										</li>
							
										<li style="position: relative;border-bottom: 1px solid #f1f1f1" ng-show="ngm.getUserName() !== 'welcome' && 
																																			ngm.getUser().admin0pcode.toLowerCase() === 'et' &&
																																			ngm.getUser().organization.toLowerCase() === 'who'">
											<a href="#/who/ethiopia" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
												<i class="material-icons small right">assignment_late</i>{{'assessments_mayus' | translate}}</a>
										</li>
										<!-- iMMAP HOME -->
										<li style="position: relative;border-bottom: 1px solid #f1f1f1"
											ng-show="ngm.getUserName() !== 'welcome' && ngm.getUser().organization === 'iMMAP'">
											<a href="#/immap" ng-click="ngm.toggleNavigationMenu();ngm.openDashboard= !ngm.openDashboard;">
											<i class="material-icons small right">important_devices</i>{{'immap_home' | translate}}</a>
										</li>
							
									</ul>
								</div>
								<!-- contact modal -->
								<li align="center" class="teal z-depth-2">
									<a class="white-text right" ng-click="ngm.contact(); ngm.toggleNavigationMenu()">
										<i class="material-icons smedium right">perm_phone_msg</i>{{'contact_mayus' | translate}} {{ngm.var4wplusrh}}</span>
									</a>
								</li>
							
							
							
							
							
							
							
							</ul>
						</div>
					</div>
				</div>

		    <!-- navigation menu -->
		  	<ul class="ngm-navigation-menu collapsible popout"
		  		style="display: none;"
		  		data-collapsible="expandable"
		  		ng-show="ngm.dashboard.model.menu" ng-cloak>

			  	<li ng-show="ngm.dashboard.model.menu" id="li-{{ list.id }}" ng-repeat="list in ngm.dashboard.model.menu" ng-cloak ng-class="{'change-margin':!ngm.openMinimize}">
			  		<div id="{{ list.id }}" class="collapsible-header {{ list.class }}" ng-click="ngm.toggleSearch(list.id)" ng-cloak>
			  			<i class="material-icons" ng-cloak>{{ list.icon }}</i>{{ list.title }}
			  		</div>

			  		<!-- search list options (navClass toggles search) -->
			  		<nav id="nav-{{ list.id }}" class="ngm-search" ng-show="list.search" ng-cloak>
					    <div class="nav-wrapper white">
								<div class="input-field">
									<input id="search"
										type="search"
										class="ngm-form-search"
										ng-model="ngm.menu.query[list.id]">
									<label for="search"><i class="material-icons teal-text">search</i></label>
								</div>
							</div>
						</nav>

						<!-- list options -->
			  		<div class="collapsible-body">
				      <div class="collection" ng-repeat="row in list.rows | filter:ngm.menu.query[list.id] track by $index">
				      	
				      	<a ng-if="row.href" href="{{ row.href }}"
				      		id="{{ row.id }}"
				      		class="collection-item {{ row.class }}"
				      		ng-class="{ active: ngm.route.current.params['{{ row.param }}'] === '{{ row.active }}' }"
									ng-bind-html="row.title"
				      		ng-cloak></a>

				      	<a ng-if="!row.href"
				      		id="{{ row.id }}"
				      		class="collection-item {{ row.class }}"
				      		ng-class="{ active: ngm.route.current.params['{{ row.param }}'] === '{{ row.active }}' }"
				      		ng-bind-html="row.title"
				      		ng-cloak></a>

				      </div>
			  		</div>

			  	</li>
			  </ul>

			</div>

			<!-- make footer visible when menu visibile  -->
			<!-- <div class="ngm-menu-footer hide-on-med-and-down">
				<div style="background: {{ ngm.style.lightPrimaryColor }}; height:20px;"></div>
				<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:40px;"></div>
			</div> -->
			<div class="ngm-menu-footer-left hide-on-med-and-down">
				<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:20px;"></div>
				<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:40px;"></div>
			</div>

		</header>

		<main id="ngm-report" ng-class="{'minim':!ngm.openMinimize}">
			<div class="container">
				<div id="print" class="expand row row-centered"  style="height:100%">
					
					<div ng-view autoscroll="false"></div>
					
				</div>
			</div>
		</main>

		<!-- Google Analytics: UA-70463271-1 -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-70463271-1', 'auto');
		  ga('send', 'pageview');

		</script>

		<script>
			// open contact modal from footer
			function contact(){
				$('#ngm-contact-modal').openModal({dismissible: false});
			}
		</script>

		<!-- vendor -->
		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-filter-count-to/dist/angular-filter-count-to.min.js"></script>
		<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
		<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
		<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
		<script src="bower_components/d3/d3.js"></script>
		<script src="bower_components/cal-heatmap/cal-heatmap.js"></script>
		<script src="bower_components/highcharts/highcharts.js"></script>
		<script src="bower_components/highcharts/highcharts-more.js"></script>
		<script src="bower_components/highcharts/modules/exporting.js"></script>
		<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
		<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
		<script src="bower_components/materialize/bin/materialize.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/ngm-dashboard-framework/dist/ngm-dashboard-framework.js"></script>
		<script src="bower_components/ngm-leaflet-control-geocoder/Control.Geocoder.js"></script>
		<script src="bower_components/ngm-leaflet-fullscreen/dist/leaflet.fullscreen.min.js"></script>
		<script src="bower_components/dropzone/dist/min/dropzone.min.js"></script>
		<script src="bower_components/ngm-angular-dropzone/lib/angular-dropzone.js"></script>
		<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
		<script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
		<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
		<script src="bower_components/jquery-animatescroll/dist/animatescroll.js"></script>		
		<script src="bower_components/angular-translate/angular-translate.js"></script>
		<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script> 
		<!-- endbower -->
		<!-- endbuild -->

		<!-- ngmapp -->
		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<!-- lib extras -->
		<!-- app -->
		<script src="scripts/app/app.js"></script>
		<!-- services -->			
		<script src="scripts/app/services/ngmHelper.js"></script>
		<script src="scripts/app/services/ngmAuthentication.js"></script>
		<!-- controllers -->
		<script src="scripts/app/controllers/admin/controller.authentication.js"></script>		
		<script src="scripts/app/controllers/admin/controller.login.js"></script>
		<script src="scripts/app/controllers/admin/controller.register.js"></script>
		<script src="scripts/app/controllers/admin/controller.reset.js"></script>
		<script src="scripts/app/controllers/admin/controller.forbidden.js"></script>
		<script src="scripts/app/controllers/admin/controller.profile.js"></script>
		<script src="scripts/app/controllers/admin/controller.team.js"></script>
		<!-- help guide -->
		<script src="scripts/app/controllers/guides/controller.guide.menu.js"></script>
		<script src="scripts/app/controllers/guides/controller.guide.feedback.js"></script>
		<!-- ReportHub dashboard -->
		<script src="scripts/app/dashboards/dashboard.reporthub.js"></script>		
		
		
		<!-- MODULES -->
		
		<!-- CLUSTER -->
		<script src="scripts/modules/cluster/app.js"></script>
		<!-- APP HOME -->
		<script src="scripts/modules/cluster/reports/controllers/cluster.home.page.app.js"></script>
		
		<!-- REPORTING -->

		<!-- DIRECTIVES -->
		<script src="scripts/app/directives/materialize.select.js"></script>
		
		<!-- PROJECTS -->
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.projects.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.summary.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.details.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.financials.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.documents.js"></script>

		<!-- STOCKS -->
		<script src="scripts/modules/cluster/reports/controllers/cluster.stock.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.stocks.list.js"></script>

		<!-- MONTHLY -->
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.reports.list.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.reports.group.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.project.report.js"></script>		
		<script src="scripts/modules/cluster/reports/forms/cluster.project.form.details.js"></script>
		<script src="scripts/modules/cluster/reports/forms/cluster.project.form.financials.js"></script>
		<script src="scripts/modules/cluster/reports/forms/cluster.project.form.report.js"></script>

		<!-- SERVICES -->
		<script src="scripts/modules/cluster/reports/services/ngmClusterHelper.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterLists.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterBeneficiaries.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterLocations.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterValidation.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterDocument.js"></script>
		<script src="scripts/modules/cluster/reports/services/ngmClusterFinancial.js"></script>

		<!-- DETAILS -->
		<script src="scripts/modules/cluster/reports/services/activity-details/ngmClusterDetails.js"></script>
		
		<!-- AF -->
		<script src="scripts/modules/cluster/reports/services/AF/ngmClusterHelperAf.js"></script>
		<!-- CB -->
		<script src="scripts/modules/cluster/reports/services/CB/ngmCbLocations.js"></script>
		<script src="scripts/modules/cluster/reports/services/CB/ngmCbBeneficiaries.js"></script>
		<!-- COL -->
		<script src="scripts/modules/cluster/reports/services/COL/ngmClusterHelperCol.js"></script>
		<!-- ET -->
		<!-- <script src="scripts/modules/cluster/reports/services/ET/ngmEtClusterBeneficiaries.js"></script> -->

		<!-- NG -->
		<script src="scripts/modules/cluster/reports/services/NG/ngmClusterHelperNgWash.js"></script>
		<script src="scripts/modules/cluster/reports/services/NG/ngmClusterHelperNgWashKeys.js"></script>
		<script src="scripts/modules/cluster/reports/services/NG/ngmClusterHelperNgWashLists.js"></script>
		<script src="scripts/modules/cluster/reports/services/NG/ngmClusterHelperNgWashValidation.js"></script>
		
		<!-- STOCKS -->
		<script src="scripts/modules/cluster/reports/forms/cluster.organization.form.stock.js"></script>
		<script src="scripts/modules/cluster/reports/forms/cluster.organization.form.stocks.list.js"></script>

		<!-- CLUSTER DASHBOARDS -->
		<script src="scripts/modules/cluster/dashboards/dashboard.admin.js"></script>
		<script src="scripts/modules/cluster/dashboards/dashboard.cluster.js"></script>
		
		<!--new 4w projectplan-->
		<script src="scripts/modules/cluster/dashboards/dashboard.4wprojectplan.js"></script>

		<!-- new 4wplus dashboard -->
				<script src="scripts/modules/cluster/dashboards/dashboard.dashboard4wplus.js"></script>


		<script src="scripts/modules/cluster/dashboards/health/dashboard.hct.js"></script>
		<script src="scripts/modules/cluster/dashboards/health/dashboard.health.js"></script>
		<script src="scripts/modules/cluster/reports/controllers/cluster.syria.dashboard.js"></script>
		<!-- services -->
		<script src="scripts/modules/cluster/dashboards/services/ngmHctHelper.js"></script>


		<!-- SNAPSHOTS -->
		<script src="scripts/modules/snapshots/app.js"></script>
		<!-- who immap -->
		<script src="scripts/modules/snapshots/dashboards/who/dashboard.who.immap.js"></script>
		<!-- immap drr -->
		<script src="scripts/modules/snapshots/dashboards/drr/dashboard.drr.js"></script>
		<!-- who reporthub -->
		<script src="scripts/modules/snapshots/dashboards/reporthub/dashboard.reporthub.js"></script>
		<!-- who cdc -->
		<script src="scripts/modules/snapshots/dashboards/cdc/dashboard.2017.10.js"></script>
		<script src="scripts/modules/snapshots/dashboards/cdc/dashboard.2017.11.js"></script>
		<script src="scripts/modules/snapshots/dashboards/cdc/dashboard.2017.12.js"></script>
		<script src="scripts/modules/snapshots/dashboards/cdc/dashboard.2018.01.js"></script>


		<!-- COUNTRY -->

		<!-- BANGLADESH -->
		<script src="scripts/modules/country/bangladesh/cxb/gfd/app.js"></script>
		<!-- controllers -->
		<script src="scripts/modules/country/bangladesh/cxb/gfd/reports/controllers/bgd.cxb.gfd.reports.js"></script>
		<script src="scripts/modules/country/bangladesh/cxb/gfd/reports/controllers/bgd.cxb.gfd.reports.round.js"></script>
		<script src="scripts/modules/country/bangladesh/cxb/gfd/reports/controllers/bgd.cxb.gfd.reports.round.plan.js"></script>
		<script src="scripts/modules/country/bangladesh/cxb/gfd/reports/controllers/bgd.cxb.gfd.reports.round.daily.js"></script>
		<script src="scripts/modules/country/bangladesh/cxb/gfd/reports/controllers/bgd.cxb.gfd.reports.round.actual.js"></script>

		<!-- ETHIOPIA -->
		<script src="scripts/modules/country/ethiopia/app.js"></script>
		<script src="scripts/modules/country/ethiopia/assessments/ethiopia.assessments.js"></script>
		<!-- dashboards -->
		<script src="scripts/modules/country/ethiopia/dashboards/monitoring/dashboard.monitoring.js"></script>

		<!-- EPR -->
		<script src="scripts/modules/country/afghanistan/epr/app.js"></script>
		<script src="scripts/modules/country/afghanistan/epr/services/ngmEprHelper.js"></script>
		<script src="scripts/modules/country/afghanistan/epr/dashboards/dashboard.admin.js"></script>
		<script src="scripts/modules/country/afghanistan/epr/dashboards/dashboard.epr.js"></script>

		<!-- DEWS -->
		<script src="scripts/modules/country/afghanistan/dews/app.js"></script>
		<script src="scripts/modules/country/afghanistan/dews/upload/upload.dews.js"></script>
		<script src="scripts/modules/country/afghanistan/dews/dashboards/dashboard.dews.js"></script>
		
		<!-- DRR -->
		<script src="scripts/modules/country/afghanistan/drr/app.js"></script>
		<script src="scripts/modules/country/afghanistan/drr/dashboards/dashboard.baseline.js"></script>
		<script src="scripts/modules/country/afghanistan/drr/dashboards/dashboard.flood.risk.js"></script>
		<script src="scripts/modules/country/afghanistan/drr/dashboards/dashboard.flood.forecast.js"></script>
		
		<!-- WATCHKEEPER -->
		<script src="scripts/modules/immap/app.js"></script>
		<script src="scripts/modules/immap/controllers/immap.home.js"></script>
		<script src="scripts/modules/immap/controllers/immap.products.js"></script>
		<script src="scripts/modules/immap/controllers/immap.products.new.js"></script>
		<script src="scripts/modules/immap/dashboards/dashboard.watchkeeper.js"></script>
		
		<!-- NUTRITION -->
		<script src="scripts/modules/country/afghanistan/nutrition/app.js"></script>
		<script src="scripts/modules/country/afghanistan/nutrition/services/ngmNutritionHelper.js"></script>
		<script src="scripts/modules/country/afghanistan/nutrition/dashboards/dashboard.nutrition.weekly.js"></script>
		<script src="scripts/modules/country/afghanistan/nutrition/dashboards/dashboard.admin.nutrition.weekly.js"></script>
		<script src="scripts/modules/country/afghanistan/nutrition/assessments/nutrition.assessments.js"></script>
		<script src="scripts/modules/country/afghanistan/nutrition/assessments/nutrition.koboform.js"></script>

		<!-- DROUGHT -->
		<script src="scripts/modules/country/afghanistan/drought/app.js"></script>
		<script src="scripts/modules/country/afghanistan/drought/services/ngmDroughtHelper.js"></script>
		<script src="scripts/modules/country/afghanistan/drought/dashboards/dashboard.drought.admin.js"></script>
		<!-- <script src="scripts/modules/country/afghanistan/drought/dashboards/dashboard.admin.drought.weekly.js"></script> -->
		<script src="scripts/modules/country/afghanistan/drought/main/drought.main.js"></script>

		<!-- endbuild -->


		<!-- widgets -->
		<script src="scripts/widgets/ngm-calHeatmap/calHeatmap.js"></script>		
		<script src="scripts/widgets/ngm-dropzone/dropzone.js"></script>
		<script src="scripts/widgets/ngm-highchart/highchart.js"></script>		
		<script src="scripts/widgets/ngm-html/html.js"></script>
		<script src="scripts/widgets/ngm-leaflet/leaflet.js"></script>
		<script src="scripts/widgets/ngm-list/list.js"></script>
		<script src="scripts/widgets/ngm-modal/modal.js"></script>
		<script src="scripts/widgets/ngm-stats/stats.js"></script>
		<script src="scripts/widgets/ngm-table/table.js"></script>


	</body>
</html>
