<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ReportHub</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" href="bower_components/cal-heatmap/cal-heatmap.css" />
		<link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
		<link rel="stylesheet" href="bower_components/ngm-dashboard-framework/dist/ngm-dashboard-framework.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="icon" href="images/favicon.ico" sizes="32x32">
		<link rel="stylesheet" href="styles/Material+Icons.css">
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
	</head>
 	<body ng-app="ngmReportHub" ng-controller="ngmReportHubCrtl" style="height:100%">
		<!--[if lte IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<header>

			<div class="container">
				<a class="button-collapse top-nav waves-effect waves-teal circle hide-on-large-only"
						data-activates="nav-mobile" title="Menu">
					<i class="mdi-navigation-menu"></i>
				</a>
			</div>

			<!-- <a class='dropdown-button btn' href='#' data-activates='nav-mobile'>Drop Me!</a> -->

			<ul id="nav-mobile" class="side-nav fixed brand">
				<div style="background: {{ ngm.style.darkPrimaryColor }}; height:20px;"></div>
				<div style="background: {{ ngm.style.defaultPrimaryColor }}; height:140px;">
					<div>
						<a href="{{ ngm.style.home }}">
							<div align="right">
								<img ng-src="images/{{ ngm.style.logo }}" width="72px" style="padding-top:10px;">
							</div>
						</a>
					</div>
					<div>
						<div class="nav-user">
							<!-- <a class="btn-flat waves-effect waves-white dropdown-button"  -->
							<a class="btn-flat dropdown-button"
									style="text-align:right;text-transform:lowercase;"
									data-activates="user-profile-dropdown">
								<i class="material-icons right">account_circle</i>{{ ngm.getUserName() }}
							</a>
						</div>
						<ul id="user-profile-dropdown" class="dropdown-content" style="margin-top:64px;"ng-show="ngm.getUserName() !== 'welcome' ">
						  <li>
						  	<a ng-click="ngm.logout()">
						  	<i class="material-icons left">lock_open</i>Logout</a>
						  </li>
						</ul>
					</div>
				</div>
				
				<li class="search"
						ng-show="ngm.getUserName() !== 'welcome' "
						ng-if="ngm.menu.search" 
						ng-click="ngm.toggleSearch()">
	          		<div class="search-wrapper card z-depth-0" 
	          				ng-class="{'focused':ngm.menu.focused===true || ngm.menu.query }">
	            		<input id="search" 
		            		ng-model="ngm.menu.query" 
		            		ng-focus="ngm.menu.focused=true"  
		            		ng-blur="ngm.menu.focused=false">
	            		<i class="material-icons">search</i>
	            		<div class="search-results"></div>
	          		</div>
	         	</li>

	         </ul>

			<ul id="nav-mobile" style="padding-bottom:365px;" class="side-nav fixed menu" ng-show="ngm.getUserName() !== 'welcome' ">
		        <li class="no-padding">
		          <ul class="collapsible collapsible-accordion" ng-repeat="list in ngm.dashboard.menu">
		            <li class="bold" ngm-menu>
		            	<a class="{{ list.class }}" ng-cloak>{{ list.title }}</a>
		              <div class="collapsible-body" style="display: none">
		                <ul class="side-menu">
									<li class="{{ row.class  }}" 
										ng-repeat="row in list.rows | filter:ngm.menu.query track by $index" 
		                				ng-class="{ active: ngm.route.current.params['{{ row.param }}'] === '{{ row.active }}' }" ng-cloak>
		                		<a href="{{ row.href }}" ng-cloak>{{ row.title }}</a>
		                	</li>

		                </ul>
		            	</div>
		            </li>
		          </ul>
		        </li>

				<div class="footer menu z-depth-0">
					<div class="footer header" style="background: {{ ngm.style.lightPrimaryColor }};"></div>
					<div class="footer body" style="background: {{ ngm.style.defaultPrimaryColor }};"></div>
				</div>

		    </ul>

	  </header>

    <main>
		<div class="container">
		<div class="row row-centered"  style="height:100%">
			<div ng-view=""></div>
			</div>
		</div>
    </main>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		 <script>
			!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
			(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
			r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-filter-count-to/dist/angular-filter-count-to.min.js"></script>
		<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
		<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
		<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/d3/d3.js"></script>
		<script src="bower_components/cal-heatmap/cal-heatmap.js"></script>
		<script src="bower_components/highcharts/highcharts.js"></script>
		<script src="bower_components/highcharts/highcharts-more.js"></script>
		<script src="bower_components/highcharts/modules/exporting.js"></script>
		<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
		<script src="bower_components/html2canvas/build/html2canvas.js"></script>
		<script src="bower_components/materialize/bin/materialize.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/ngm-dashboard-framework/dist/ngm-dashboard-framework.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/config.js"></script>
		<!-- services -->			
		<script src="scripts/services/ngmAuthentication.js"></script>
		<!-- controllers -->
		<!--  -->
		<!-- dashboards -->
		<script src="scripts/dashboards/dashboard.login.js"></script>
		<script src="scripts/dashboards/dashboard.dews.js"></script>
		<script src="scripts/dashboards/dashboard.flood.risk.js"></script>
		<!-- widgets -->
		<script src="widgets/ngm-html/html.js"></script>
		<script src="widgets/ngm-stats/stats.js"></script>
		<script src="widgets/ngm-leaflet/leaflet.js"></script>
		<script src="widgets/ngm-highchart/highchart.js"></script>		
		<script src="widgets/ngm-calHeatmap/calHeatmap.js"></script>
		<!-- endbuild -->

	</body>
</html>
