
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688;
	}
	
</style>

<div class="row">
  <div class="col s12 m4">
    <a href="#/cluster">
     <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/country/afghanistan/assessments/nutrition_projects2.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Projects</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/cluster">View Projects</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m4">
     <!-- <a href="https://ee.humanitarianresponse.info/x/#YZoa" target="_blank">  -->
      <a href="#/nutrition/afghanistan/form/i/::YZoa" target="_blank">
 	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/afghanistan/assessments/nutrition_assessment.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">Nutrition Weekly Assessment</p>
      </div>
      <div class="card-action">
        <!-- <a class="left" href="https://ee.humanitarianresponse.info/x/#YZoa" target="_blank">Complete Survey</a> -->
        <a class="left" href="#/nutrition/afghanistan/form/i/::YZoa" target="_blank">Complete Survey</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
   <a href="#/nutrition/afghanistan/dashboard" target="_blank">   
   <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/afghanistan/assessments/nutrition_dashboard.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">Nutrition Dashboard</p>
      </div>
      <div class="card-action">
        <a class="left" href="#/nutrition/afghanistan/dashboard" target="_blank">Go To Nutrition Dashboard</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
   <a href="#/nutrition/afghanistan/admin" target="_blank">
   <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/afghanistan/assessments/nutrition_admin.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">Nutrition Admin Dashboard</p>
      </div>
      <div class="card-action">
        <a class="left" href="#/nutrition/afghanistan/admin" target="_blank">Go To Admin Dashboard</a>
      </div>
    </div>
  </div>
</div>
