
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
	  background-color: #009688;
	}
	
</style>

<div class="row">

  <!-- team -->
  <div class="col s12 m4">
    <a href="#/team">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/immap/team.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">{{ panel.user.organization }} Team</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/team">View Team</a>
        </div>
      </div>
     </a>
  </div>

  <div class="col s12 m4">
    <a href="#/cluster/projects">
     <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/cluster/projects-ET.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Projects</p>
        </div>
        <div class="card-action">
          <a class="left" href="#/cluster/projects">View Projects</a>
        </div>
      </div>
    </a>
  </div>

  <div class="col s12 m4">
    <a href="#/cluster/stocks">
      <div class="card small blue-grey darken-1 hoverable">
        <div class="card-image">
          <img src="images/cluster/stocks.jpg">
        </div>
        <div class="card-content white-text">
          <p class="card-title">Stocks</p>
        </div>
        <div class="card-action">
          <a href="#/cluster/stocks">Go to {{ panel.organization.organization }} Stocks</a>
        </div>
      </div>
     </a>
  </div>

</div>

<div class="row">  

  <div class="col s12 m4">
 	 <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/ethiopia/assessments/monitoring.jpg">
      </div>
      <div class="card-content white-text">
      	<p class="card-title">Monitoring Assessment</p>
      </div>
      <div class="card-action">
        <a class="left" href="https://ee.humanitarianresponse.info/x/#YyFp" target="_blank">Complete Survey</a>
        <a class="right" href="#/who/ethiopia/monitoring" target="_blank">View Dashboard</a>
      </div>
    </div>
  </div>

  <!-- 
  <div class="col s12 m4">
   <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/ethiopia/assessments/alert_investigation.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">Alert Investigation</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
   <div class="card small blue-grey darken-1 hoverable">
      <div class="card-image">
        <img src="images/country/ethiopia/assessments/wash_assessmennt.jpg">
      </div>
      <div class="card-content white-text">
        <p class="card-title">WASH Assessment</p>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
   -->
   
</div>
