
<!-- bind html -->
<div id="ngmForbiddenForm" class="row">
  
  <div class="col l4 m4 s12">
   
   <div class="ngm-login-title">
      
      <h3 style="font-weight:100;padding-left:20px;">Report Hub</h3>

      <div class="card">
          
        <form name="ngmForbiddenForm" class="col s12" style="padding:10px;" novalidate>
            
          <!-- msg -->
          <p ng-if="!panel.error.msg" style="font-weight:300;">
            This page is forbidden!
          </p>
          <a href="{{ panel.style.home }}">
            <button
              title="Return"
              style="width: 100%;color:#fff" 
              class="btn btn-large waves-effect waves-teal">
                  Return
            </button>
          </a>
        
        </form>

      </div>

    </div>

  </div>

  <div class="col l8 m8 hide-on-small-only"> 
    <div class="card center promo blue-grey darken-1" style="height: 456px; padding-top: 10%;">
      <img title="Log-in to ReportHub" src="images/password-reset.png" height="324px"/>
    </div>
  </div>

</div>

<div>
  <div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
  <div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
    <p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
  </div>
</div>
