
<!-- bind html -->
<div id="ngmResetPasswordPanel" class="row">
	
	<div class="col l4 m4 s12">
	 
	 <div class="ngm-login-title">
			
			<h3 style="font-weight:100;padding-left:20px;">Report Hub</h3>

			<div class="card">
		    	
	    	<form name="ngmResetPasswordForm" class="col s12" style="padding:20px;" novalidate>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">lock_outline</i>
		          <input id="ngm-password-new" type="password" class="validate"
								ng-model="panel.user.newPassword"
								required>
		          <label for="ngm-password-new">New Password</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">lock_outline</i>
		          <input id="ngm-password-confirm" type="password" class="validate"
		          	name="pwConfirm"
								ng-model="panel.user.confirmPassword"
								pw-check="ngm-password-new"
								required>
		          <label for="ngm-password-confirm">Confirm Password</label>
		        </div>
		      </div>

					<p ng-if="panel.error.msg"
						ng-bind-html="panel.error.msg"
						style="text-align:center; color: #ef5350;">
					<p>

					<p ng-if="ngmResetPasswordForm.pwConfirm.$error.pwmatch"
						style="text-align:center; color: #ef5350;">
						Passwords do not match!
					<p>					

					<button
						style="width: 100%;" 
						class="btn btn-large waves-effect waves-teal" 
						type="submit"
						ng-disabled="ngmResetPasswordForm.$invalid"
						ng-click="panel.passwordReset(ngmResetPasswordForm, panel.token)">
								Update Password
					</button>
		    
		  	</form>

			</div>

		</div>

	</div>

	<div class="col l8 m8 hide-on-small-only"> 
		<div class="card center promo blue-grey darken-1" style="height: 456px; padding-top: 10%;">
			<img title="Search for your account using your ReportHub email" src="images/password-reset.png" height="324px"/>
		</div>
	</div>

</div>

<div>
	<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
	<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
		<p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
	</div>
</div>
