<style>
   .icon {
	padding-top:10px;
}

.icon .card {
  width: 150px;
  height: 150px;
  padding: 0px 0px 30px 20px;
  border-radius: 50% !important;
  margin: 10px auto;
  background-color: #2196F3;
}
</style>
<!-- <div class="logo">
    
</div> -->
<div class="row">

        <div class="col s12 m12 l8 offset-l2">
            <div class="card" style="padding:10px !important; text-align: center;">
                <div class="icon center">
                    <div class="card">
                        <img title="Profile" src="images/404.gif" width="110%" style="margin-left:-20px;" />
                    </div>
                </div>
                <h5>
                    Your Account is  Not Activated yet!
                </h5>
                <p>
                    Please contact your organization admin
                </p>
            </div>
        </div>
</div>