
<style>

.dropdown-content {
	max-height: 320px;
}

.carousel {
	min-height: 640px;
}

.carousel .indicators .indicator-item {
	background-color: rgba( 187, 222, 251, 0.5 );
}

.carousel .indicators .indicator-item.active {
	background-color: #2196F3;
}

.icon {
	padding-top:10px;
}

.icon .card {
  width: 150px;
  height: 150px;
  padding: 30px 0px 0px;
  border-radius: 50% !important;
  margin: 10px auto;	
}

.title {
	margin:20px 0px 10px;
	font-weight:100;
}

form {
	padding: 0px 20% !important;
}

li {
	padding-bottom:10px;
}

.input-field .prefix {
	padding-top: 8px;
	color: #616161;
}

.helpers {
	font-size:1.3rem !important;
	margin-top:0px;
	padding-bottom:4px;
	cursor: pointer;
}

.action {
	padding-top: 20px;
}

</style>


  <div class="carousel carousel-slider">

    <!-- organization -->
    <div class="carousel-item" href="#one!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="Check your ReportHub email account" src="images/registration.png"/>
				</div>
				<h5 class="title">ORGANIZATION</h5>
			</div>

			<form name="ngmOrganizationForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix country">person_pin</i>
					    <select class="validate"
					    	id="ngm-country"
					    	ng-model="panel.user.admin0pcode"
					    	ng-select="panel.onOrganizationSelected()"
					    	required>
					      <option value="" disabled selected>Select Country</option>
					      <option value="AF">Afghanistan</option>
					      <option value="ET">Ethiopia</option>
					      <option value="IQ">Iraq</option>
					      <option value="KE">Kenya</option>
					      <option value="NG">Nigeria</option>
					      <option value="SO">Somalia</option>
					      <option value="UA">Ukraine</option>
					      <option value="UR">Uruk</option>
					    </select>
					    <label for="ngm-country">Country</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix cluster">donut_large</i>
					    <select class="validate"
					    	id="ngm-cluster"
					    	ng-model="panel.user.cluster_id"
					    	ng-select="panel.onOrganizationSelected()"
					    	required>
					      <option value="" disabled selected>Select Cluster</option>
								<option value="cvwg">Multi-Purpose Cash</option>
								<option value="agriculture">Agriculture</option>
								<option value="education">Education</option>
					      <option value="eiewg">EiEWG</option>
					      <option value="esnfi">ESNFI</option>
					      <option value="fsac">FSAC</option>
					      <option value="health">Health</option>
					      <option value="nutrition">Nutrition</option>
					      <option value="protection">Protection</option>
					      <option value="rnr_chapter">R&R Chapter</option>
					      <option value="wash">WASH</option>
					    </select>
					    <label for="ngm-cluster">Cluster</label>
	        </div>
	      </div>

				<!-- 
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">supervisor_account</i>
	          <input id="ngm-organization" type="text" class="validate"
							ng-model="panel.user.organization"
							required>
	          <label for="ngm-organization">Organization</label>
	        </div>
	      </div>
 				-->

				<typeahead 
					label="Organization"
					items="panel.organizations" 
					prompt="" 
					title="organization" 
					subtitle="organization_name" 
					model="panel.user.organization" on-select="panel.onOrganizationSelected()" />

 				<div class="action center">
					<button
						id="organization-next"
						class="btn btn-large waves-effect waves-teal" 
						ng-disabled="panel.organizationDisabled()">
							<i class="material-icons right">keyboard_arrow_right</i>
							Next
					</button>
				</div>

	    </form>

    </div>

    <!-- contact -->
    <div class="carousel-item" href="#two!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="Check your ReportHub email account" src="images/registration.png"/>
				</div>
				<h5 class="title">CONTACT</h5>
			</div>

			<form name="ngmContactForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">accessibility</i>
	          <input id="ngm-fullname" type="text" class="validate"
							ng-model="panel.user.name"
							required>
	          <label for="ngm-fullname">Full Name</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">personal_video</i>
	          <input id="ngm-position" type="text" class="validate"
							ng-model="panel.user.position"
							required>
	          <label for="ngm-position">Position</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">phone</i>
	          <input id="ngm-phone" type="tel" class="validate"
							ng-model="panel.user.phone"
							required>
	          <label for="ngm-phone">Phone</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">email</i>
	          <input id="ngm-email" type="email" class="validate"
							ng-model="panel.user.email"
							required>
	          <label for="ngm-email">Email</label>
	        </div>
	      </div>

				<div class="action center">
					<div
						id="contact-back"
						class="btn btn-large waves-effect waves-teal" >
							<i class="material-icons left">keyboard_arrow_left</i>
							Back
					</div>
					<button
						id="contact-next"
						class="btn btn-large waves-effect waves-teal"
						ng-disabled="ngmContactForm.$invalid">
							<i class="material-icons right">keyboard_arrow_right</i>
							Next
					</button>
				</div>

	    </form>

    </div>

    <!-- contact -->
    <div class="carousel-item" href="#two!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="Check your ReportHub email account" src="images/registration.png"/>
				</div>
				<h5 class="title">LOGIN DETAILS</h5>
			</div>

			<form name="ngmLoginForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">account_circle</i>
	          <input id="ngm-username" type="text" class="validate"
							autofocus=""
							ng-model="panel.user.username"
							required>
	          <label for="ngm-username">Username</label>
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">lock_outline</i>
	          <input id="ngm-password" type="password" class="validate"
							ng-model="panel.user.password"
							required>
	          <label for="ngm-password">Password</label>
	        </div>
	      </div>

				<div class="action center">
					<div
						id="login-back"
						class="btn btn-large waves-effect waves-teal">
							<i class="material-icons left">keyboard_arrow_left</i>
							Back
					</div>
					<button
						id="login-register"
						class="btn btn-large waves-effect waves-teal"
						ng-disabled="ngmLoginForm.$invalid"
						ng-click="panel.register()">
							<i class="material-icons right">keyboard_arrow_right</i>
							Register!
					</button>
				</div>

	    </form>

    </div>

  </div>

	<div>
		<!-- footer -->
		<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
		<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
			<p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
		</div>
	</div>

<script>

	// init carousel
	$( '.carousel.carousel-slider' ).carousel({ full_width: true });

	// init select
	$( 'select' ).material_select();

	// organization goto contact
	$( '#organization-next' ).click( function( e ){
		// set login page
		$( '.carousel' ).carousel( 'next' );
	});

	// contact go back
	$( '#contact-back' ).click( function( e ){
		$( '.carousel' ).carousel( 'prev' );
	});

	// contact goto login on enter
	$( '#contact-next' ).keydown( function( e ){
		if ( e.keyCode === 13 ) {
			$( '.carousel' ).carousel( 'next' );
		}
	});

	// contact goto login on click
	$( '#contact-next' ).click( function( e ){
		// set login page
		$( '.carousel' ).carousel( 'next' );
		// toast msg!
		setTimeout(function(){
			Materialize.toast( 'Almost Complete! Now set your LOGIN details', 3400, 'success' );
		}, 400)
	});

	// login go back
	$( '#login-back' ).click( function( e ){
		$( '.carousel' ).carousel( 'prev' );
	});

</script>
