
<style>

.dropdown-content {
	max-height: 320px;
}

.carousel {
	min-height: 640px;
}

.carousel .indicators .indicator-item {
	background-color: rgba( 187, 222, 251, 0.5 );
}

.carousel .indicators .indicator-item.active {
	background-color: #2196F3;
}

.icon {
	padding-top:10px;
}

.icon .card {
  width: 150px;
  height: 150px;
  padding: 30px 0px 0px;
  border-radius: 50% !important;
  margin: 10px auto;	
}

.title {
	margin:20px 0px 10px;
	font-weight:100;
}

form {
	padding: 0px 20% !important;
}

li {
	padding-bottom:10px;
}

.input-field .prefix {
	padding-top: 8px;
	color: #616161;
}

.helpers {
	font-size:1.3rem !important;
	margin-top:0px;
	padding-bottom:4px;
	cursor: pointer;
}

.action {
	padding-top: 20px;
}

</style>


  <div class="carousel carousel-slider">

    <!-- organization -->
    <div class="carousel-item" href="#one!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="ReportHub Registration" src="images/registration.png"/>
				</div>
				<h5 class="title">{{'organization_mayus' | translate}}</h5>
			</div>

			<form name="ngmOrganizationForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix country">person_pin</i>
	        	<select id="ngm-country" 
	        					ng-options="location.admin0pcode as location.admin0name for location in panel.adminRegion"
	        					ng-model="panel.user.admin0pcode">{{'select_country' | translate }}
	        					<option value="">{{'select_country' | translate}}</option>
	        					</select>
					    <label for="ngm-country">{{'country' | translate}}</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix cluster">donut_large</i>
					    <select class="validate"
					    	id="ngm-cluster"
					    	ng-model="panel.user.cluster_id"
					    	ng-select="panel.onOrganizationSelected()"
					    	required>
					      <option value="" disabled selected>{{'select_sector' | translate}}</option>
								<option value="cvwg">{{'multi_purpose_cash' | translate}}</option>
								<option value="agriculture">{{'agriculture' | translate}}</option>
								<option value="cccm_esnfi">CCCM - Shelter</option>
								<option value="education">{{'education' | translate}}</option>
					      <option value="eiewg">EiEWG</option>
					      <option value="esnfi">ESNFI</option>
					      <option value="fsac">FSAC</option>
					      <option value="health">{{'health' | translate}}</option>
					      <option value="nutrition">{{'nutrition' | translate}}</option>
					      <option value="protection">{{'protection' | translate}}</option>
					      <option value="rnr_chapter">R&R Chapter</option>
					      <option value="wash">{{'wash' | translate}}</option>
					    </select>
					    <label for="ngm-cluster">Sector</label>
	        </div>
	      </div>

				<!-- 
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">supervisor_account</i>
	          <input id="ngm-organization" type="text" class="validate"
							ng-model="panel.user.organization"
							required>
	          <label for="ngm-organization">Organization</label>
	        </div>
	      </div>
 				-->

				<typeahead
					label="{{'organization' | translate}} "
					items="panel.organizations" 
					prompt="" 
					title="organization" 
					subtitle="organization_name" 
					model="panel.user.organization" on-select="panel.onOrganizationSelected()">{{'select_organization' | translate}}</typeahead>

 				<div class="action center">
					<button
						id="organization-next"
						class="btn btn-large waves-effect waves-teal" 
						ng-disabled="panel.organizationDisabled()">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'next' | translate}}
					</button>
				</div>

	    </form>

    </div>

    <!-- contact -->
    <div class="carousel-item" href="#two!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="Contact Details" src="images/registration.png"/>
				</div>
				<h5 class="title">{{'contact_mayus' | translate}}</h5>
			</div>

			<form name="ngmContactForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">accessibility</i>
	          <input id="ngm-fullname" type="text" class="validate"
							ng-model="panel.user.name"
							required>
	          <label for="ngm-fullname">{{'full_name' | translate}}</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">personal_video</i>
	          <input id="ngm-position" type="text" class="validate"
							ng-model="panel.user.position"
							required>
	          <label for="ngm-position">{{'position' | translate}}</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">phone</i>
	          <input id="ngm-phone" type="tel" class="validate"
							ng-model="panel.user.phone"
							required>
	          <label for="ngm-phone">{{'phone' | translate}}</label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">email</i>
	          <input id="ngm-email" type="email" class="validate"
							ng-model="panel.user.email"
							required>
	          <label for="ngm-email">{{'email' | translate}}</label>
	        </div>
	      </div>

				<div class="action center">
					<div
						id="contact-back"
						class="btn btn-large waves-effect waves-teal" >
							<i class="material-icons left">keyboard_arrow_left</i>
							{{'back' | translate}}
					</div>
					<div
						id="contact-next"
						class="btn btn-large waves-effect waves-teal"
						ng-disabled="ngmContactForm.$invalid">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'next' | translate}}
					</div>
				</div>

	    </form>

    </div>

    <!-- contact -->
    <div class="carousel-item" href="#three!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="ReportHub Login Details" src="images/registration.png"/>
				</div>
				<h5 class="title">{{'login_details' | translate}}</h5>
			</div>

			<form name="ngmLoginForm" class="col s12" novalidate>

	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">account_circle</i>
	          <input id="ngm-username" type="text" class="validate"
							autofocus=""
							ng-model="panel.user.username"
							required>
	          <label for="ngm-username">{{'username' | translate}}</label>
	        </div>
	      </div>
	      
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">lock_outline</i>
	          <input id="ngm-password" type="password" class="validate"
							ng-model="panel.user.password"
							required>
	          <label for="ngm-password">{{'password' | translate}}</label>
	        </div>
	      </div>

				<div class="action center">
					<div
						id="login-back"
						class="btn btn-large waves-effect waves-teal">
							<i class="material-icons left">keyboard_arrow_left</i>
							{{'back' | translate}}
					</div>
					<div
						id="login-next"
						ng-show="panel.user.organization === 'iMMAP' && 
											( panel.user.admin0pcode === 'CD' || panel.user.admin0pcode === 'ET' )"
						class="btn btn-large waves-effect waves-teal"
						ng-disabled="ngmLoginForm.$invalid">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'next' | translate}}
					</div>
					<div
						id="login-register"
						ng-show="panel.user.organization !== 'iMMAP'"
						class="btn btn-large waves-effect waves-teal"
						ng-disabled="ngmLoginForm.$invalid"
						ng-click="panel.register()">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'register' | translate}}!
					</div>
					<div class="action center">
						<button
							type="submit"
								id="login-register"
								ng-show="panel.user.organization === 'iMMAP' && 
													( panel.user.admin0pcode !== 'CD' && panel.user.admin0pcode !== 'ET' )"
								class="btn btn-large waves-effect waves-teal"
								ng-disabled="ngmLoginForm.$invalid"
								ng-click="panel.register()">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'register' | translate}}!
						</button>
					</div>
				</div>

	    </form>

    </div>

    <!-- programme -->
    <div class="carousel-item" href="#four!">

			<div class="icon center">
				<!-- make it a circle -->
				<div class="card">
					<img title="iMMAP Programme" src="images/registration.png"/>
				</div>
				<h5 class="title">{{'immap_programme' | translate}}</h5>
			</div>

			<form name="ngmProgrammeForm" class="col s12" novalidate>

				<!-- programme -->
				<div class="row">
					<div class="input-field col s12">
	        	<i class="material-icons prefix cluster">recent_actors</i>
					    <select id="ngm-programme"
        					ng-options="list.programme_id as list.programme_name for list in panel.programme"
        					ng-model="panel.user.programme_id">{{'select_programme' | translate}}
        					<option value="" disabled selected>{{'select_programme' | translate}}</option>
        					</select>
					    <label for="ngm-programme">{{'programme' | translate}}</label>
	        </div>
	      </div>

				<!-- input-date directive -->
				<div class="row">
					<div class="input-field col s12">
								<i class="material-icons prefix">date_range</i>
								<input ngm-date
								    type="text"
								    name="created"
								    id="ngm-contract-start-date"
								    ng-model="panel.user.contract_start_date"
								    format="dd mmm, yyyy"
								    select-years="15"
								    max="{{ panel.user.contract_end_date }}"/>
								<label for="ngm-contract-start-date">{{'contract_start_date' | translate }}</label>
					</div>
				</div>

				<!-- input-date directive -->
				<div class="row">
					<div class="input-field col s12">
					  		<i class="material-icons prefix">date_range</i>
								<input ngm-date
								    type="text"
								    name="created"
								    id="ngm-contract-end-date"
								    ng-model="panel.user.contract_end_date"
								    format="dd mmm, yyyy"
								    select-years="15"
								    min="{{ panel.user.contract_start_date }}"/>
								<label for="ngm-contract-end-date">{{'contract_end_date' | translate}}</label>
					</div>
				</div>

				<!-- duty station -->
				<div class="row">
					<div class="input-field col s12">
	        	<i class="material-icons prefix cluster">person_pin</i>
					    <select id="ngm-duty-station"
        							ng-options="list.site_name as list.site_name for list in panel.dutyStations | filter: { admin0pcode: panel.user.admin0pcode } | orderBy:'site_name'"
        							ng-model="panel.user.site_name">{{'select_duty_station' | translate}}
        					<option value="" disabled selected>{{'select_station' | translate}}</option>
        					</select>
					    <label for="ngm-duty-station">{{'duty_station' | translate}}</label>
	        </div>
	      </div>

	      <!-- profile -->
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">assignment_ind</i>
	          <input id="ngm-profile"
	          				type="text"
	          				class="validate"
										ng-model="panel.user.profile">
	          <label for="ngm-profile">{{'profile' | translate}}</label>
	        </div>
	      </div>

	      <!-- software -->
	      <div class="row">
	        <div class="input-field col s12">
	        	<i class="material-icons prefix">important_devices</i>
	          <input id="ngm-software"
	          				type="text"
	          				class="validate"
										ng-model="panel.user.software">
	          <label for="ngm-software">Software</label>
	        </div>
	      </div>

				<div class="action center">
					<div
							id="programme-back"
							class="btn btn-large waves-effect waves-teal">
							<i class="material-icons left">keyboard_arrow_left</i>
							{{'back' | translate}}
					</div>
					<div
							id="programme-register"
							class="btn btn-large waves-effect waves-teal"
							ng-disabled="ngmProgrammeForm.$invalid"
							ng-click="panel.register()">
							<i class="material-icons right">keyboard_arrow_right</i>
							{{'register' | translate}}!
					</div>
				</div>

	    </form>

    </div>

  </div>

	<div>
		<!-- footer -->
		<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
		<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
			<p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
		</div>
	</div>

<script>

	// init
	setTimeout(function(){
		$( 'select' ).material_select();
		$( '.carousel.carousel-slider' ).carousel({ full_width: true });
	}, 100 );

	// organization goto contact details
	$( '#organization-next' ).click( function( e ){
		$( '.carousel' ).carousel( 'next' );
	});
	// organization on enter
	$( '#organization-next' ).keydown( function( e ){
		if ( e.keyCode === 13 ) {
			$( '.carousel' ).carousel( 'next' );
		}
	});
	// contact details go back
	$( '#contact-back' ).click( function( e ){
		$( '.carousel' ).carousel( 'prev' );
	});

	// contact goto login on click
	$( '#contact-next' ).click( function( e ){
		// set login page
		$( '.carousel' ).carousel( 'next' );
		setTimeout(function(){
			Materialize.toast( 'Almost Complete! Now set your LOGIN details', 3400, 'success' );
		}, 400);
	});
	// contact on enter
	$( '#contact-next' ).keydown( function( e ){
		if ( e.keyCode === 13 ) {
			$( '.carousel' ).carousel( 'next' );
		}
	});

	// login details go back
	$( '#login-back' ).click( function( e ){
		$( '.carousel' ).carousel( 'prev' );		
	});
	// login details go next (if iMMAP)
	$( '#login-next' ).click( function( e ){
		$( '.carousel' ).carousel( 'next' );
		$( '.carousel' ).css({ 'min-height': '840px' });
		setTimeout(function(){
			Materialize.toast( 'Last Item! Add iMMAP PROGRAMME details', 3400, 'success' );
		}, 400);
	});
	// login on enter
	$( '#login-next' ).keydown( function( e ){
		if ( e.keyCode === 13 ) {
			$( '.carousel' ).carousel( 'next' );
		}
	});

	// enter to register
	$( '#login-register' ).keydown( function( e ){
		if ( e.keyCode === 13 ) {
			$( '.carousel' ).carousel( 'next' );
		}
	});
	
	// iMMAP details go back to login
	$( '#programme-back' ).click( function( e ){
		$( '.carousel' ).carousel( 'prev' );
		$( '.carousel' ).css({ 'min-height': '640px' });
	});

</script>
