
<style>

.carousel {
	min-height: 540px;
}

.icon {
	padding-top:10px;
}

.icon .card {
  width: 150px;
  height: 150px;
  padding: 30px 0px 30px 20px;
  border-radius: 50% !important;
  margin: 10px auto;	
}

.title {
	margin:20px 0px 10px;
	font-weight:100;
}

form {
	padding: 0px 20% !important;
}

li {
	padding-bottom:10px;
}

.input-field .prefix {
	padding-top: 8px;
	color: #616161;
}

.helpers {
	font-size:1.3rem !important;
	margin-top:0px;
	padding-bottom:4px;
	cursor: pointer;
}

.action {
	padding-top: 20px;
}

</style>


  <div class="carousel carousel-slider">

  	<!-- reset password -->
    <div class="carousel-item" href="#one!">

    </div>

    <!-- reset password -->
    <div class="carousel-item" href="#two!">
				
				<div class="icon center">
					<!-- make it a circle -->
					<div class="card" style="padding:20px 0px;">
						<img title="Reset you ReportHub password" 
							src="images/password-reset.png"/>
					</div>
					<h5 class="title">RESET PASSWORD</h5>
				</div>

				<p ng-if="ngmResetPasswordForm.pwConfirm.$error.pwmatch"
					style="text-align:center; color: #ef5350;">
					Passwords do not match!
				<p>				

	    	<form name="ngmResetPasswordForm" class="col s12" novalidate>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">lock_outline</i>
		          <input id="ngm-password-new" type="password" class="validate"
								ng-model="panel.user.newPassword"
								required>
		          <label for="ngm-password-new">NEW PASSWORD</label>
		        </div>
		      </div>

		      <div class="row">
		        <div class="input-field col s12">
		        	<i class="material-icons prefix">lock_outline</i>
		          <input id="ngm-password-confirm" type="password" class="validate"
		          	name="pwConfirm"
								ng-model="panel.user.confirmPassword"
								pw-check="ngm-password-new"
								required>
		          <label for="ngm-password-confirm">CONFIRM PASSWORD</label>
		        </div>
		      </div>

					<div class="action center">
						<button
							class="btn btn-large waves-effect waves-teal" 
							type="submit"
							ng-disabled="ngmResetPasswordForm.$invalid"
							ng-click="panel.passwordReset( ngmResetPasswordForm, panel.token )">
								Update Password!
						</button>
					</div>
		    
		  	</form>

    </div>

  </div>

	<div>
		<!-- footer -->
		<div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
		<div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
			<p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
		</div>
	</div>

<script>

	// init
	$( '.carousel.carousel-slider' ).carousel({ full_width: true });

	// goTo login page
	$( '.carousel' ).carousel( 'next' );	

</script>
