
<script>
	
  // init selects
  setTimeout(function(){
		$( 'select' ).material_select();
  }, 0);

</script>

<!-- bind html -->
<div class="row">
	<div class="col s12">
		<div class="card">
			<ul class="collection with-header">
				
				<li class="collection-header teal lighten-4">
					<h5 class="report-work-title">
						<i class="material-icons left">attach_money</i>Project Budget Progress
					</h5>
				</li>

				<li class="collection-item avatar">
					
	      	<!-- budget input -->
					<div class="row" style="padding-top:10px;">

						<!-- project donor -->		        
		        <div class="input-field col s12 m2">
	      			<select id="ngm-project-donor" class="validate"
					    	ng-model="project.budget.project_donor_id"
					    	ng-disabled="project.definition.project_status === 'complete'"
					    	ng-change="project.setDonor()"
	      					ng-options="d.project_donor_id as d.project_donor_name for d in project.definition.project_donor">
	      				<option value="" disabled selected>Select Donor...</option>
	      			</select>
	      			<label for="ngm-project-donor">Project Donor *</label>
		        </div>

						<!-- project donor -->		        
		        <div class="input-field col s12 m3">
	      			<select id="ngm-project-donor" class="validate"
					    	ng-model="project.budget.activity_type_id"
					    	ng-disabled="project.definition.project_status === 'complete'"
					    	ng-change="project.setActivity()"
	      					ng-options="d.activity_type_id as d.activity_type_name for d in project.lists.activity_type">
	      				<option value="" disabled selected>Select Activity...</option>
	      			</select>
	      			<label for="ngm-project-donor">Project Activity *</label>
		        </div>

						<!-- project budget -->		        
		        <div class="input-field col s12 m2">
		          <input id="ngm-project-budget-currency_monthly" type="number" class="validate"
		          	ng-model="project.definition.project_budget"
		          	disabled>
		          <label for="ngm-project-budget-currency_monthly">Budget ( ${{ project.definition.project_budget_currency | uppercase }} )</label>
		        </div>	        

		        <!-- budget recieved -->
		        <div class="input-field col s12 m2">
		          <input id="ngm-project-budget_progress" type="number" class="validate" min="0"
		          	ng-model="project.budget.project_budget_amount_recieved"
		          	ng-disabled="project.definition.project_status === 'complete'">
		          <label for="ngm-project-budget_progress_usd" class="active">Recieved ( ${{ project.definition.project_budget_currency | uppercase }} ) *</label>
		        </div>

		        <!-- input-date directive -->
		        <div class="input-field col s12 m2">
							<label for="ngm-budget-recieved-date">Date Recieved *</label>
							<input ngm-date
							    type="text"
							    name="created"
							    id="ngm-budget-recieved-date"
							    ng-model="project.budget.project_budget_date_recieved"
							    format="dd mmm, yyyy"
							    select-years="15"
							    min="{{ project.datepicker.minDate }}"
							    max="{{ project.datepicker.maxDate }}"
							    on-close="project.datepicker.onClose()"/>
		        </div>		        

		        <!-- add circle -->
	      		<div class="col s12 m1" style="padding-top:15px;">
	      			<button class="waves-effect waves-light btn-floating teal right save" 
	      					title="Save Budget Item"
	      					ng-if="project.definition.project_status !== 'complete'"
	      					ng-click="project.saveBudgetLine()"
	      					ng-disabled="( !project.budget.project_donor_id ) || ( !project.budget.activity_type_id ) || ( project.budget.project_budget_amount_recieved < 1 ) || (project.budget.project_budget_amount_recieved > project.definition.project_budget ) ">
	      					<i class="material-icons">save</i>
	      			</button>
					  </div>

		      </div>

		      <!-- budget progress -->
		      <div class="row">
					 	<div class="col s12" ng-show="project.definition.project_budget_progress.length">
							<h5 class="report-selected-locations">{{ project.definition.project_budget_progress.length }} Budget Progress Updates</h5>
						</div>
					</div>

					<!-- single items -->
					<div class="row" style="padding-left:40px;"
								ng-repeat="budget in project.definition.project_budget_progress | orderBy:'-project_budget_date_recieved' track by $index">
						<div class="col s12 m11 left">
				    	<!-- health cluster -->
				    	<h5 class="report-budget-title">
									<i class="material-icons left" style="color: teal;">date_range</i>
									${{ budget.project_budget_amount_recieved | number }} {{ project.definition.project_budget_currency | uppercase }} of Budget Recieved on {{ budget.project_budget_date_recieved | date:'longDate' }} from {{ project.budget.project_donor_name }} for {{ budget.activity_type_name }}
							</h5>
						</div>
						<div class="col s12 m1 right" style="padding-top:15px;padding-right:12px;">
							<a class="waves-effect waves-light btn-floating red lighten-2 right"
					      	title="Remove budget item for {{ budget.project_budget_date_recieved | date:'longDate' }}"
					      	ng-if="project.definition.project_status !== 'complete'"
					      	ng-click="project.removeBudgetModal( $index )"><i class="material-icons">clear</i>
					     </a>
						</div>
					</div>

					<!-- totals -->
					<div class="row" style="padding-left:40px;">
						<div class="col s12 left" style="border-top: 1px solid #e0e0e0;" 
							ng-show="project.definition.project_budget_progress.length">
				    	<h5 class="report-budget-title">
									<i class="material-icons left" style="color: teal;">attach_money</i>
									${{ project.definition.project_budget_progress | sumByKey:'project_budget_amount_recieved' | number  }} {{ project.definition.project_budget_currency | uppercase }} Recieved of <span style="font-weight: 400">${{ project.definition.project_budget | number  }} {{ project.definition.project_budget_currency | uppercase }}</span> Budget Total
							</h5>							
						</div>
					</div>

				</li>

			</ul>
		</div>
	</div>
</div>