<script>

  // init modals
  $( '.modal-trigger' ).leanModal();

</script>
<!--  -->
<div class="row">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">
			
			<!--  -->
			<button class="btn-flat waves-effect waves-teal" ng-click="project.cancel()">
				<i class="material-icons left">keyboard_return</i>Back to Project Summary
			</button>

			<span class="right" style="padding-top:8px;">Last Updated: {{ project.updatedAt }}</span>

		</div>
	</div>
</div>

<!-- Project form -->
<form name="clusterReportsForm" class="col s12 m12 l12" style="padding:0px;" novalidate>
		
	<!-- disabled -->
	<fieldset ng-disabled="
		project.definition.organization !== project.user.organization && project.user.roles.indexOf('ADMIN') === -1
	">
					
		<!-- Project budget details -->
		<div class="slide-animate" ng-include="project.budgetUrl"></div>
		
	</fieldset>

</form>

