<style>
.dropzone {
	border: 2px dashed #26a69a;
}
.collection .collection-item.avatar {
	min-height: 0;
}
.modal {
  width: auto !important;
  right: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.border-radius{
	border-radius: 6px;
	border: 1px solid #dadce0;
	box-shadow: none;
}
/* for upload */
.secondary-content .btn-floating {
	width: 30px;
  height: 30px;
  line-height: 30px;
}

.secondary-content .btn-floating i{
	  font-size: 20px;
    line-height: 30px;
}
.remove-upload.btn-floating{
	position: absolute;
	top: -14px;
	right:-12px;
	z-index: 20;
	width: 30px;
  height: 30px;
  line-height: 30px;
	cursor: pointer !important;
}
.remove-upload.btn-floating i{
	  font-size: 20px;
    line-height: 30px;
}
.dropzone .dz-preview .dz-details{
	padding: 3em 1em;
	color:#000000;
	background: rgba(255,255,255, 0.2) !important;
}
.percent-upload{
	display: none;
}
</style>
<div id="exceed-file" class="modal">
	<div class="modal-content">
		<div class="center">
			<i class="medium material-icons" style="color:#009688">error_outline</i>
		</div>	
		
		<h5 style="font-weight:300;"> Exceed file upload, Please remove one of your file</h5>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>

</div>
<div id="too-large-file" class="modal">
	<div class="modal-content">
		<div class="center">
			<i class="medium material-icons" style="color:#009688">error_outline</i>
		</div>

		<h5 style="font-weight:300;"> File too large, Please remove the file</h5>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>

</div>
<div id="not-support-file" class="modal">
	<div class="modal-content">
		<div class="center">
			<i class="medium material-icons" style="color:#009688">error_outline</i>
		</div>

		<h5 style="font-weight:300;"> Not supported file type !</h5>
	</div>
	<div class="modal-footer">
		<a class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>

</div>
<div class="card-panel stats-card white grey-text text-darken-2">
	<div id="dropzone">
		<form ng-dropzone 
				dropzone="dropzone" 
				dropzone-config="dropzoneConfig"
				enctype="multipart/form-data"
				class="dropzone needsclick dz-clickable">
			<div class="fallback">
				<input name="file" type="file" multiple />
			</div>
			<div id="dropzone-message" class="center"></div>
			<div class="percent-upload">
				<div class=" percentage center" style="font-weight: 400;font-size: 48px; margin-top:30px;">				
				</div>
				<div class="dz-progress progress">
					<div class="indeterminate dz-upload" data-dz-uploadprogress>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="center" style="margin-top: 10px">
		<button id="upload_doc" class="btn">Submit</button>
		<div id="delete_doc" class="btn red">Cancel</div>
	</div>
</div>
<!-- List -->
