
<style>

.ngm-report-title {
  color: #2196F3;
}

</style>

<!-- bind html -->
<div class="row">

  <div class="col card s12" style="padding:20px;"> 
    <h5 class="ngm-report-title">{{'feature_request'|translate}}</h5>
    <div style="padding-left:10px;">
      <p style="padding-left:50px;"><b>{{'purpose'|translate}}:</b> {{'have_a_cool_idea_for_some_new_features?_send_the_details_to_the_reporthub_team_so_thy_can_improve_thy_system_for_you'|translate}}!</p>
      <p style="padding-left:10px;"><b><i class="material-icons left" style="color:teal;">send</i>{{'send_to'|translate}}:</b> ReportHub Team @ <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a></p>
      <p style="padding-left:50px;"><b>{{'subject'|translate}}:</b> {{'feature_request'|translate}}</p>
      <p style="padding-left:50px;"><b>{{'details'|translate}}:</b> {{'in_the_email_please_include_the_details_and_a_description_as_listed_below'|translate}};</p>
    </div>
    <div style="padding:0px 100px 0px 80px;">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="id">{{'field'|translate}}</th>
            <th data-field="name">{{'description'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{'name_mayus'|translate}}Name</td>
            <td>{{'the_name_of_the_new_feature_ie_new_dashboard_filter'|translate}}</td>
          </tr>
          <tr>
            <td>{{'purpose'|translate}}</td>
            <td>{{'the_purpose_of_the_new_feature_ie_to_filter_by_donor_organization'|translate}}</td>
          </tr>             
          <tr>
            <td>{{'description'|translate}}</td>
            <td>{{'a_description_of_the_new_feature_ie_have_a_filter_menu_on_the_dashboard'|translate}}</td>
          </tr>       
        </tbody>
      </table> 
    </div>   
  </div>

</div>

<div class="row">

  <div class="col card s12" style="padding:20px;"> 
    <h5 class="ngm-report-title">{{'bug_report'|translate}}</h5>
    <div style="padding-left:10px;">
      <p style="padding-left:50px;"><b>{{'purpose'|translate}}:</b> {{'found_an_error_or_something_is_not_working?_let_the_reporthub_team_know_so_they_can_help'|translate}}!</p>
      <p style="padding-left:10px;"><b><i class="material-icons left" style="color:teal;">send</i>{{'send_to'|translate}}:</b> ReportHub Team @ <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a></p>
      <p style="padding-left:50px;"><b>{{'subject'|translate}}:</b> {{'bug_report'|translate}}</p>
      <p style="padding-left:50px;"><b>{{'details'|transalte}}:</b> {{'in_the_email_please_include_the_details_and_a_description_as_listed_below'|translate}};</p>
    </div>
    <div style="padding:0px 100px 0px 80px;">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="id">{{'fiel'|translate}}</th>
            <th data-field="name">{{'description'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{'page'|translate}}</td>
            <td>{{'the_name_of_the_page_where_you_encountered_the_error_ie_new_project_page'|translate}}</td>
          </tr>
          <tr>
            <td>URL</td>
            <td>{{'the_url_of_the_page_where_you_encoureted_the_error'|translate}}</td>
          </tr>
          <tr>
            <td>{{'action'|translate}}</td>
            <td>{{'the_action_you_were_performing_at_the_time_ie_adding_a_new_beneficiary'|transalte</td>
          </tr>
          <tr>
            <td>Error</td>
            <td>{{'any_error_messages_that_the_reporthub_displayed'|translate}}</td>
          </tr>
          <tr>
            <td>{{'description'|translate}}</td>
            <td>{{'any_additional_description_of_the_error_that_will_prove_useful_ie_I_removed_a_location_and_then_added_a_new_location'|translate}}"</td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>

</div>