
<style>

  /* overflow for dropdown */
  .collection {
    overflow: visible !important;
  }

  /* input label */
  .input-field label,
  .input-field input:disabled + label {
    color: #26a69a;
  }
  /* valid input */
  .input-field input.valid {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;    
  }
  /* valid input on focus */
  .input-field input:focus.valid {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  /* invalid input on focus */
  .input-field input:focus.invalid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* border for disabled */
  .input-field input:disabled, .select-wrapper input.select-dropdown:disabled {
    color: #616161;
    box-shadow: none !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26) !important;
  }

  /* form validation on submit */
  .ng-submitted .input-field input[type='text'].ng-invalid + label,
    .ng-submitted .input-field input[type='number'].ng-invalid + label,
    .ng-submitted .input-field input[type='email'].ng-invalid + label,
    .ng-submitted .input-field input[type='password'].ng-invalid + label {
    color: #e57373;
    font-weight: 400;
  }

  /* manual class for label error */
  .input-field.error-label label {
    color: #e57373;
    font-weight: 400;   
  }


</style>

<!-- bind html -->
<div id="ngmAdminForm" class="row">
  
  <div class="col l4 m4 s12">
   
   <div class="ngm-login-title">
      
      <h3 style="font-weight:100;padding-left:20px;">User Guide</h3>

      <div class="card">
          
        <form name="ngmForbiddenForm" class="col s12" style="padding:10px;" novalidate>
            
          <!-- btn -->
          <!--
          <a href="/static/reportHub.pdf" title="ReportHub User Guide" target="_blank"
              style="width: 100%;color:#fff" 
              class="btn btn-large waves-effect waves-teal">
                  ReportHub User Guide
          </a>

          <br/>
          <br/>
          --> 
          <a href="#/cluster/guides/feedback">
            <button
              title="Return"
              style="width: 100%;color:#fff" 
              class="btn btn-large waves-effect waves-teal">
                  Feature Request / Bug Report
            </button>
          </a>
<!--
           <br/>

          <a href="#/cluster/guides/screens">
            <button
              title="Return"
              style="width: 100%;color:#fff" 
              class="btn btn-large waves-effect waves-teal">
                  Screencasts
            </button>
          </a> -->
        
        </form>

      </div>

    </div>

  </div>

  <div class="col l8 m8 hide-on-small-only"> 
    <div class="card center promo blue-grey darken-1" style="height: 456px; padding-top: 10%;">
      <img title="Log-in to ReportHub" src="images/password-reset.png" height="324px"/>
    </div>
  </div>

</div>

<div>
  <div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
  <div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
    <p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
  </div>
</div>
