
<!-- distribution -->
<div class="col s12 m4">
  <a href="#/bgd/cxb/gfa/gfd/round/{{ panel.data.report_round }}/distribution/{{ panel.data.report_distribution }}/{{ panel.data.reporting_period }}/plan/{{ panel.data.user.organization_tag }}/all/all/all/all">
   <div class="card medium blue-grey darken-1 hoverable">
    <div class="card-image" style="max-height:70%">
      <img src="images/country/bangladesh/planned.jpg">
    </div>
    <div class="card-content white-text">
      <p class="card-title">Planned Beneficiaries</p>
    </div>
    <div class="card-action">
      <a class="left" href="#/bgd/cxb/gfa/gfd">Go To Planned Beneficiaries</a>
    </div>
  </div>
  </a>
</div>

<div class="col s12 m4">
  <a href="#/bgd/cxb/gfa/gfd/round/{{ panel.data.report_round }}/distribution/{{ panel.data.report_distribution }}/{{ panel.data.reporting_period }}/daily/{{ panel.data.user.organization_tag }}/all/all/all/all/{{ panel.data.today }}/{{ panel.data.today }}">
   <div class="card medium blue-grey darken-1 hoverable">
    <div class="card-image" style="max-height:70%">
      <img src="images/country/bangladesh/daily.jpg">
    </div>
    <div class="card-content white-text">
      <p class="card-title">Daily Report</p>
    </div>
    <div class="card-action">
      <a class="left" href="#/bgd/cxb/gfa/gfd">Go To Daily Report</a>
    </div>
  </div>
  </a>
</div>

<div class="col s12 m4">
  <a href="#/bgd/cxb/gfa/gfd/round/all/distribution/{{ panel.data.report_distribution }}/{{ panel.data.reporting_period }}/actual/{{ panel.data.user.organization_tag }}/all/all/all/all/{{ panel.data.reporting_period }}/{{ panel.data.end_date }}">
   <div class="card medium blue-grey darken-1 hoverable">
    <div class="card-image" style="max-height:70%">
      <img src="images/country/bangladesh/actual.jpg">
    </div>
    <div class="card-content white-text">
      <p class="card-title">Actual Distribution Report</p>
    </div>
    <div class="card-action">
      <a class="left" href="#/bgd/cxb/gfa/gfd">Go To Actual Distribution Report</a>
    </div>
  </div>
  </a>
</div>
