<a class="btn-flat waves-effect waves-teal left " href="{{panel.orgHref}}">
    <i class="material-icons mirror left">keyboard_return</i>
    {{'back_to_organization'| translate}}
</a>
<a ng-if="!panel.forAF" class="waves-effect waves-light btn right hide-on-small-only " href="{{panel.newProject}}">
    <i class="material-icons left">add_circle_outline</i>
    {{'add_new_project' | translate}}
</a>
<a ng-if="panel.forAF" class="waves-effect waves-light btn right hide-on-small-only" href="{{panel.newProject}}">
    <i class="material-icons left">add_circle_outline</i>
    {{'add_new_plan' | translate}}
</a>
<a ng-if="!panel.forAF" class="waves-effect waves-light btn left show-on-small hide-on-med-and-up" href="{{panel.newProject}}">
    <i class="material-icons left">add_circle_outline</i>
    {{'add_new_project' | translate}}
</a>
<a ng-if="panel.forAF" class="waves-effect waves-light btn left show-on-small hide-on-med-and-up" href="{{panel.newProject}}">
    <i class="material-icons left">add_circle_outline</i>
    {{'add_new_plan' | translate}}
</a>