<!-- bind html -->

<span class="left" style="padding-left: 10px; padding-top:8px;">Last Updated: {{ panel.data.updatedAt }}</span>

<div class="right">
	<a class="waves-effect waves-light btn " href="{{panel.reset}}">
		<i class="material-icons left">cached</i>Reset Dashboard
	</a>
	<a class="waves-effect waves-light btn blue darken-1" ng-click="panel.getPreviousMonth()" title="GoTo Previous Month">
		<i class="material-icons left">skip_previous</i>Previous Month</a>
	<a class="waves-effect waves-light btn blue darken-1" href="{{panel.getCurrentMonth}}" style="padding-left:20px; margin-left: 0px"
	 title="GoTo Current Month">
		<i class="material-icons left">refresh</i>Current Reporting
	</a>
</div>