<style>

  /*
   stats card
  */
  .stats-card {
    display:block;
    position:relative;
    overflow:hidden;
  }
  .stats-card .count {
    position:relative;
    font-weight:100;
    font-size:2.6rem;
    line-height:2.6rem;
  }
  .stats-card .name{
  	padding-top: 10px;
    position:relative;
    font-weight:300;
    font-size:1.1rem;
    line-height:1.1rem;
  }

</style>

  <!-- display flood risk stats -->
	<span ng-if="panel.display === 'start'" class="count">{{ panel.data[0].start_date | date:'mediumDate' }}</span>
	<span ng-if="panel.display === 'end'" class="count">{{ panel.data[0].end_date | date:'mediumDate' }}</span>

	<div class="name grey-text text-darken-2">{{ panel.title }}</div>

