
<!-- bind html -->
<div class="row">
  <div class="ngm-login-title">
    <h3 style="font-weight:100;">Report Hub</h3>
  </div>
  <div class="col s12 m4 offset-m4">
    <div style="text-align:center;padding-bottom:30px;">
      <img title="forbidden" src="images/forbidden.png" width="30%"/>
    </div>
    <a href="{{ panel.style.home }}">
      <button
        title="Return"
        style="width: 100%;color:#fff" 
        class="btn btn-large waves-effect waves-teal">
            Return
      </button>
    </a>
  </div>
</div>
  <br/>
  <br/>
  <br/>
<div>
  <div style="background: {{ panel.style.lightPrimaryColor }}; height:20px;"></div>
  <div style="background: {{ panel.style.defaultPrimaryColor }}; height:60px;">
    <p class="ngm-menu-footer-body">Supported by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
  </div>
</div>
