<!-- button months -->
<div class="right hide-on-small-only ">
    <a class="waves-effect waves-light btn blue darken-1" ng-click="panel.getPreviousMonth()"
        title="{{'previous_month' | translate}}">
        <i class="material-icons mirror left">skip_previous</i>{{'previous_month' | translate}}</a>
    <a class="waves-effect waves-light btn blue darken-2" style="padding-left:20px;" ng-click="panel.getCurrentMonth()"
        title="GoTo Current Month">
        <i class="material-icons mirror left">refresh</i>{{'current_month' | translate}}</a>
</div>

<div class="show-on-small hide-on-med-and-up">
    <div class="waves-effect waves-light btn blue darken-1" style="width: 48%;" ng-click="panel.getPreviousMonth()"
        title="{{'previous_month' | translate}}">
        <i class="material-icons mirror left">skip_previous</i>{{'previous_month' | translate}}</div>
    <div class="waves-effect waves-light btn blue darken-2 " style="width: 48%;" ng-click="panel.getCurrentMonth()"
        title="GoTo Current Month">
        <i class="material-icons mirror left">refresh</i>{{'current_month' | translate}}</div>
</div>