
<style>

	.tabs .tab a {
		color: #2196f3;
	}

  .tabs .tab a:hover {
    color: #81d4fa;
  }

  .tabs .indicator {
    /* color */
    background-color: #4db6ac;
  }

</style>

<div class="slide-animate">

  <div id="ngm-tabs">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li ng-repeat="item in panel.tabs" class="tab col {{ item.col }}">
            <a class="{{ item.class }}" style="cursor: pointer;" ng-click="panel.toggleTab(item.href)">{{ item.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div> 

</div>



