<style>
	.nav-list-search {
		margin-top: 6px;
		background-color: white;
		width:72px;
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		-ms-transition: width 1s ease;
		transition: width 1s ease;    
	}
	.nav-list-search.focused{
		margin-top: 6px;
		width: 100%;
		-webkit-transition: width 1s ease;
		-moz-transition: width 1s ease;
		-o-transition: width 1s ease;
		-ms-transition: width 1s ease;
		transition: width 1s ease;
	}
	.rotate{
		transform:rotate(180deg);
		box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
		transition: .25s ease-in-out;
	}
	.rotate:hover{
		box-shadow:0 -5px 11px 0 rgba(0, 0, 0, 0.18), 0 -4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	.card-panel{
		margin-top:1.5rem;
	}
	.add-padding{
		padding-bottom:20px;
	}

</style>

<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul class="collection with-header">
				<li class="collection-header blue lighten-1" style="height:80px;">
					<h5 class="report-work-title white-text">
						<i class="material-icons left">person_pin</i>
							<span class="location-count">{{ project.definition.target_locations.length | number }}</span> {{'project_target_locations' | translate}}
					</h5>
				</li>

				<li class="collection-item avatar">

					<!-- heading -->
					<p id="ngm-target_locations" style="padding:10px;">
						{{'enter_the_target_locations_of_your_project_in_the_form_below' | translate}};
					</p>

					<!-- location_group -->
					<!-- <p ng-if="project.showLocationGroupingsOption()" style="padding-left:12px;cursor:pointer;"> -->
					<p ng-if="true" style="padding-left:12px;cursor:pointer;">	
							<!-- <input type="checkbox" class="filled-in" id="show_location_groupings"
											ng-checked="project.definition.location_groups_check"
											ng-click="project.showLocationGroupingsModal( $event )"/>
							<label style="color:#26a69a; font-weight:bold; font-size:1.2rem !important;" for="show_location_groupings">Group Target Locations by Union?</label> -->
							<label class="checkbox-label" for="show_location_groupings">
								<input type="checkbox" class="filled-in" id="show_location_groupings"
									ng-checked="project.definition.location_groups_check"
									ng-click="project.showLocationGroupingsModal( $event )"
									/>
								<span style="color:#757575">Group Target Locations by Union?</span>
							</label>
							<p ng-if="project.showLocationGroupingsOption()"
									style="padding-left:50px; font-size:1.1rem;">Recommended for Project Plans with over 30 Target Locations!</p>
					</p>

					<!-- for target_beneficiaries -->
					<div ng-repeat="location in project.definition.target_locations | orderBy:'createdAt' track by $index "  ng-class="{'add-padding': !detailLocation[$index]}">

						<!-- title -->
						<div style="position: absolute;">

							<!-- location -->
							<h5 class="report-beneficiary-title" ng-if="!location.admin1name">
								<i class="material-icons left">location_on</i>Location {{ $index+1 }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="location.admin1name && !location.admin2name">
								<i class="material-icons left">location_on</i>{{ location.admin1name }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="location.admin1name && location.admin2name && !location.admin3name">
								<i class="material-icons left">location_on</i>{{ location.admin1name }}, {{location.admin2name }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="location.admin1name && location.admin2name && location.admin3name && !location.admin4name">
								<i class="material-icons left">location_on</i>{{ location.admin1name }}, {{location.admin2name }}, {{location.admin3name }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="location.admin1name && location.admin2name && location.admin3name && location.admin4name && !location.admin5name">
								<i class="material-icons left">location_on</i>{{ location.admin1name }}, {{location.admin2name }}, {{location.admin3name }}, {{location.admin4name }}
							</h5>
							<h5 class="report-beneficiary-title" ng-if="location.admin1name && location.admin2name && location.admin3name && location.admin4name && location.admin5name">
								<i class="material-icons left">location_on</i>{{ location.admin1name }}, {{location.admin2name }}, {{location.admin3name }}, {{location.admin4name }}, {{location.admin5name }}
							</h5>

							<!-- location type, name -->
							<h5 class="report-beneficiary-second-title"
										ng-if="location.site_type_name && !location.site_name">
								{{ location.site_type_name }}
							</h5>
							<h5 class="report-beneficiary-second-title"
										ng-if="location.site_type_name && location.site_name">
								{{ location.site_type_name }}: {{ location.site_name }}
							</h5>
						</div>


						<!-- btns -->
						<div align="right" style="padding: 15px 10px;">
							<button class="btn-floating waves-effect waves-light"
												title="Save"
												ng-if="!project.newProject && detailLocation[$index]"
												ng-click="project.saveLocation()" 
												ng-disabled="
													( ( !project.project_details_valid() ) ||
													( !project.activity_type_valid() ) ||
													( !project.project_donor_valid() ) ||
													( !project.target_beneficiaries_valid() ) ||
													( !project.target_locations_valid() ) ||
													( !project.submit ) ||
													( project.definition.project_status === 'complete' ) )">
								<i class="material-icons">save</i>
							</button>
							<button class="btn-floating red lighten-2 waves-effect waves-light"
												title="Remove {{ location.site_name }}"
												ng-if="!project.newProject && location.id && detailLocation[$index]"
												ng-click="ngmClusterLocations.removeLocationModal( project, location.id )"
												ng-disabled="
													( ( !project.project_details_valid() ) ||
													( !project.activity_type_valid() ) ||
													( !project.project_donor_valid() ) ||
													( !project.target_beneficiaries_valid() ) ||
													( !project.target_locations_valid() ) ||
													( !project.submit ) ||
													( project.definition.project_status === 'complete' ) )">
								<i class="material-icons">delete</i>
							</button>
							<button class="btn-floating blue lighten-1 waves-effect waves-light"
												ng-if="(project.newProject || !location.id) && detailLocation[$index]"
												ng-click="project.cancelEdit( 'target_locations', $index )" 
												title="Cancel Edit">
								<i class="material-icons">clear</i>
							</button>
							<button
									class="btn-floating"
									ng-class="{'rotate': detailLocation[$index]}"  
									ng-click="project.openCloseDetailLocation($index)">
								<i class="material-icons">keyboard_arrow_down</i>
								<md-tooltip md-direction="right" ng-if="detailLocation[$index]">
									{{ 'Minimize'|translate }}
								</md-tooltip>
								<md-tooltip md-direction="right" ng-if="!detailLocation[$index]">
									{{ 'Click to Expand'|translate }}
								</md-tooltip>
							</button>
														
						</div>


						<!-- CARD PANEL -->
						<div id="tl-detail-{{ $index }}" class="card-panel"  ng-if="detailLocation[$index]">

							<!-- IF ADMIN1, ADMIN2 -->

							<!-- IF ADMIN1, ADMIN2, ADMIN3 -->

							<!-- IF ADMIN1, ADMIN2, ADMIN3, ADMIN4 -->

							<!-- IF ADMIN1, ADMIN2, ADMIN3, ADMIN4, ADMIN5 -->

							<!-- DEFAULT -->
							<div class="row" ng-if="true">

								<!-- site_type_id -->
								<div class="input-field col s12 m6">
									<select materialize-select id="ngm-site_type_id-{{ $index }}"
														name="site_type_id-{{ $index }}"
														class="validate"
														ng-model="location.site_type_id"
														ng-options="item.site_type_id as item.site_type_name for item in project.lists.site_type |
																				filter: { cluster_id: project.definition.cluster_id } : true"
														ng-change="ngmCbLocations.setLocationType( project, $index, location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-site_type_id-{{ $index }}" class="active" style="transform:translateY(-10%)">Location Type</label>
								</div>

								<!-- reporter -->
								<div class="input-field col s12 m6">
									<select materialize-select id="ngm-username-{{ $index }}"
														name="username-{{ $index }}"
														class="validate"
														ng-model="location.username"
														ng-options="item.username as item.username for item in project.lists.users"
														ng-change="ngmCbLocations.setReporter( project, $index, location )"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-username-{{ $index }}" class="active" style="transform:translateY(-10%)">Reporter</label>
								</div>

							</div>

							<!-- FOOD DISTRIBUTION -->
							<div class="row" ng-if="location.site_type_id && ngmCbLocations.form[ $index ][ 'food_distribution_point' ]">

								<!-- site_name -->
								<div class="input-field col s12">
									<select materialize-select id="ngm-site_id-{{ $index }}"
														name="ngm-site_id-{{ $index }}"
														class="validate"
														ng-model="location.site_id"
														ng-options="item.site_id as item.site_name for item in ngmCbLocations.adminSites_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.adminSites, 'site_id', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-site_id-{{ $index }}" class="active" style="transform:translateY(-10%)">Point Name</label>
								</div>

							</div>							

							<!-- ADMIN 1,2 -->
							<div class="row" ng-if="location.site_type_id && 
																				ngmCbLocations.form[ $index ][ 'admin1' ] &&
																				ngmCbLocations.form[ $index ][ 'admin2' ] &&
																				!ngmCbLocations.form[ $index ][ 'admin3' ]">

								<!-- admin1 -->
								<div class="input-field col s12 m6">
									<select materialize-select id="ngm-admin1-{{ $index }}"
														name="ngm-admin1-{{ $index }}"
														class="validate"
														ng-model="location.admin1pcode"
														ng-options="item.admin1pcode as item.admin1name for item in ngmCbLocations.admin1_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin1, 'admin1pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin1-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin1[0].admin1type_name }}</label>
								</div>

								<!-- admin2 -->
								<div class="input-field col s12 m6">
									<select materialize-select watch id="ngm-admin2-{{ $index }}"
														name="ngm-admin2-{{ $index }}"
														class="validate"
														ng-model="location.admin2pcode"
														ng-options="item.admin2pcode as item.admin2name for item in ngmCbLocations.admin2_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin2, 'admin2pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin2-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin2[0].admin2type_name }}</label>
								</div>

							</div>

							<!-- ADMIN 1, 2, 3 (text) -->
							<div class="row" ng-if="location.site_type_id && 
																				ngmCbLocations.form[ $index ][ 'admin1' ] &&
																				ngmCbLocations.form[ $index ][ 'admin2' ] &&
																				ngmCbLocations.form[ $index ][ 'admin3' ] &&
																				!ngmCbLocations.admin3_filter[ $index ].length">

								<!-- admin1 -->
								<div class="input-field col s12 m4">
									<select materialize-select id="ngm-admin1-{{ $index }}"
														name="ngm-admin1-{{ $index }}"
														class="validate"
														ng-model="location.admin1pcode"
														ng-options="item.admin1pcode as item.admin1name for item in ngmCbLocations.admin1_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin1, 'admin1pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin1-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin1[0].admin1type_name }}</label>
								</div>

								<!-- admin2 -->
								<div class="input-field col s12 m4">
									<select materialize-select watch id="ngm-admin2-{{ $index }}"
														name="ngm-admin2-{{ $index }}"
														class="validate"
														ng-model="location.admin2pcode"
														ng-options="item.admin2pcode as item.admin2name for item in ngmCbLocations.admin2_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin2, 'admin2pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin2-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin2[0].admin2type_name }}</label>
								</div>

								<!-- admin3 text -->
								<div class="input-field col s4">
									<input id="ngm-admin3-{{ $index }}" type="text" class="validate"
													ng-model="location.admin3name"
													ng-disabled="project.definition.project_status === 'complete'"
													required>
									<label for="ngm-admin3-{{ $index }}" class="active">{{ ngmCbLocations.form[ $index ].admin3type_name }}</label>
								</div>

							</div>

							<!-- ADMIN 1,2,3 (dropdown) -->
							<div class="row" ng-if="location.site_type_id && 
																				ngmCbLocations.form[ $index ][ 'admin1' ] &&
																				ngmCbLocations.form[ $index ][ 'admin2' ] &&
																				ngmCbLocations.form[ $index ][ 'admin3' ] &&
																				ngmCbLocations.admin3_filter[ $index ].length">

								<!-- admin1 -->
								<div class="input-field col s12 m4">
									<select materialize-select id="ngm-admin1-{{ $index }}"
														name="ngm-admin1-{{ $index }}"
														class="validate"
														ng-model="location.admin1pcode"
														ng-options="item.admin1pcode as item.admin1name for item in ngmCbLocations.admin1_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin1, 'admin1pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin1-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin1[0].admin1type_name }}</label>
								</div>

								<!-- admin2 -->
								<div class="input-field col s12 m4">
									<select materialize-select watch id="ngm-admin2-{{ $index }}"
														name="ngm-admin2-{{ $index }}"
														class="validate"
														ng-model="location.admin2pcode"
														ng-options="item.admin2pcode as item.admin2name for item in ngmCbLocations.admin2_filter[ $index ]"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin2, 'admin2pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin2-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ project.lists.admin2[0].admin2type_name }}</label>
								</div>

								<!-- admin3 -->
								<div class="input-field col s12 m4">
									<select materialize-select watch id="ngm-admin3-{{ $index }}"
														name="ngm-admin3-{{ $index }}"
														class="validate"
														ng-model="location.admin3pcode"
														ng-options="item.admin3pcode as item.admin3name for item in ngmCbLocations.admin3_filter[ $index ] | filter:{ admin3type_name: ngmCbLocations.form[ $index ].admin3type_name }"
														ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.admin3, 'admin3pcode', location );"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<option value="">{{ 'select' | translate }}</option>
									</select>
									<label for="ngm-admin3-{{ $index }}" class="active" style="transform:translateY(-10%)">{{ ngmCbLocations.form[ $index ].admin3type_name ? ngmCbLocations.form[ $index ].admin3type_name : location.admin3type_name }}</label>
								</div>

							</div>

							<!-- !food_distribution_point -->
							<div ng-if="!ngmCbLocations.form[ $index ][ 'food_distribution_point' ]">

								<!-- SITE NAME -->

								<!-- site name as text -->
								<div class="row" ng-if="!location.site_type_id || 
																	( !ngmCbLocations.adminSites_filter[ $index ].length || ngmCbLocations.form[ $index ][ 'site_name_text' ] )">

									<!-- site_name -->
									<div class="input-field col s12">
										<input id="ngm-site_name-{{ $index }}" type="text" class="validate"
														ng-model="location.site_name"
														ng-disabled="project.definition.project_status === 'complete'"
														required>
										<label for="ngm-site_name-{{ $index }}" class="active">Location Name</label>
									</div>
								</div>

								<!-- site name as dropdown -->
								<div class="row" ng-if="location.site_type_id && ngmCbLocations.adminSites_filter[ $index ].length">

									<!-- site_name -->
									<div class="input-field col s12">
										<select materialize-select id="ngm-site_id-{{ $index }}"
															name="ngm-site_id-{{ $index }}"
															class="validate"
															ng-model="location.site_id"
															ng-options="item.site_id as item.site_name for item in ngmCbLocations.adminSites_filter[ $index ]"
															ng-change="ngmCbLocations.updateLocation( project, $index, project.lists.adminSites, 'site_id', location );"
															ng-disabled="project.definition.project_status === 'complete'"
															required>
											<option value="">{{ 'select' | translate }}</option>
										</select>
										<label for="ngm-site_id-{{ $index }}" class="active" style="transform:translateY(-10%)">Location Name</label>
									</div>

								</div>

							</div>

							<!-- LNG, LAT -->

							<!-- site name as text -->
							<div class="row" ng-if="ngmCbLocations.form[ $index ][ 'site_lng' ] && ngmCbLocations.form[ $index ][ 'site_lat' ]">

								<!-- site_lng -->
								<div class="input-field col s6">
									<input id="ngm-site_lng-{{ $index }}" type="text"
													ng-model="location.site_lng"
													ng-disabled="project.definition.project_status === 'complete' || !location.site_name"
													required>
									<label for="ngm-site_lng-{{ $index }}" class="active">Site Longitude</label>
								</div>
								<!-- site_lat -->
								<div class="input-field col s6">
									<input id="ngm-site_lat-{{ $index }}" type="text"
													ng-model="location.site_lat"
													ng-disabled="project.definition.project_status === 'complete' || !location.site_name"
													required>
									<label for="ngm-site_lat-{{ $index }}" class="active">Site Latitude</label>
								</div>

							</div>
		
						</div>

					</div>

					<!-- buttons -->
					<div class="row">

						<!-- default -->
						<button class="btn"
											ng-if="project.definition.project_status !== 'complete' && project.canEdit"
											ng-click="project.addLocation();"
											style="margin:20px 10px;">
							<i class="material-icons left">add</i>{{'add_location'|translate}}
						</button>
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>
<script>
	setTimeout(function () {
		M.updateTextFields();
	}, 100)
</script>
