
<style>

	label {
		font-weight: 400;	
	}

	.checkbox-label {
		font-weight: 300;
	}

	.label {
	  left: 0.75rem;
	  color: #26a69a;
	  top: 0.8rem;
	}

	.activity-field {
	    position: relative;
	    margin-top: 1rem;
	}


</style>

<script>

  // init
  setTimeout( function(){
  	$( '#ngm-project-name' ).focus();
  	$( 'select' ).material_select();
  	$( 'textarea' ).height( $('textarea')[0].scrollHeight );
  }, 400 );

</script>

<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul id="project_details_form" class="collection with-header">
				
				<li class="collection-header blue lighten-4">
					<h5 class="report-work-title">
						<i class="material-icons left">border_color</i>{{'project_details' | translate }}
					</h5>
				</li>

				<li class="collection-item avatar">
					
					<!-- form -->

					<div class="row"> 

						<div class="card" style="padding:20px;">

							<!-- project details -->
							<div class="row">

								<div class="input-field col s12 m6">
								  <input id="ngm-project-name" type="text" class="validate"
												ng-model="project.definition.project_title"
												ng-disabled="project.definition.project_status === 'complete'"
												required>
								  <label for="ngm-project-name" class="error">{{'project_title' | translate}} *</label>
								</div>

								<!-- input-date directive -->
								<div class="input-field col s12 m3">
											<label for="ngm-start-date">{{'start_date' | translate}} *</label>
											<input ngm-date
											    type="text"
											    name="created"
											    id="ngm-start-date"
											    ng-model="project.definition.project_start_date"
											    format="dd mmm, yyyy"
											    select-years="15"
											    max="{{ project.definition.project_end_date }}"
											    on-close="project.datepicker.onClose()"
											    ng-disabled="project.definition.project_status === 'complete'"/>
								</div>

								<!-- input-date directive -->
								<div class="input-field col s12 m3">
								  <label for="ngm-end-date">{{'end_date' | translate}} *</label>
											<input ngm-date
											    type="text"
											    name="created"
											    id="ngm-end-date"
											    ng-model="project.definition.project_end_date"
											    format="dd mmm, yyyy"
											    select-years="15"
											    min="{{ project.definition.project_start_date }}"
											    on-close="project.datepicker.onClose()"
											    ng-disabled="project.definition.project_status === 'complete'"/>				          
								</div>

							</div>

							<!-- project budget -->
							<div class="row">

								<!-- org project code  -->
								<div class="input-field col s12 m6">
								  <input id="ngm-project_code" type="text" class="validate"
								  	ng-model="project.definition.project_code"
								  	ng-disabled="project.definition.project_status === 'complete'">
								  <label for="ngm-project_code">{{ project.definition.organization }} {{'project_code' | translate}}</label>
								</div>

								<div class="input-field col s12 m3">
								  <input id="ngm-project-budget" type="text" class="validate"
								  	ng-model="project.definition.project_budget"
								  	ng-disabled="project.definition.project_status === 'complete'"
								  	required>
								  <label for="ngm-project-budget">{{'project_budget' | translate}} ( {{ project.definition.project_budget_currency | uppercase }} ) *</label>
								</div>

								<div class="input-field col s12 m3"
									ng-class="{ 'error-label': healthProjectForm.$submitted && !project.definition.project_budget_currency }">
									    <select class="validate"
									    	id="ngm-project_budget_currency"
									    	ng-model="project.definition.project_budget_currency"
									    	ng-disabled="project.definition.project_status === 'complete'" 
												ng-options="currency.currency_id as currency.currency_name for currency in project.lists.currencies"
									    	required>
									      <option value="" disabled selected>{{'select_project_budget_currency' | translate}}</option>
									    </select>
									    <label for="ngm-project_budget_currency">{{'project_budget_currency' | translate}} *</label>
								</div>

							</div>

							<div class="row">

								<!-- switch -->
								<div class="switch input-field col s12 m6">
									<label>
										{{'non_hrp_project' | translate}}
										<input ng-click="project.setHrpStatus()" 
														ng-checked="project.definition.project_hrp_project" type="checkbox">
										<span class="lever"></span>
										{{'hrp_project' | translate}}
									</label>
								</div>
								
								<!-- HRP code -->
								<div class="input-field col s12 m6">
								  <input id="ngm-project_hrp_code" type="text" class="validate"
								  	ng-model="project.definition.project_hrp_code" disabled="true">
								  <label for="ngm-project-budget">{{'hrp_project_code' | translate}}</label>
								</div>

							</div>

							<div class="row" ng-if="project.definition.admin0pcode === 'AF'">

								<!-- budget currency -->
								<div class="input-field col s12 m12">
									<label>ACBAR {{'partner'|translate}}?</label>
									<div style="padding-bottom:35px;"></div>
							      <input type="checkbox" id="project_acbar_partner" 
							      ng-model="project.definition.project_acbar_partner"
							      ng-click="project.updateAcbarOrganization()"
							      ng-disabled="project.definition.project_status === 'complete'"/>
							      <label class="checkbox-label" for="project_acbar_partner">{{'yes' | translate}}</label>
								</div>

							</div>

							<!-- inter -->
							<div class="row" id="ngm-activity_type_label">

								<div class="activity-field col s12 m6" style="padding-top:12px;padding-bottom:5px;">
									
									<label class="label" for="ngm-activity_type">{{'activity_type' | translate}} *</label>
									<div style="padding-bottom:5px;"></div>

									<label class="label">{{ project.definition.cluster }}</label>

									<!-- for project cluster activity_type -->
									<p style="padding-left:10px;" ng-repeat="a in project.lists.activity_types | filter: { cluster_id: project.definition.cluster_id } ">
										<input type="checkbox" id="activity_{{ a.activity_type_id }}" 
										ng-model="project.definition.activity_type_check[ a.activity_type_id ]"
										ng-disabled="project.definition.project_status === 'complete'"
										ng-click="project.compileInterClusterActivities()"/>
										<label class="label checkbox-label" for="activity_{{ a.activity_type_id }}">{{ a.activity_type_name }}</label>
									</p>

									<!-- for each intercluster -->
									<div ng-repeat="cluster in project.definition.inter_cluster_activities">

										<div ng-show="project.definition.inter_cluster_check[ cluster.cluster_id ]">

											<div style="padding-top:20px;"></div>
											
											<label class="label">{{ cluster.cluster }}</label>
											<!-- for project cluster activity_type -->
											<p style="padding-left:10px;"  ng-repeat="a in project.lists.activity_types | filter: { cluster_id: cluster.cluster_id } ">
												<input type="checkbox" id="activity_{{ a.activity_type_id }}" 
												ng-model="project.definition.activity_type_check[ a.activity_type_id ]"
												ng-disabled="project.definition.project_status === 'complete'"
												ng-click="project.compileInterClusterActivities()"/>
												<label class="label checkbox-label" for="activity_{{ a.activity_type_id }}">{{ a.activity_type_name }}</label>
											</p>

										</div>

									</div>
								    
								</div>
								
								<div class="input-field col s12 m6" style="padding-bottom:5px;">
									
									<label>{{'other_activities_in_addition_to' | translate}} {{ project.definition.cluster }}?</label>
									<div style="padding-bottom:35px;"></div>

								    <p ng-repeat="a in project.lists.clusters | 
								    		filter: { cluster_id: '!' + project.definition.cluster_id }"
								    		ng-if="a.cluster_id !== 'acbar'">
								      <input type="checkbox" id="activity_{{ a.cluster_id }}" 
								      ng-model="project.definition.inter_cluster_check[ a.cluster_id ]"
								      ng-disabled="project.definition.project_status === 'complete'"
								      ng-click="project.compileInterClusterActivities()"/>
								      <label class="checkbox-label" for="activity_{{ a.cluster_id }}">{{ a.cluster }}</label>
								    </p>
								</div>

							</div>

							<!-- cash -->
							<div class="row" ng-if="project.definition.cluster_id === 'cvwg'">

								<div class="input-field col s12" style="padding-bottom:5px;">
									
									<label>{{'cash_intented_for_even_if_unrestricted' | translate}}?</label>
									<div style="padding-bottom:35px;"></div>

								    <p ng-repeat="a in project.lists.mpc_purpose">
								      <input type="checkbox" id="activity_{{ a.mpc_purpose_type_id }}" 
								      ng-model="project.definition.mpc_purpose_check[ a.mpc_purpose_type_id ]"
								      ng-disabled="project.definition.project_status === 'complete'"
								      ng-click="project.compileMpcPurpose()"/>
								      <label class="checkbox-label" for="activity_{{ a.mpc_purpose_type_id }}">{{ a.mpc_purpose_type_name }}</label>
								    </p>

								</div>

							</div>

							<div id="ngm-project_donor_label" class="row">

								<div class="input-field col s12" style="padding-bottom:5px;">
									<label for="ngm-project_donor">{{'project_donor' | translate}} *</label>
									<div style="padding-bottom:35px;"></div>

									<p ng-repeat="donor in project.lists.donors">
								      <input type="checkbox" id="donor_{{ donor.project_donor_id }}" 
									      ng-model="project.definition.project_donor_check[ donor.project_donor_id ]"
									      ng-disabled="project.definition.project_status === 'complete'"
									      ng-click="project.compileDonor()"/>
								      <label class="checkbox-label" for="donor_{{ donor.project_donor_id }}">{{ donor.project_donor_name }}</label>
									</p>
<!-- 								    <p>
								      <input type="checkbox" id="other" 
								      ng-model="project.definition.project_donor_check.other"
								      ng-disabled="project.definition.project_status === 'complete'"
								      ng-click="project.compileDonor()"/>
								      <label class="checkbox-label" for="other">Other</label>
								    </p> -->
								</div>

							</div>
							
							<!-- other partners -->
							<div class="row">

								<br/>	

						        <div class="input-field col s12" style="padding-left: 20px;"
						        		ng-show="project.definition.project_donor_check.other">
						          <input 
						          		id="ngm-project-project_donor_other" type="text"
										ng-model="project.definition.project_donor_other"
										ng-disabled="!project.definition.project_donor_check.other || project.definition.project_status === 'complete'">
						          <label for="ngm-project-project_donor_other"> {{'list_other_donors' | translate}}</label>
						       	</div>

						    </div>

							<!-- other partners -->
							<div class="row">
								
						        <div class="input-field col s12 m6" style="padding-bottom:35px;">
						        	<label>{{'project_partners' | translate}}</label>
						        	<br/>
						        	<p style="padding-top:10px;">
							        	<input type="checkbox" id="ngm-project-other_partbers"
							        		ng-model="project.definition.implementing_partners_checked"
							        		ng-disabled="project.definition.project_status === 'complete'"/>
							          <label class="checkbox-label" for="ngm-project-other_partbers">{{'other_implementing_partners' | translate}}?</label>
							        </p>
						        </div>

						        <div style="padding-top:25px;">
							        <div class="input-field col s12 m6"
							        		ng-class="{ 'has-error' : healthProjectForm.implementing_partners_list.$error.pattern }"
							        		ng-show="project.definition.implementing_partners_checked">
							          <input 
							          		id="ngm-project-implementing_partners" 
							          		type="text" 
							          		class="validate"
							          		name="implementing_partners_list"
														ng-model="project.definition.implementing_partners">
							          <label for="ngm-project-implementing_partners">{{'list_project_partners' | translate}}</label>
							        </div>
							    </div>

					     	</div>

					      	<!-- project description -->
							<div class="row">
						        <div class="input-field col s12 m12 l12">
						          <textarea id="ngm-project-description" type="text" 
						          				style="padding-left:10px;"
						          				class="validate materialize-textarea"
												ng-model="project.definition.project_description"
												ng-disabled="project.definition.project_status === 'complete'"
												required>
											</textarea>
						          <label for="ngm-project-description">{{'project_description_objetives' | translate}} *</label>
						        </div>
				      		</div>

			      		</div>

			      	</div>

				</li>

			</ul>

		</div>
	</div>
</div>
