
<!-- cancel modal -->
<div id="save-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">done</i>Save Project</h4>
    <!-- <p>'{{ project.definition.project_title }}' has been saved!</p> -->
    <p>Project has been saved!</p>
  </div>
  <div class="modal-footer">
    <a ng-click="project.redirect()" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<!-- list modal -->
<div id="list-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Cancel New Project</h4>
    <p>Are you sure you want to return to Projects?</p>
    <p>All edits will be lost...</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="project.cancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, abandon changes!</a>
  </div>
</div>

<!-- list modal -->
<div id="summary-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Cancel Project Update</h4>
    <p>Are you sure you want to return to Project Summary?</p>
    <p>All edits will be lost...</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="project.cancel()" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, abandon changes!</a>
  </div>
</div>

<div id="location-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Remove Project Location</h4>
    <p>Are you sure you want to remove this location from your project?</p>
    <p>This will effect any existing monthly beneficiary reports</p>
  </div>
  <div class="modal-footer">
  	<a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="project.removeLocation()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, remove location!</a>
  </div>
</div>

<!-- list/cancel btn -->
<div class="row" ng-if="project.definition.project_status === 'new'">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">
			
			<!--  -->
			<button class="waves-effect waves-light btn" ng-click="project.modalConfirm('list-modal')">
				<i class="material-icons left">keyboard_return</i>Back to Projects
			</button>

		</div>
	</div>
</div>

<div class="row" ng-if="project.definition.project_status !== 'new'">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">
			
			<!--  -->
			<button class="waves-effect waves-light btn-flat" ng-click="project.modalConfirm('summary-modal')">
				<i class="material-icons left">keyboard_return</i>Back to Project Summary
			</button>

			<span class="right" style="padding-top:8px;">Last Updated: {{ project.updatedAt }}</span>

		</div>
	</div>
</div>

<!-- Project form -->
<form name="clusterProjectForm" class="col s12 m12 l12" style="padding:0px;" novalidate>
		
	<!-- disabled -->
	<fieldset ng-disabled="
		project.definition.organization !== project.user.organization && project.user.roles.indexOf('ADMIN') === -1
	">

		<!-- Project details -->
		<div class="slide-animate" ng-include="project.templatesUrl + project.detailsUrl"></div>

		<!-- Project beneficiaries details -->
		<div class="slide-animate" ng-include="project.templatesUrl + project.targetBeneficiariesUrl"></div>	

		<!-- Project location details -->
		<div class="slide-animate" ng-include="project.templatesUrl + project.locationsUrl"></div>	

		<!-- form submission -->
		<div class="row remove" ng-if="project.definition.project_status !== 'complete'">
			<div class="col s12 m12 l12">
				<div class="widget card-panel white grey-text text-darken-2">	
					
					<!-- submission -->
					<div align="center">
						
						<button data-target="save-modal" class="waves-effect waves-light btn"
							ng-click="project.save()"
							ng-disabled="
									project.definition.project_status === 'new' && (
										( clusterProjectForm.$pristine ) ||
										( clusterProjectForm.$invalid ) || 
										( !project.activity_description_valid() ) ||
										( !project.project_donor_valid() ) ||
										( project.definition.target_beneficiaries.length === 0 ) ||
										( project.definition.target_locations.length === 0 ) || 
										( clusterProjectForm.$submitted && clusterProjectForm.$invalid ) ||
										( project.submit )
									) ||
									project.definition.project_status === 'active' && (
										( clusterProjectForm.$invalid ) || 
										( !project.activity_description_valid() ) ||
										( !project.project_donor_valid() ) ||
										( project.definition.target_beneficiaries.length === 0 ) ||
										( project.definition.target_locations.length === 0 ) ||
										( project.submit )
									)"
							ng-cloak><i class="material-icons right">send</i>Save</button>

						<!-- cancel new -->
						<button class="waves-effect waves-light btn grey" ng-click="project.modalConfirm('list-modal')"
							ng-if="project.definition.project_status === 'new' ">Cancel
						</button>

						<!-- cancel update -->
						<button class="waves-effect waves-light btn grey" ng-click="project.modalConfirm('summary-modal')"
							ng-if="project.definition.project_status === 'active' ">Cancel
						</button>

					</div>

				</div>
			</div>
		</div>
		
	</fieldset>

</form>
