
<style>
.collection.with-header .collection-item.avatar {
	padding-left: 42px;
}
.strategic_objective_title {
	font-size: 1.1rem !important;
	font-weight: 300;
	color: #26a69a;
}
</style>

<!-- bind html -->
<div class="row" ng-if="project.definition.cluster_id !== 'eiewg' && project.definition.cluster_id !== 'cvwg'">
	<!-- default SOs -->
	<div>
		<div class="col s12 m12 l12">
			<div class="card">
				<ul id="project_details_form" class="collection with-header">

					<li class="collection-header blue lighten-4">
						<h5 class="report-work-title">
							<i class="material-icons left">loupe</i>{{ project.definition.cluster | uppercase }} {{'objetives_mayus'|translate}}
						</h5>
					</li>

					<li class="collection-item avatar">

						<p style="padding:10px;">
							{{'select_the_objetives_that_your_project_will_target'|translate}};
						</p>

						<!-- form -->
						<div class="row">
							<div class="card" ng-repeat="year in project.getSOyears()">
								<ul class="collection with-header">
									<li class="collection-item avatar" ng-repeat="objective in project.lists.strategic_objectives[year][ project.definition.cluster_id ]">
								    <div class="strategic_objective_title" style="padding:5px 0px 10px 35px;">{{ year + " " + objective.objective_type_name }}</div>
								    <p align="justify" style="padding:5px 0px 10px 0px;">
								      <input type="checkbox" id="{{ objective.objective_type_id + ':' + objective.objective_year }}"
								      	ng-model="project.definition.strategic_objectives_check[ objective.objective_type_id + ':' + objective.objective_year ]"
								      	ng-disabled="project.definition.project_status === 'complete'||(objective.cluster_id==='cvwg'&&year===2017)"
								      	ng-click="project.setStrategicObjectives( objective.cluster_id )"/>
								      <label for="{{ objective.objective_type_id + ':' + objective.objective_year }}" style="color:#757575;">{{ objective.objective_type_description }}</label>
								    </p>
								    <p ng-if="objective.objective_type_objectives.length" align="justify" style="padding:5px 0px 10px 35px; font-weight:400;">
											{{'relates_to'|translate}} <span ng-repeat="so in objective.objective_type_objectives">{{ so }} </span>
								    </p>
									</li>
								</ul>
							</div>
						</div>

					</li>

				</ul>

			</div>
		</div>
	</div>

	<div ng-repeat="cluster in project.definition.inter_cluster_activities">
		<div class="col s12 m12 l12">
			<div class="card">
				<ul id="project_details_form" class="collection with-header">

					<li class="collection-header blue lighten-4">
						<h5 class="report-work-title">
							<i class="material-icons left">loupe</i>{{ cluster.cluster | uppercase }} {{'objetives_mayus'|translate}}
						</h5>
					</li>

					<li class="collection-item avatar">

						<div ng-if="cluster.cluster_id !== 'eiewg'">
							<p style="padding:10px;">
								{{'select_the_objetives_that_your_project_will_target'|translate}};
							</p>
						</div>

						<div ng-if="cluster.cluster_id === 'eiewg'">
							<div class="row">
								<div class="card" style="padding:20px;">
									<p style="padding:10px;">
										{{'there_are_no_strategic_objetives_for' |translate}} {{ cluster.cluster }}!
									</p>
								</div>
							</div>
						</div>

						<!-- form -->
						<div class="row" ng-if="cluster.cluster_id !== 'eiewg'">
							<div class="card" ng-repeat="year in project.getSOyears()">
								<ul class="collection with-header">
									<li class="collection-item avatar" ng-repeat="objective in project.lists.strategic_objectives[year][ cluster.cluster_id ]">
								    <div class="strategic_objective_title" style="padding:5px 0px 10px 35px;">{{ year + " " +  objective.objective_type_name }}</div>
								    <p align="justify" style="padding:5px 0px 10px 0px;">
								      <input type="checkbox" id="{{ objective.objective_type_id + ':' + objective.objective_year }}"
								      	ng-model="project.definition.strategic_objectives_check[ objective.objective_type_id + ':' + objective.objective_year ]"
								      	ng-disabled="project.definition.project_status === 'complete'||(objective.cluster_id==='cvwg'&&year==='2017')"
								      	ng-click="project.setStrategicObjectives( cluster.cluster_id )"/>
								      <label for="{{ objective.objective_type_id + ':' + objective.objective_year }}" style="color:#757575;">{{ objective.objective_type_description }}</label>
								    </p>
								    <p ng-if="objective.objective_type_objectives.length" align="justify" style="padding:5px 0px 10px 35px; font-weight:400;">
											{{'relates_to'|translate}} <span ng-repeat="so in objective.objective_type_objectives">{{ so }} </span>
								    </p>
									</li>
								</ul>
							</div>
						</div>

					</li>

				</ul>

			</div>
		</div>
	</div>

</div>
