<!--<script>

  // init modals
  $( '.modal-trigger' ).leanModal();

</script>-->


<div id="warehouses-modal" class="modal">
  <div class="modal-content dialog">
    <h4 class="header-modal red lighten-2"><i class="material-icons small left">info_outline</i>{{'remove_warehouse_location'|translate}}</h4>
    <p>{{'are_you_sure_you_want_to_remove_this_warehouse_from_your_organization'|translate}}?</p>
  </div>
  <div class="modal-footer">
	  <a ng-click="report.removeLocation()" class="modal-action modal-close waves-effect waves-green btn">{{'yes_remove_location'|translate}}!</a>
  	<a class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
  </div>
</div>

<div id="upload-file-warehouse" class="modal">
	<div class="modal-footer" style=" padding-top: 1px; padding-right: 1px; ">
		<a class=" modal-action waves-effect waves-green right close-button" style="margin-top:0px"
			ng-click="report.uploadFileReport.closeModal('upload-file-warehouse')">
			<i class="material-icons modal-action modal-close close-uplod-btn">clear</i></a>
	</div>
	<div class="modal-content">


		<div class="row" ng-if="!inputString">
			<div id="dropzone">
				<form ng-dropzone dropzone="dropzone" dropzone-config="report.uploadFileReport.uploadFileConfig"
					enctype="multipart/form-data" class="dropzone needsclick dz-clickable">
					<div class="fallback">
						<input name="file" type="file" multiple />
					</div>
					<div id="dropzone-message" class="center"></div>
					<div class="percent-upload">
						<div class=" percentage center" style="font-weight: 400;font-size: 48px; margin-top:30px;">
						</div>
						<div class="dz-progress progress">
							<div class="indeterminate dz-upload" data-dz-uploadprogress>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="center" style="margin-top: 10px">
				<button id="upload_file" class="btn">{{'submit'|translate}}</button>
				<div id="delete_file" class="btn red">{{'cancel_mayus'|translate}}</div>
				<button id="switch_btn_file" ng-click="report.switchInputFile()" class="btn blue"> Input data</button>
			</div>
		</div>
		<div class="row" ng-if="inputString">
			<div id='input-string-area' class="input-field col s12 m12 l12">
				<div class="percent-upload">
					<div class=" percentage center" style="font-weight: 400;font-size: 48px; margin-top:30px;">
					</div>
					<div class="dz-progress progress">
						<div class="indeterminate dz-upload" data-dz-uploadprogress>
						</div>
					</div>
				</div>
				<textarea id="ngm-input-string" type="text" class="validate materialize-textarea" name="input-string"
					ng-model="report.text_input" rows="2000" style="max-height:20rem !important;overflow-y: auto;">
												</textarea>
				<label for="ngm-input-string" style="margin-top: -15px;">Select table in Excel, copy to clipboard, and
					past it here</label>
			</div>
			<div class="center" style="margin-top: 10px">
				<button id="input_string" class="btn"
					ng-click="report.uploadFileReport.uploadText()">{{'submit'|translate}}</button>
				<div id="close_input_string" class="btn red modal-action modal-close">{{'cancel_mayus'|translate}}</div>
				<button id="switch_btn_text" ng-click="report.switchInputFile()" class="btn blue"> upload file</button>
			</div>
		</div>
	</div>
</div>

<div id="message-file-warehouse" class="modal">
	<div class="modal-footer" style=" padding-top: 1px; padding-right: 1px; ">
		<a class=" modal-action waves-effect waves-green right close-button" style="margin-top:0px">
			<i class="material-icons modal-action modal-close close-uplod-btn">clear</i></a>
	</div>
	<div class="modal-content" style="padding-top: 0px;">

		<div class="center">
			<i class="material-icons" style="color:#ff9800">error</i>
		</div>
		<div class="row">

			<textarea id="ngm-missing-value-stock" type="text" class="validate materialize-textarea"
				name="message-warning" ng-model="report.messageWarning" readonly
				style="border-bottom-width: 0px; text-align: left;font-size: 1rem !important;min-height: 10rem !important;overflow-y: auto;font-weight: 600;padding-left: 100px;">
			</textarea>
			<div class="center" style="margin-top: 10px">
				<button id="copy_content" class="btn" ng-click="ngmClusterImportFile.copyToClipBoard('ngm-missing-value-stock')"><i
						class="material-icons">content_copy</i></button>
			</div>
		</div>
	</div>
</div>
<!--  -->
<div class="row">
	<div class="col s12 m12 l12">
		<div style="padding:20px;">
			<!-- org href -->
			<span class="left show-on-small hide-on-med-and-up"
				style="padding-top:8px;padding-left: 17px;padding-bottom: 15px;">{{'last_updated'|translate}}: {{ report.updatedAt }}</span>
			<a class="btn-flat waves-effect waves-teal" href="{{ report.getOrganizationHref() }}">
				<i class="material-icons mirror left">keyboard_return</i>{{'back_to_organization'|translate}}
			</a>


			<span class="right hide-on-small-only" style="padding-top:8px;">{{'last_updated'|translate}}: {{ report.updatedAt }}</span>

		</div>
	</div>
</div>

<!-- Project form -->
<form name="clusterStockReportsForm" class="col s12 m12 l12" style="padding:0px;" novalidate>

	<!-- disabled -->
	<!-- <fieldset ng-disabled="!report.canEdit"> -->
	<div ng-disabled="!report.canEdit">
		<!-- Project budget details -->
		<div ng-include="report.warehouseUrl"></div>
	</div>
		
	<!-- </fieldset> -->

</form>

