
<style>

	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.pagination li.active {
	  background-color: #009688;
	}
	
</style>

<!-- complete modal -->
<div id="complete-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Mark Project as Complete</h4>
    <p>Are you sure you want to mark this project as 'Complete'?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markComplete({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, project complete!</a>
  </div>
</div>

<div id="active-modal" class="modal">
  <div class="modal-content">
    <h4 style="color: #2196F3; font-weight:100; padding-bottom: 10px;"><i class="material-icons left">info_outline</i>Mark Project as Active</h4>
    <p>Are you sure you want to move this project to 'Active'?</p>
  </div>
  <div class="modal-footer">
  	<a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    <a ng-click="panel.markActive({{ panel.project }})" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes, move project to active!</a>
  </div>
</div>

<!-- bind html -->
<div style="padding-top:20px;">
	<ul class="collection with-header z-depth-1">

		<!-- header -->
		<li class="collection-header blue lighten-4">
			<h5 class="report-work-title"><i class="material-icons left">assignment</i>Project Details</h5>
		</li>

		<!-- project details -->
		<!-- <li class="collection-item avatar" class="collection-item avatar" ng-show="panel.project.project_donor.indexOf('who') === -1"> -->
		<li class="collection-item avatar" class="collection-item avatar">
			
			<div class="row" ng-if="panel.project">

				<div class="col s12 m12 l4">
					<a href="#/health/projects/details/{{ panel.project.id }}" title="GoTo Project Details">
						<div class="card blue-grey darken-1 hoverable" style="height:200px;">
	            <div class="card-content white-text">
	              <span class="card-title">Project Details</span>
	              <p style="font-size: 1.1rem;">Add your project details from your project proposal</p>
	              <i class="material-icons large right">playlist_add</i>
	            </div>
						</div>
					</a>
				</div>

				<div class="col s12 m12 l4">
					<a href="#/health/projects/report/{{ panel.project.id }}" title="GoTo Monthly Reports">
						<div class="card teal lighten-4 hoverable" style="height:200px;">
	            <div class="card-content grey-text text-darken-2">
	              <span class="card-title">Monthly Reports</span>
	              <p style="font-size: 1.1rem;">Complete monthly reports to record beneficiaries reached</p>
	              <i class="material-icons large right">assignment_turned_in</i>
	            </div>
						</div>
					</a>
				</div>

				<div class="col s12 m12 l4">
					<a href="#/health/admin/{{ panel.user.adminRpcode | lowercase }}/{{ panel.user.admin0pcode | lowercase }}/{{ panel.user.organization_id }}/2016-01-01/{{ panel.report_date }}" title="GoTo Report Progress">
						<div class="card red lighten-2 hoverable" style="height:200px;">
	            <div class="card-content white-text">
	              <span class="card-title">Reporting Progress</span>
	              <p style="font-size: 1.1rem;">Review the progress of your organizations reporting</p>
	              <i class="material-icons large right">assignment_late</i>
	            </div>
						</div>
					</a>
				</div>

			</div>

		</li>

		<!-- financial tracking for WHO projects 
		<li class="collection-item avatar" class="collection-item avatar" ng-show="panel.project.project_donor.indexOf('who') !== -1">

			<div class="row" ng-if="panel.project">
				<div class="col s12 m4">
					<a href="#/health/projects/details/{{ panel.project.id }}" title="GoTo Project Details">
						<div class="card blue-grey darken-1 hoverable" style="height:200px;">
	            <div class="card-content white-text">
	              <span class="card-title">Project Details</span>
	              <p>Add your project details from your project proposal</p>
	              <i class="material-icons large right">playlist_add</i>
	            </div>
						</div>
					</a>
				</div>

				<div class="col s12 m4">
					<a href="#/health/projects/report/{{ panel.project.id }}" title="GoTo Monthly Report">
						<div class="card teal lighten-4 hoverable" style="height:200px;">
	            <div class="card-content grey-text text-darken-2">
	              <span class="card-title">Monthly Report</span>
	              <p>Complete monthly reports to record beneficiaries reached</p>
	              <i class="material-icons large right">assignment_turned_in</i>
	            </div>
						</div>
					</a>
				</div>

				<div class="col s12 m4">
					<a href="#/health/projects/financials/{{ panel.project.id }}" title="GoTo Project Financials">
						<div class="card light-blue lighten-4 hoverable" style="height:200px;">
	            <div class="card-content grey-text text-darken-2">
	              <span class="card-title">Financial Tracking</span>
	              <p>Track the project spending against financial line items</p>
	              <i class="material-icons large right">attach_money</i>
	            </div>						
						</div>
					</a>
				</div>

			</div>

		</li>

		-->

	</ul>

	<!-- form submission -->
	<div class="row" ng-if="panel.project.project_status === 'active'">
		<div class="col s12 m12 l12">
			<div class="widget card-panel white grey-text text-darken-2">
				
				<!-- submission -->
				<div align="center">

					<button data-target="complete-modal" class="waves-effect waves-light btn modal-trigger blue"
						ng-cloak><i class="material-icons left">assignment_turned_in</i>Mark Project as Complete</button>

				</div>

			</div>
		</div>
	</div>

	<div class="row" ng-if="panel.project.project_status === 'complete'">
		<div class="col s12 m12 l12">
			<div class="widget card-panel white grey-text text-darken-2">
				
				<!-- submission -->
				<div align="center">

					<button data-target="active-modal" class="waves-effect waves-light btn modal-trigger blue"
						ng-cloak><i class="material-icons left">assignment_turned_in</i>Mark Project as Active</button>

				</div>

			</div>
		</div>
	</div>	

</div>

<script type="text/javascript">
  // modals
  setTimeout(function(){
  	$('.modal-trigger').leanModal();
  }, 200);
</script>