
<div class="row">
  <div class="input-field col s12">
  	<i class="material-icons prefix organization_symbol">supervisor_account</i>
			<input id="dropdowninputid" type="text" ng-model="model" placeholder="{{ prompt }}" ng-keydown="selected=false"/><br/>
    <label for="dropdowninputid">{{ label }}</label>
  </div>
</div>

<div ng-hide="!model.length || selected">
	<ul id="dropdown" class="dropdown-content select-dropdown active"
			style="width: {{ dropdownwidth }}px; position: relative; top: -18px; left: 45px; opacity: 1; display: block;">
		<li ng-repeat="item in items | filter:model track by $index" ng-click="handleSelection(item[title])" style="cursor:pointer" 		ng-class="{ active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
			<span>{{ item[title] }}</span>
			<span>{{ item[subtitle] }}</span>
		</li>
	</ul>
</div>