 <div class="input-field col s12 m12" style="padding-bottom:10px;padding-left: 20px; padding-top:30px">
									<label for="ngm-project_donor">{{'project_donor' | translate}} *</label>
									<div class="padding-top-35"></div>
									<md-contact-chips class="ngm-project_donor_select"
									        ng-model="project.definition.project_donor"
									        ng-change="project.afterSelectItem(project.definition.project_donor)"
									        md-require-match="true"
									        md-contacts="project.searchDonor($query)"
									        md-contact-name="project_donor_name"
									        md-require-match="true"
									        placeholder="{{'type_donor_name'|translate}}"
									        secondary-placeholder="{{'add_another_donor'|translate}}"
									        input-aria-label="Intended Recipients">
									 </md-contact-chips>
</div>


<div class="input-field col s8"  ng-if="project.definition.project_donor.length>0" >

	 <div class="col s12">

			<label >{{'budget_by_donor'|translate}}</label>
	 </div>
							

      <div class="col s12 card" style="margin-top:50px;margin-left: 10px;">
			 <div style="padding-top: 10px; padding-left: 0px;">

					<table class="bordered responsive-table">
									            <tr style="font-weight: 400">
									            <td></td>
									         	<td>{{'donor'|translate}}</td>
									    	    <td>{{'budget_mayus1'|translate}}</td>
									    	   </tr>

									    	   <tr ng-repeat="a in project.definition.project_donor">
									    	   	<td>
									    	   		<i class="material-icons" style="color: teal;">attach_money</i>
									    	   	<td>
									    	   	 <span>
									               {{ a.project_donor_name }}
									             </span>
									            </td>

									            <td>
									    	   	 <input ng-model="a.project_donor_budget" type="number" name="">
									            </td>
									    	   </tr>
					</table>
			</div>
	</div>

</div>
