

  <div class="modal-content">
    <h5 class="report-title" style="color: #2196F3; margin-top:20px;" align="left">Your Session is About to Expire!</h5>
      <div class="row">
        <div class="col l4 m4 s12">
          <p align="left">Please select <b>'OK'</b> to continue</p>
        </div>
        <div class="col l8 m8 hide-on-small-only"> 
          <div class="card center promo blue-grey darken-1">
            <img title="Contact ReportHub with any questions!" src="images/registration.png" />
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="ngm.updateSession()">Ok</a>
  </div>