
<!-- bind html -->
<div class="row">
	<div class="col s12 m12 l12">
		<div class="card">
			<ul id="project_details_form" class="collection with-header">
				<li class="collection-header blue-grey darken-1"><h5 class="report-work-title white-text"><i class="material-icons left">playlist_add</i>Project Details</h5></li>
				<li class="collection-item avatar" >
					
					<!-- form -->

		      <div class="row" style="padding-top:20px;">
		        <div class="input-field col s12 m4">
		          <input id="ngm-project-name" type="text" class="validate"
								autofocus=""
								ng-model="project.definition.project_title"
								ng-disabled="project.definition.project_status === 'complete'"
								required>
		          <label for="ngm-project-name">Project Title</label>
		        </div>
		        
		        <div class="input-field col s12 m4">
		          <input id="ngm-start-date" type="text" class="datepicker"
		          	ng-disabled="project.definition.project_status === 'complete'"
								required>
		          <label for="ngm-start-date">Start Date</label>
		        </div>

		        <div class="input-field col s12 m4">
		          <input id="ngm-end-date" type="text" class="datepicker"
		          	ng-disabled="project.definition.project_status === 'complete'"
								required>
		          <label for="ngm-end-date">End Date</label>
		        </div>
		      </div>

		      <div class="row">

		        <div class="input-field col s12 m4"
		        	ng-class="{ 'error-label': healthProjectForm.$submitted && !project.definition.project_type }">
					    <select multiple class="validate"
					    	id="ngm-project-type"
					    	ng-model="project.definition.project_type" 
					    	ng-disabled="project.definition.project_status === 'complete'" 
					    	required>
					      <option value="" disabled selected>Select Project</option>
					      <option value="capacity_building">Capacity Building</option>
					      <option value="cardio_health">Cardio Health</option>
					      <option value="community_health">Community Health</option>
					      <option value="donation">Donation</option>
								<option value="health_education">Health Education</option>
					      <option value="outbreak_response">Outbreak Response</option>
					      <option value="phc">PHC</option>
								<option value="physical_rehabilitation">Physical Rehabilitation</option>
					      <option value="psycho_social">Psycho-Social Support</option>
					      <option value="trauma_care">Trauma Care</option>
					      <option value="other">Other</option>
					    </select>
					    <label for="ngm-project-type">Project Type</label>
		        </div>

		        <div class="input-field col s12 m2">
		          <input id="ngm-project-budget_usd" type="number" class="validate" min="1"
		          	ng-model="project.definition.project_budget_usd"
		          	ng-disabled="project.definition.project_status === 'complete'"
		          	ng-keyup="project.budgetKeyUp( 'usd' )">
		          <label for="ngm-project-budget_usd">Budget ( USD )</label>
		        </div>
		        <div class="input-field col s12 m2">
		          <input id="ngm-project-budget_afn" type="number" class="validate" min="1"
		          	ng-model="project.definition.project_budget_afn"
		          	ng-disabled="project.definition.project_status === 'complete'"
		          	ng-keyup="project.budgetKeyUp( 'afn' )">
		          <label for="ngm-project-budget_afn">Budget ( AFN )</label>
		        </div>

		        <div class="input-field col s12 m4"
		        	ng-class="{ 'error-label': healthProjectForm.$submitted && !project.definition.project_donor }">
					    <select multiple 
					    	id="ngm-project-donor"
					    	class="validate"
					    	ng-model="project.definition.project_donor"
					    	ng-disabled="project.definition.project_status === 'complete'"
					    	required>
					      <option value="" disabled selected>Select Donor</option>
					      <option value="dfid">DFID</option>
					      <option value="chf">CHF</option>
					      <option value="echo">ECHO</option>
					      <option value="global_fund">Global Fund</option>
					      <option value="icrc">ICRC</option>
					      <option value="ifrc">IFRC</option>
					      <option value="qatar_red_crescent">Qatar Red Crescent</option>
					      <option value="save_the_children">Save the Children</option>
					      <option value="usaid">USAID</option>
					      <option value="unicef">UNICEF</option>
					      <option value="who">WHO</option>
					      <option value="other">Other</option>
					    </select>
					    <label>Project Donor</label>
		        </div>
		      </div>		      

					<div class="row">
		        <div class="input-field col s12 m4 l4" style="padding-bottom:38px;">
		        	<input type="checkbox" id="ngm-project-other_partbers"
		        		ng-model="project.definition.implementing_partners_checked" />
		          <label for="ngm-project-other_partbers">Other Implementing Partners?</label>
		        </div>

		        <!-- ng-pattern="project.regex" -->

		        <div class="input-field col s12 m8 l8"
		        		ng-class="{ 'has-error' : healthProjectForm.implementing_partners_list.$error.pattern }">
		          <input 
		          		id="ngm-project-implementing_partners" 
		          		type="text" 
		          		class="validate"
		          		name="implementing_partners_list"
									ng-model="project.definition.implementing_partners"
									ng-disabled="!project.definition.implementing_partners_checked || project.definition.project_status === 'complete'">
		          <label for="ngm-project-implementing_partners">List Partners</label>
		        </div>
		      </div>

					<div class="row">
		        <div class="input-field col s12 m12 l12">
		          <textarea id="ngm-project-description" type="text" class="validate materialize-textarea"
								ng-model="project.definition.project_description"
								ng-disabled="project.definition.project_status === 'complete'"
								required>
							</textarea>
		          <label for="ngm-project-description">Project Description</label>
		        </div>
		      </div>

				</li>
			</ul>

		</div>
	</div>
</div>
