<style>
	.card .card-title {
		font-weight: 200;
		font-size: 1.8rem;
	}

	.card .card-content .card-title {
		line-height: 24px;
	}

	.pagination li.active {
		background-color: #009688;
	}
</style>

<div class="row">
	
	<div class="col s12 m4">
		<a href="#/response/afghanistan/drought/dashboard/all" target="_blank">
			<div class="card small blue-grey darken-1 hoverable">
				<div class="card-image">
					<img src="images/country/afghanistan/assessments/nutrition_admin.jpg">
				</div>
				<div class="card-content white-text">
					<p class="card-title">Drought Dashboard </p>
				</div>
				<div class="card-action">
					<a class="left" href="#/response/afghanistan/drought/dashboard/all" target="_blank">Go to Dashboard</a>
				</div>
			</div>
		</a>
	</div>

	<div class="col s12 m4">
		<a href="#/response/afghanistan/drought/dashboard/non_displaced" target="_blank">
			<div class="card small blue-grey darken-1 hoverable">
				<div class="card-image">
					<img src="images/country/afghanistan/assessments/nutrition_dashboard.jpg">
				</div>
				<div class="card-content white-text">
					<p class="card-title">Drought Non-Displaced </p>
				</div>
				<div class="card-action">
					<a class="left" href="#/response/afghanistan/drought/dashboard/non_displaced" target="_blank">Go to Dashboard</a>
				</div>
			</div>
		</a>
	</div>

	<div class="col s12 m4">
		<a href="#/response/afghanistan/drought/dashboard/displaced" target="_blank">
			<div class="card small blue-grey darken-1 hoverable">
				<div class="card-image">
					<img src="images/country/afghanistan/assessments/nutrition_admin.jpg">
				</div>
				<div class="card-content white-text">
					<p class="card-title">Drought Displaced </p>
				</div>
				<div class="card-action">
					<a class="left" href="#/response/afghanistan/drought/dashboard/displaced" target="_blank">Go to Dashboard</a>
				</div>
			</div>
		</a>
	</div>

	
</div>