  <style>

  /*
   stats card
  */
  .count, .label {
    z-index: 1 !important;
  }
  .chart-stats-card {
    display:block;
    position:relative;
    overflow:hidden;
  }
  .chart-stats-card i {
    position:absolute;
    font-size:6rem;
    right:0;
    bottom:-1rem;
  }
  .chart-stats-card .count {
    position:relative;
    font-weight:100;
    font-size:2.1rem;
    line-height:2.1rem;
  }
  .chart-stats-card .label {
    position:relative;
    font-weight:100;
    font-size:1.2rem;
    line-height:1.2rem;
    color:#757575;
  }  
  .chart-stats-card .name {
    position:relative;
    font-weight:300;
    font-size:1.1rem;
    line-height:1.1rem;
  }

  table.flood-forecast-chart-legend thead {
    border-bottom: none;
  }

  table.flood-forecast-chart-legend td {
    padding: 5px;
  }


</style>


  <!-- row -->
  <div class="row" ng-show="highchart.label.center.label.label === 0">

    <div class="col s6">

      <!-- chart with zero -->
      <div ng-show="highchart.label.center.label.label === 0">
        <div class="count" style="text-align:center; width:100%; height:100%; position:absolute; top:70px; padding-top:6%; font-size:5.6rem;">
          0
        </div>
        <div id="subLabel-center-{{highchart.id}}" class="label"
            style="text-align:center; width:100%; height:100%; position:absolute; top:140px; padding-top:6%;">
          <span>ZERO {{ highchart.title.text }}</span>
        </div>    
      </div>

    </div>

  </div>

  <div class="row" ng-show="highchart.label.center.label.label !== 0">

    <!-- title -->
    <div ng-if="highchart.title.text" 
        align="{{ highchart.title.align }}" 
        style="{{ highchart.title.style }}">{{ highchart.title.text }}</div>

    <!-- column -->
    <div class="col s4" style="padding-left:40px;">

      <!-- table -->
      <table class="highlight flood-forecast-chart-legend" height="120px;">
        <tr ng-repeat="row in highchart.table.data" style="cursor: pointer; cursor: hand;">
          <td style="background-color:{{ row.color }};" width="10%"> </td>
          <td style="padding-left: 20px;">{{ row.name }}</td>
          <td>{{ row.value | number }}</td>
        </tr>
      </table>  
    </div>

    <!-- column -->
    <div class="col s2">

      <!-- chart with data -->
      <div ng-show="highchart.label.center.label.label !==0 ">
        <div id="{{highchart.id}}" align="{{ highchart.align }}" ng-if="highchart.chartConfig">

          <!-- label -->
          <div id="label-center-{{highchart.id}}" class="count" 
              style="text-align:center; width: 70%; height: 100%; position:absolute; top:85px; padding-top:6%;">
            {{ highchart.label.center.label.prefix }}
            <span
                value="{{ highchart.label.center.label.from }}" 
                ng-count-to="{{ highchart.label.center.label.label }}" 
                duration="{{ highchart.label.center.label.duration }}"
                filter="{{ highchart.label.center.label.filter }}"
                params="{{ highchart.label.center.label.params }}"
                fraction-size="{{ highchart.label.center.label.fractionSize }}">
            </span>{{ highchart.label.center.label.postfix }}
          </div>

          <!-- sublabel -->
          <div id="subLabel-center-{{highchart.id}}" class="label"
              style="text-align:center; width:70%; height:100%; position:absolute; top:120px; padding-top:6%;">
            <span>{{ highchart.label.center.subLabel.label }}</span>
          </div>

           <highchart config="highchart.chartConfig" 
                    style="text-align:center; width:70%; height:100%; position:absolute; top:30px; padding-top:6%;"></highchart>

        </div>

      </div>
    
    </div>

  </div>






