
<!-- bind html -->
<div class="row">
  <div class="login title">
    <h3 style="font-weight:100;">Report Hub</h3>
  </div>
  <div class="col s12 m4 offset-m4">
    <div style="text-align:center;">
      <img title="forbidden" src="images/forbidden.png" width="60%"/>
    </div>
    <button
      title="Return"
      style="width: 100%;" 
      class="btn btn-large waves-effect waves-teal">
          <a href="{{ panel.style.home }}" style="color:#fff">Return</a>
    </button>
  </div>
</div>

<div style="background-color:rgba(0,0,0,0); height:{{ panel.style.paddingHeight }}px;"></div>
<div class="footer header" style="background-color: {{ panel.style.lightPrimaryColor }};"></div>
<div class="footer body" style="background-color: {{ panel.style.defaultPrimaryColor }};">
  <p style="color: white;font-weight:100;">Made by <a class="grey-text" href="http://immap.org"><b>iMMAP</b></a></p>
</div>