
<style>

.ngm-report-title {
  color: #2196F3;
}

</style>

<!-- bind html -->
<div class="row">

  <div class="col card s12" style="padding:20px;"> 
    <h5 class="ngm-report-title">Feature Request</h5>
    <div style="padding-left:10px;">
      <p style="padding-left:50px;"><b>Purpose:</b> Have a cool idea for some new features? Send the details to the ReportHub team so they can improve the system for you!</p>
      <p style="padding-left:10px;"><b><i class="material-icons left" style="color:teal;">send</i>Send To:</b> ReportHub Team @ <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a></p>
      <p style="padding-left:50px;"><b>Subject:</b> Feature Request</p>
      <p style="padding-left:50px;"><b>Details:</b> In the email please include the details and a description as listed below;</p>
    </div>
    <div style="padding:0px 100px 0px 80px;">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="id">Field</th>
            <th data-field="name">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name</td>
            <td>The name of the new feature. i.e. "New Dashboard Filter"</td>
          </tr>
          <tr>
            <td>Purpose</td>
            <td>The purpose of the new feature. i.e. "To filter by donor/organization"</td>
          </tr>             
          <tr>
            <td>Description</td>
            <td>A description of the new feature. i.e. "Have a filter menu on the dashboard"</td>
          </tr>       
        </tbody>
      </table> 
    </div>   
  </div>

</div>

<div class="row">

  <div class="col card s12" style="padding:20px;"> 
    <h5 class="ngm-report-title">Bug Report</h5>
    <div style="padding-left:10px;">
      <p style="padding-left:50px;"><b>Purpose:</b> Found an error or something is not working? Let the ReportHub team know so they can help!</p>
      <p style="padding-left:10px;"><b><i class="material-icons left" style="color:teal;">send</i>Send To:</b> ReportHub Team @ <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a></p>
      <p style="padding-left:50px;"><b>Subject:</b> Bug Report</p>
      <p style="padding-left:50px;"><b>Details:</b> In the email please include the details and a description as listed below;</p>
    </div>
    <div style="padding:0px 100px 0px 80px;">
      <table class="highlight">
        <thead>
          <tr>
            <th data-field="id">Field</th>
            <th data-field="name">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Page</td>
            <td>The name of the page where you encountered the error. i.e. "New Project Page"</td>
          </tr>
          <tr>
            <td>URL</td>
            <td>The URL of the page where you encountered the error</td>
          </tr>
          <tr>
            <td>Action</td>
            <td>The action you were performing at the time. i.e. "Adding a new Beneficiary"</td>
          </tr>
          <tr>
            <td>Error</td>
            <td>Any error messages that the ReportHub displayed</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>Any additional description of the error that will prove useful. i.e. "I removed a location and then added a new location"</td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>

</div>