
<style>

  .input-field .prefix {
  color: #616161; 
  }

  .ngm-report-title {
    color: #2196F3;
  }

  /* input label */
  textarea.materialize-textarea label,
  .input-field label,
  .input-field input:disabled + label {
    color: #26a69a;
  }
  /* valid input */
  textarea.materialize-textarea.valid,
  .input-field input.valid {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;    
  }
  /* valid input on focus */
  textarea.materialize-textarea.valid, 
  textarea.materialize-textarea:focus.valid,
  .input-field input:focus.valid {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  /* invalid input on focus */
  textarea.materialize-textarea:focus.invalid,
  .input-field input:focus.invalid {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
  }
  /* border for disabled */
  textarea.materialize-textarea:disabled,
  .input-field input:disabled, .select-wrapper input.select-dropdown:disabled {
    color: #616161;
    box-shadow: none !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26) !important;
  }

  /* form validation on submit */
  .ng-submitted .input-field input[type='text'].ng-invalid + label,
    .ng-submitted .input-field input[type='number'].ng-invalid + label,
    .ng-submitted .input-field input[type='email'].ng-invalid + label,
    .ng-submitted .input-field input[type='password'].ng-invalid + label {
    color: #e57373;
    font-weight: 400;
  }

  /* manual class for label error */
  .input-field.error-label label {
    color: #e57373;
    font-weight: 400;   
  }


</style>

<!-- bind html -->
<div class="row"  style="padding-bottom:40px;">

  <ul class="collection with-header">

    <!-- header -->
    <li class="collection-header blue-grey darken-1">
      <h4 class="report-work-title white-text" style="margin-top:20px; font-size:2.1rem;">Invitation!</h4>
    </li>

    <!-- project details -->
    <li class="collection-item avatar" class="collection-item avatar">
        <i class="material-icons circle white teal-text" style="font-size:40px; margin-top:10px;">assignment_turned_in</i>
        <h5 class="ngm-report-title">Health Reporting for 2016</h5>
        <p style="font-size: 1.2rem;">We will be conducting workshops to ensure you are comfortable using ReportHub!</p>
        <br/>
        <p style="font-size: 1.2rem;">Please Note: If these workshops are not suitable please arange another time with us @ <a href="mailto:ngmreporthub@gmail.com">ngmReportHub@gmail.com</a></p>
        <br/>        
        <ul>
        <li class="collection-item avatar">
          <i class="material-icons circle green">location_on</i>
          <p style="font-size: 1.1rem;margin-top:10px"><b style="font-weight:400;">Location?</b> UNOCA Compound Jalalabad Rd, WHO Office</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">important_devices</i>
          <p style="font-size: 1.1rem;margin-top:10px"><b style="font-weight:400;">What is provided?</b> A workstation with internet, ReportHub documentation as well as lunch!</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">playlist_add_check</i>
          <p style="font-size: 1.1rem;margin-top:10px"><b style="font-weight:400;">What to bring?</b> Please bring all your project proposals for 2016</p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">important_devices</i>
          <p style="font-size: 1.1rem;margin-top:10px"><b style="font-weight:400;">Bonus!</b> Any past project proposals can also be entered! So please bring in past projects also</p>
        </li>
    </li>     

  </ul>

</div>

<div class="row"  ng-repeat="data in panel.data track by $index">

  <ul class="collection with-header" ng-repeat="workshop in data.workshops | orderBy:title track by $index" style="padding-bottom:70px;">

    <!-- header -->
    <li class="collection-header {{ workshop.theme }}" style="padding-top:20px;">
      <h4 class="report-work-title" style="margin-top:20px; font-size:2.1rem;">{{ workshop.title }}</h4>
      <p class="right" style="margin-top:-45px;font-size:1.3rem;"><i class="material-icons left">date_range</i>{{ workshop.date }} - {{ workshop.time }}</p>
    </li>

    <li class="collection-item avatar" class="collection-item avatar" ng-repeat="participant in workshop.participants track by $index">
      <div class="row">
        <form name="ngm-workshop-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}-form" class="col s12 m12 l12" novalidate>
          <div class="input-field col s12 m2">
            <i class="material-icons prefix">person</i>
            <input id="ngm-workshop-organization-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}" type="text" class="validate"
              ng-model="participant.organization"
              ng-disabled="participant.taken"
              required>
            <label for="ngm-workshop-organization-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}">Organization</label>
          </div>
          <div class="input-field col s12 m2">
            <input id="ngm-workshop-name-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}" type="text" class="validate"
              ng-model="participant.name"
              ng-disabled="participant.taken"
              required>
            <label for="ngm-workshop-name-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}">Name</label>
          </div>
          <div class="input-field col s12 m2">
            <input id="ngm-workshop-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}" type="email" class="validate"
              ng-model="participant.email"
              ng-disabled="participant.taken"
              required>
            <label for="ngm-workshop-email-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}">Email</label>
          </div> 
          <div class="input-field col s12 m2">
            <input id="ngm-workshop-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}" type="number" class="validate"
              ng-model="participant.phone"
              ng-disabled="participant.taken"
              required>
            <label for="ngm-workshop-phone-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}">Phone</label>
          </div>
          <div class="input-field col s12 m2">
            <select id="ngm-workshop-dutystation-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}"
              class="validate"
              ng-model="participant.duty_station" 
              ng-disabled="participant.taken" 
              required>
              <option value="" disabled selected>Select Duty Station</option>
              <option value="kabul">Kabul</option>
              <option value="kandahar">Kandahar</option>
            </select>
            <label for="ngm-workshop-dutystation-{{ $parent.$parent.$index }}-{{ $parent.$index }}-{{ $index }}">Duty Station</label>
          </div>
          <div class="col s12 m2">
            <button class="waves-effect waves-light btn" 
              title="Register" 
              ng-click="panel.register($parent.$parent.$index, $parent.$index, $index)"
              ng-disabled="participant.taken">
              <i class="material-icons left">add</i>Register
            </button>
          </div>
        </form>
      </div>      
    </li>
  </ul>

</div>